{
    "swagger": "2.0", 
    "info": {
        "title": "Product Catalog Management", 
        "description": "This is Swagger UI environment generated for the TMF Product Catalog Management specification", 
        "version": "3.0"
    }, 
    "host": "biologeek.orange-labs.fr", 
    "basePath": "/tmf-api/productCatalogManagement", 
    "schemes": [
        "https"
    ], 
    "consumes": [
        "application/json"
    ], 
    "produces": [
        "application/json"
    ], 
    "paths": {
        "/catalog": {
            "get": {
                "operationId": "listCatalog", 
                "summary": "List or find 'Catalog' objects", 
                "tags": [
                    "catalog"
                ], 
                "parameters": [
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "fields", 
                        "description": "Comma separated properties to display in response"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "name", 
                        "description": "For filtering: Name of the catalog"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "@type", 
                        "description": "For filtering: Indicates the (class) type of catalog. For entity catalogs, this will be 'EntityCatalog'."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "@schemaLocation", 
                        "description": "For filtering: This field provides a link to the schema describing this REST resource"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "@baseType", 
                        "description": "For filtering: Indicates<b> </b>the base (class) type of this REST resource"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "version", 
                        "description": "For filtering: Catalog version"
                    }, 
                    {
                        "name": "validFor.startDateTime", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: An instant of time, starting at the TimePeriod"
                    }, 
                    {
                        "name": "validFor.endDateTime", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: An instant of time, ending at the TimePeriod."
                    }, 
                    {
                        "name": "lastUpdate", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: Date and time of the last update"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "lifecycleStatus", 
                        "description": "For filtering: Used to indicate the current lifecycle status"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/Catalog"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/catalog/{id}": {
            "get": {
                "operationId": "retrieveCatalog", 
                "summary": "Retrieves a 'Catalog' by Id", 
                "tags": [
                    "catalog"
                ], 
                "parameters": [
                    {
                        "required": true, 
                        "type": "string", 
                        "name": "id", 
                        "in": "path", 
                        "description": "Identifier of the Catalog"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/Catalog"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/category": {
            "get": {
                "operationId": "listCategory", 
                "summary": "List or find 'Category' objects", 
                "tags": [
                    "category"
                ], 
                "parameters": [
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "fields", 
                        "description": "Comma separated properties to display in response"
                    }, 
                    {
                        "name": "lastUpdate", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: Date and time of the last update"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "version", 
                        "description": "For filtering: Category version"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "lifecycleStatus", 
                        "description": "For filtering: Used to indicate the current lifecycle status"
                    }, 
                    {
                        "name": "validFor.startDateTime", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: An instant of time, starting at the TimePeriod"
                    }, 
                    {
                        "name": "validFor.endDateTime", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: An instant of time, ending at the TimePeriod."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "parentId", 
                        "description": "For filtering: Unique identifier of the parent category"
                    }, 
                    {
                        "type": "boolean", 
                        "required": false, 
                        "in": "query", 
                        "name": "isRoot", 
                        "description": "For filtering: If true, this Boolean indicates that the category is a root of categories"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "name", 
                        "description": "For filtering: Name of the category"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "@type", 
                        "description": "For filtering: the class type of the Category"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "@baseType", 
                        "description": "For filtering: the base class type of the category"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "@schemaLocation", 
                        "description": "For filtering: link to the schema describing this category"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "categories.version", 
                        "description": "For filtering: Category version"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "categories.name", 
                        "description": "For filtering: Name of the category"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "categories.@type", 
                        "description": "For filtering: the class type of the Category"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "productOfferings.name", 
                        "description": "For filtering: Name of the product offering"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "productOfferings.@type", 
                        "description": "For filtering: the class type of the product offering"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/Category"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/category/{id}": {
            "get": {
                "operationId": "retrieveCategory", 
                "summary": "Retrieves a 'Category' by Id", 
                "tags": [
                    "category"
                ], 
                "parameters": [
                    {
                        "required": true, 
                        "type": "string", 
                        "name": "id", 
                        "in": "path", 
                        "description": "Identifier of the Category"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/Category"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/productOffering": {
            "get": {
                "operationId": "listProductOffering", 
                "summary": "List or find 'ProductOffering' objects", 
                "tags": [
                    "productOffering"
                ], 
                "parameters": [
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "fields", 
                        "description": "Comma separated properties to display in response"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "name", 
                        "description": "For filtering: Name of the productOffering"
                    }, 
                    {
                        "type": "boolean", 
                        "required": false, 
                        "in": "query", 
                        "name": "isBundle", 
                        "description": "For filtering: isBundle determines whether a productOffering represents a single productOffering (false), or a bundle of productOfferings (true)."
                    }, 
                    {
                        "name": "lastUpdate", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: Date and time of the last update"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "lifecycleStatus", 
                        "description": "For filtering: Used to indicate the current lifecycle status"
                    }, 
                    {
                        "name": "validFor.startDateTime", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: An instant of time, starting at the TimePeriod"
                    }, 
                    {
                        "name": "validFor.endDateTime", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: An instant of time, ending at the TimePeriod."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "version", 
                        "description": "For filtering: ProductOffering version"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "@type", 
                        "description": "For filtering: Class type of the product offering"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "@baseType", 
                        "description": "For filtering: Immediate base (class) type of the product offering"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "@schemaLocation", 
                        "description": "For filtering: A link to the schema describing this product offerring"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "place.name", 
                        "description": "For filtering: A user-friendly name for the place, such as \"Paris Store\", \"London Store\", \"Main Home\""
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "place.address", 
                        "description": "For filtering: A string characterizing an address (for instance a formatted address or an identifier taken from an address database or an address API)."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "place.@type", 
                        "description": "For filtering: class type of the Place object"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "place.role", 
                        "description": "For filtering: Role of the place (for instance: 'home delivery', 'shop retrieval')"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "serviceLevelAgreement.name", 
                        "description": "For filtering: Name of the service level agreement"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "serviceLevelAgreement.@type", 
                        "description": "For filtering: class type of Service Level Agreement"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "productSpecification.version", 
                        "description": "For filtering: Version of the product specification"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "productSpecification.name", 
                        "description": "For filtering: Name of the product specification"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "productSpecification.@type", 
                        "description": "For filtering: class type of Product Specification"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "channel.name", 
                        "description": "For filtering: Name of the channel"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "channel.@type", 
                        "description": "For filtering: (Class) type of the channel like DistributionChannel, SalesChannel and so on"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "serviceCandidate.version", 
                        "description": "For filtering: Version of the service candidate"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "serviceCandidate.name", 
                        "description": "For filtering: Name of the service candidate"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "serviceCandidate.@type", 
                        "description": "For filtering: The Class type of Service Candidate"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "attachment.type", 
                        "description": "For filtering: Attachment type such as video, picture"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "attachment.url", 
                        "description": "For filtering: Uniform Resource Locator, is a web page address (a subset of URI)"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "attachment.mimeType", 
                        "description": "For filtering: Attachment mime type such as extension file for video, picture and document"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "attachment.@type", 
                        "description": "For filtering: the class type of the Attachment"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "attachment.@baseType", 
                        "description": "For filtering: The immediate base class type of the attachment"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "attachment.@schemaLocation", 
                        "description": "For filtering: A link to the schema describing this attachment entity"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "category.version", 
                        "description": "For filtering: Category version"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "category.name", 
                        "description": "For filtering: Name of the category"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "category.@type", 
                        "description": "For filtering: the class type of the Category"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceCandidate.version", 
                        "description": "For filtering: Version of the resource candidate"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceCandidate.name", 
                        "description": "For filtering: Name of the resource candidate"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceCandidate.@type", 
                        "description": "For filtering: The Class type of Resource Candidate"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "productOfferingTerm.name", 
                        "description": "For filtering: Name of the productOfferingTerm"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "productOfferingTerm.@type", 
                        "description": "For filtering: The class type of ProductOfferingTerm"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "productOfferingTerm.@schemaLocation", 
                        "description": "For filtering: A link to the schema describing this product offering term"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "marketSegment.name", 
                        "description": "For filtering: Name of the market segment"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "marketSegment.@type", 
                        "description": "For filtering: (Class) type of the market segment"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "productOfferingPrice.name", 
                        "description": "For filtering: Name of the productOfferingPrice"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "productOfferingPrice.priceType", 
                        "description": "For filtering: Indicates the price type: recurring, one time, usage"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "productOfferingPrice.unitOfMeasure", 
                        "description": "For filtering: Could be minutes, GB..."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "productOfferingPrice.recurringChargePeriod", 
                        "description": "For filtering: Could be month, week..."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "productOfferingPrice.version", 
                        "description": "For filtering: ProductOffering version"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "productOfferingPrice.@type", 
                        "description": "For filtering: The class type of the product offering price"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "productOfferingPrice.@baseType", 
                        "description": "For filtering: the immediate base class of product offering price"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "productOfferingPrice.@schemaLocation", 
                        "description": "For filtering: hyperlink reference to the product offering price schema"
                    }, 
                    {
                        "type": "boolean", 
                        "required": false, 
                        "in": "query", 
                        "name": "productOfferingPrice.isBundle", 
                        "description": "For filtering: a flag indicating if this product offering price is bundle (composite) or not"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "agreement.name", 
                        "description": "For filtering: Name of the agreement"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "agreement.@type", 
                        "description": "For filtering: class type of the Agreement"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "bundledProductOffering.lifecycleStatus", 
                        "description": "For filtering: Used to indicate the current lifecycle status"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "bundledProductOffering.name", 
                        "description": "For filtering: Name of the BundledProductOffering"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "prodSpecCharValueUse.name", 
                        "description": "For filtering: Name of the associated productSpecCharacteristic"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "prodSpecCharValueUse.valueType", 
                        "description": "For filtering: A kind of value that the characteristic can take on, such as numeric, text and so forth"
                    }, 
                    {
                        "type": "integer", 
                        "required": false, 
                        "in": "query", 
                        "name": "prodSpecCharValueUse.minCardinality", 
                        "description": "For filtering: The minimum number of instances a CharacteristicValue can take on. For example, zero to five phone numbers in a group calling plan, where zero is the value for the minCardinality."
                    }, 
                    {
                        "type": "integer", 
                        "required": false, 
                        "in": "query", 
                        "name": "prodSpecCharValueUse.maxCardinality", 
                        "description": "For filtering: The maximum number of instances a CharacteristicValue can take on. For example, zero to five phone numbers in a group calling plan, where five is the value for the maxCardinality."
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ProductOffering"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/productOffering/{id}": {
            "get": {
                "operationId": "retrieveProductOffering", 
                "summary": "Retrieves a 'ProductOffering' by Id", 
                "tags": [
                    "productOffering"
                ], 
                "parameters": [
                    {
                        "required": true, 
                        "type": "string", 
                        "name": "id", 
                        "in": "path", 
                        "description": "Identifier of the Product Offering"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ProductOffering"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/productOfferingPrice": {
            "get": {
                "operationId": "listProductOfferingPrice", 
                "summary": "List or find 'ProductOfferingPrice' objects", 
                "tags": [
                    "productOfferingPrice"
                ], 
                "parameters": [
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "fields", 
                        "description": "Comma separated properties to display in response"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "name", 
                        "description": "For filtering: Name of the productOfferingPrice"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "version", 
                        "description": "For filtering: ProductOffering version"
                    }, 
                    {
                        "name": "validFor.startDateTime", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: An instant of time, starting at the TimePeriod"
                    }, 
                    {
                        "name": "validFor.endDateTime", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: An instant of time, ending at the TimePeriod."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "priceType", 
                        "description": "For filtering: A category that describes the price, such as recurring, discount, allowance, penalty, and so forth."
                    }, 
                    {
                        "name": "unitOfMeasure.value", 
                        "format": "float", 
                        "required": false, 
                        "in": "query", 
                        "type": "number", 
                        "description": "For filtering: A positive floating point number"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "unitOfMeasure.unit", 
                        "description": "For filtering: Currency (ISO4217 norm uses 3 letters to define the currency)"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "recurringChargePeriodType", 
                        "description": "For filtering: The period to repeat the application of the price\nCould be month, week..."
                    }, 
                    {
                        "type": "integer", 
                        "required": false, 
                        "in": "query", 
                        "name": "recurringChargePeriodLength", 
                        "description": "For filtering: the period of the recurring charge:  1, 2, ... .It sets to zero if it is not applicable"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "@type", 
                        "description": "For filtering: The class type of this Product offering"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "@baseType", 
                        "description": "For filtering: the immediate base class type of this product offering"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "@schemaLocation", 
                        "description": "For filtering: hyperlink reference to the schema describing this resource"
                    }, 
                    {
                        "name": "lastUpdate", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: the last update time of this POP"
                    }, 
                    {
                        "type": "boolean", 
                        "required": false, 
                        "in": "query", 
                        "name": "isBundle", 
                        "description": "For filtering: A flag indicating if this POP is composite (bundle) or not"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "lifecycleStatus", 
                        "description": "For filtering: the lifecycle status of this POP"
                    }, 
                    {
                        "name": "price.value", 
                        "format": "float", 
                        "required": false, 
                        "in": "query", 
                        "type": "number", 
                        "description": "For filtering: A positive floating point number"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "price.unit", 
                        "description": "For filtering: Currency (ISO4217 norm uses 3 letters to define the currency)"
                    }, 
                    {
                        "name": "percentage", 
                        "format": "float", 
                        "required": false, 
                        "in": "query", 
                        "type": "number", 
                        "description": "For filtering: Percentage to apply for ProdOfferPriceAlteration (Discount)"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "bundledPopRelationships.name", 
                        "description": "For filtering: Name of  the associated product offering"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "bundledPopRelationships.@type", 
                        "description": "For filtering: (Class) type of the associated product offering"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "popRelationships.name", 
                        "description": "For filtering: Name of  the associated product offering"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "popRelationships.@type", 
                        "description": "For filtering: (Class) type of the associated product offering"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "prodSpecCharValueUse.name", 
                        "description": "For filtering: Name of the associated productSpecCharacteristic"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "prodSpecCharValueUse.valueType", 
                        "description": "For filtering: A kind of value that the characteristic can take on, such as numeric, text and so forth"
                    }, 
                    {
                        "type": "integer", 
                        "required": false, 
                        "in": "query", 
                        "name": "prodSpecCharValueUse.minCardinality", 
                        "description": "For filtering: The minimum number of instances a CharacteristicValue can take on. For example, zero to five phone numbers in a group calling plan, where zero is the value for the minCardinality."
                    }, 
                    {
                        "type": "integer", 
                        "required": false, 
                        "in": "query", 
                        "name": "prodSpecCharValueUse.maxCardinality", 
                        "description": "For filtering: The maximum number of instances a CharacteristicValue can take on. For example, zero to five phone numbers in a group calling plan, where five is the value for the maxCardinality."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "productOfferingTerm.name", 
                        "description": "For filtering: Name of the productOfferingTerm"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "productOfferingTerm.@type", 
                        "description": "For filtering: The class type of ProductOfferingTerm"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "productOfferingTerm.@schemaLocation", 
                        "description": "For filtering: A link to the schema describing this product offering term"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "place.name", 
                        "description": "For filtering: A user-friendly name for the place, such as \"Paris Store\", \"London Store\", \"Main Home\""
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "place.address", 
                        "description": "For filtering: A string characterizing an address (for instance a formatted address or an identifier taken from an address database or an address API)."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "place.@type", 
                        "description": "For filtering: class type of the Place object"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "place.role", 
                        "description": "For filtering: Role of the place (for instance: 'home delivery', 'shop retrieval')"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "constraint.version", 
                        "description": "For filtering: constraint version"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "constraint.name", 
                        "description": "For filtering: Name given to the constraint"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "constraint.@type", 
                        "description": "For filtering: The (class) type of the constraint"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "pricingLogicAlgorithm.name", 
                        "description": "For filtering: Name given to the PLA"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "pricingLogicAlgorithm.plaSpecId", 
                        "description": "For filtering: id of corresponding PLA specification"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "pricingLogicAlgorithm.@type", 
                        "description": "For filtering: The class type of this PLA"
                    }, 
                    {
                        "name": "tax.taxRate", 
                        "format": "float", 
                        "required": false, 
                        "in": "query", 
                        "type": "number", 
                        "description": "For filtering: Tax rate"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ProductOfferingPrice"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/productOfferingPrice/{id}": {
            "get": {
                "operationId": "retrieveProductOfferingPrice", 
                "summary": "Retrieves a 'ProductOfferingPrice' by Id", 
                "tags": [
                    "productOfferingPrice"
                ], 
                "parameters": [
                    {
                        "required": true, 
                        "type": "string", 
                        "name": "id", 
                        "in": "path", 
                        "description": "Identifier of the Product Offering Price"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ProductOfferingPrice"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/productSpecification": {
            "get": {
                "operationId": "listProductSpecification", 
                "summary": "List or find 'ProductSpecification' objects", 
                "tags": [
                    "productSpecification"
                ], 
                "parameters": [
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "fields", 
                        "description": "Comma separated properties to display in response"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "name", 
                        "description": "For filtering: Name of the product specification"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "brand", 
                        "description": "For filtering: The manufacturer or trademark of the specification"
                    }, 
                    {
                        "type": "boolean", 
                        "required": false, 
                        "in": "query", 
                        "name": "isBundle", 
                        "description": "For filtering: isBundle determines whether a productSpecification represents a single productSpecification (false), or a bundle of productSpecification (true)."
                    }, 
                    {
                        "name": "lastUpdate", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: Date and time of the last update"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "lifecycleStatus", 
                        "description": "For filtering: Used to indicate the current lifecycle status"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "productNumber", 
                        "description": "For filtering: An identification number assigned to uniquely identity the specification"
                    }, 
                    {
                        "name": "validFor.startDateTime", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: An instant of time, starting at the TimePeriod"
                    }, 
                    {
                        "name": "validFor.endDateTime", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: An instant of time, ending at the TimePeriod."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "version", 
                        "description": "For filtering: Product specification version"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "@type", 
                        "description": "For filtering: class type of the product specification"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "@baseType", 
                        "description": "For filtering: base class type  (immediate parent) of the product specification"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "@schemaLocation", 
                        "description": "For filtering: hyperlink reference to schema describing this object"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "relatedParty.role", 
                        "description": "For filtering: Role of the related party."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "relatedParty.name", 
                        "description": "For filtering: Name of the related party"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "productSpecCharacteristic.name", 
                        "description": "For filtering: Name of the productSpecCharacteristic"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "productSpecCharacteristic.valueType", 
                        "description": "For filtering: A kind of value that the characteristic can take on, such as numeric, text and so forth"
                    }, 
                    {
                        "type": "boolean", 
                        "required": false, 
                        "in": "query", 
                        "name": "productSpecCharacteristic.configurable", 
                        "description": "For filtering: If true, the Boolean indicates that the productSpecCharacteristic is configurable"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "productSpecCharacteristic.@type", 
                        "description": "For filtering: the class type of this characteristic"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "productSpecCharacteristic.@schemaLocation", 
                        "description": "For filtering: hyperlink reference to the schema describing this characteristic"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "serviceSpecification.name", 
                        "description": "For filtering: Name of the requiredServiceSpecification"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "serviceSpecification.version", 
                        "description": "For filtering: Service specification version"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "serviceSpecification.@type", 
                        "description": "For filtering: the class type of associated service specification"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "productSpecificationRelationship.type", 
                        "description": "For filtering: Type of relationship such as migration, substitution, dependency, exclusivity"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecification.name", 
                        "description": "For filtering: Name of the requiredResourceSpecification"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecification.version", 
                        "description": "For filtering: Resource specification version"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecification.@type", 
                        "description": "For filtering: the class type of associated resource specification"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "attachment.type", 
                        "description": "For filtering: Attachment type such as video, picture"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "attachment.url", 
                        "description": "For filtering: Uniform Resource Locator, is a web page address (a subset of URI)"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "attachment.mimeType", 
                        "description": "For filtering: Attachment mime type such as extension file for video, picture and document"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "attachment.@type", 
                        "description": "For filtering: the class type of the Attachment"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "attachment.@baseType", 
                        "description": "For filtering: The immediate base class type of the attachment"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "attachment.@schemaLocation", 
                        "description": "For filtering: A link to the schema describing this attachment entity"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "bundledProductSpecification.lifecycleStatus", 
                        "description": "For filtering: Used to indicate the current lifecycle status"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "bundledProductSpecification.name", 
                        "description": "For filtering: Name of the product specification"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "bundledProductSpecification.@type", 
                        "description": "For filtering: the class type of the corresponding product specification"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ProductSpecification"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/productSpecification/{id}": {
            "get": {
                "operationId": "retrieveProductSpecification", 
                "summary": "Retrieves a 'ProductSpecification' by Id", 
                "tags": [
                    "productSpecification"
                ], 
                "parameters": [
                    {
                        "required": true, 
                        "type": "string", 
                        "name": "id", 
                        "in": "path", 
                        "description": "Identifier of the Product Specification"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ProductSpecification"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/importJob": {
            "get": {
                "operationId": "listImportJob", 
                "summary": "List or find 'ImportJob' objects", 
                "tags": [
                    "importJob"
                ], 
                "parameters": [
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "fields", 
                        "description": "Comma separated properties to display in response"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "contentType", 
                        "description": "For filtering: Indicates the format of the imported data"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "path", 
                        "description": "For filtering: URL of the root resource where the content of the file specified by the import job must be applied"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "status", 
                        "description": "For filtering: Status of the import job (not started, running, succeeded, failed)"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "url", 
                        "description": "For filtering: URL of the file containing the data to be imported"
                    }, 
                    {
                        "name": "completionDate", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: Date at which the job was completed"
                    }, 
                    {
                        "name": "creationDate", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: Date at which the job was created"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "errorLog", 
                        "description": "For filtering: Reason for failure if status is failed"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ImportJob"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }, 
            "post": {
                "operationId": "createImportJob", 
                "summary": "Creates a 'ImportJob'", 
                "tags": [
                    "importJob"
                ], 
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/ImportJob_Create"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "name": "importJob", 
                        "description": "The Import Job to be created"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Created", 
                        "schema": {
                            "$ref": "#/definitions/ImportJob"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/importJob/{id}": {
            "get": {
                "operationId": "retrieveImportJob", 
                "summary": "Retrieves a 'ImportJob' by Id", 
                "tags": [
                    "importJob"
                ], 
                "parameters": [
                    {
                        "required": true, 
                        "type": "string", 
                        "name": "id", 
                        "in": "path", 
                        "description": "Identifier of the Import Job"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ImportJob"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/exportJob": {
            "get": {
                "operationId": "listExportJob", 
                "summary": "List or find 'ExportJob' objects", 
                "tags": [
                    "exportJob"
                ], 
                "parameters": [
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "fields", 
                        "description": "Comma separated properties to display in response"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "query", 
                        "description": "For filtering: Used to scope the exported data"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "path", 
                        "description": "For filtering: URL of the root resource acting as the source for streaming content to the file specified by the export job"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "contentType", 
                        "description": "For filtering: The format of the exported data"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "status", 
                        "description": "For filtering: Status of the export job (not started, running, succeeded, failed)"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "url", 
                        "description": "For filtering: URL of the file containing the data to be exported"
                    }, 
                    {
                        "name": "completionDate", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: Data at which the job was completed"
                    }, 
                    {
                        "name": "creationDate", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: Date at which the job was created"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "errorLog", 
                        "description": "For filtering: Reason for failure"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ExportJob"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }, 
            "post": {
                "operationId": "createExportJob", 
                "summary": "Creates a 'ExportJob'", 
                "tags": [
                    "exportJob"
                ], 
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/ExportJob_Create"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "name": "exportJob", 
                        "description": "The Export Job to be created"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Created", 
                        "schema": {
                            "$ref": "#/definitions/ExportJob"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/exportJob/{id}": {
            "get": {
                "operationId": "retrieveExportJob", 
                "summary": "Retrieves a 'ExportJob' by Id", 
                "tags": [
                    "exportJob"
                ], 
                "parameters": [
                    {
                        "required": true, 
                        "type": "string", 
                        "name": "id", 
                        "in": "path", 
                        "description": "Identifier of the Export Job"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ExportJob"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/hub": {
            "post": {
                "operationId": "registerListener", 
                "summary": "Register a listener", 
                "description": "Sets the communication endpoint address the service instance must use to deliver information about its health state, execution state, failures and metrics.", 
                "tags": [
                    "events subscription"
                ], 
                "parameters": [
                    {
                        "name": "data", 
                        "schema": {
                            "$ref": "#/definitions/EventSubscriptionInput"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "description": "Data containing the callback endpoint to deliver the information"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Subscribed", 
                        "schema": {
                            "$ref": "#/definitions/EventSubscription"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/hub/{id}": {
            "delete": {
                "operationId": "unregisterListener", 
                "summary": "Unregister a listener", 
                "description": "Resets the communication endpoint address the service instance must use to deliver information about its health state, execution state, failures and metrics.", 
                "tags": [
                    "events subscription"
                ], 
                "parameters": [
                    {
                        "name": "id", 
                        "type": "string", 
                        "required": true, 
                        "in": "path", 
                        "description": "The id of the registered listener"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Unsubscribed"
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }
    }, 
    "definitions": {
        "ProductOffering": {
            "type": "object", 
            "description": "Represents entities that are orderable from the provider of the catalog, this resource includes pricing information.", 
            "properties": {
                "id": {
                    "type": "string", 
                    "description": "Unique identifier of the productOffering"
                }, 
                "href": {
                    "type": "string", 
                    "description": "Reference of the ProductOffering"
                }, 
                "name": {
                    "type": "string", 
                    "description": "Name of the productOffering"
                }, 
                "description": {
                    "type": "string", 
                    "description": "Description of the productOffering"
                }, 
                "isBundle": {
                    "type": "boolean", 
                    "description": "isBundle determines whether a productOffering represents a single productOffering (false), or a bundle of productOfferings (true)."
                }, 
                "lastUpdate": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "Date and time of the last update"
                }, 
                "lifecycleStatus": {
                    "type": "string", 
                    "description": "Used to indicate the current lifecycle status"
                }, 
                "validFor": {
                    "$ref": "#/definitions/TimePeriod", 
                    "description": "The period for which the productOffering is valid"
                }, 
                "version": {
                    "type": "string", 
                    "description": "ProductOffering version"
                }, 
                "@type": {
                    "type": "string", 
                    "description": "Class type of the product offering"
                }, 
                "@baseType": {
                    "type": "string", 
                    "description": "Immediate base (class) type of the product offering"
                }, 
                "@schemaLocation": {
                    "type": "string", 
                    "description": "A link to the schema describing this product offerring"
                }, 
                "place": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/PlaceRef"
                    }
                }, 
                "serviceLevelAgreement": {
                    "$ref": "#/definitions/SLARef"
                }, 
                "productSpecification": {
                    "$ref": "#/definitions/ProductSpecificationRef"
                }, 
                "channel": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ChannelRef"
                    }
                }, 
                "serviceCandidate": {
                    "$ref": "#/definitions/ServiceCandidateRef"
                }, 
                "attachment": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/Attachment"
                    }
                }, 
                "category": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/CategoryRef"
                    }
                }, 
                "resourceCandidate": {
                    "$ref": "#/definitions/ResourceCandidateRef"
                }, 
                "productOfferingTerm": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ProductOfferingTerm"
                    }
                }, 
                "marketSegment": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/MarketSegmentRef"
                    }
                }, 
                "productOfferingPrice": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ProductOfferingPrice"
                    }
                }, 
                "agreement": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/AgreementRef"
                    }
                }, 
                "bundledProductOffering": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/BundledProductOffering"
                    }
                }, 
                "prodSpecCharValueUse": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ProdSpecCharValueUse"
                    }
                }
            }
        }, 
        "ImportJob": {
            "type": "object", 
            "description": "Represents a task used to import resources from a file", 
            "properties": {
                "id": {
                    "type": "string", 
                    "description": "Identifier of the import job"
                }, 
                "href": {
                    "type": "string", 
                    "description": "Reference of the import job"
                }, 
                "contentType": {
                    "type": "string", 
                    "description": "Indicates the format of the imported data"
                }, 
                "path": {
                    "type": "string", 
                    "description": "URL of the root resource where the content of the file specified by the import job must be applied"
                }, 
                "status": {
                    "type": "string", 
                    "description": "Status of the import job (not started, running, succeeded, failed)"
                }, 
                "url": {
                    "type": "string", 
                    "description": "URL of the file containing the data to be imported"
                }, 
                "completionDate": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "Date at which the job was completed"
                }, 
                "creationDate": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "Date at which the job was created"
                }, 
                "errorLog": {
                    "type": "string", 
                    "description": "Reason for failure if status is failed"
                }
            }
        }, 
        "ImportJob_Create": {
            "type": "object", 
            "description": "Represents a task used to import resources from a file\nSkipped properties: id,href", 
            "required": [
                "url"
            ], 
            "properties": {
                "contentType": {
                    "type": "string", 
                    "description": "Indicates the format of the imported data"
                }, 
                "path": {
                    "type": "string", 
                    "description": "URL of the root resource where the content of the file specified by the import job must be applied"
                }, 
                "status": {
                    "type": "string", 
                    "description": "Status of the import job (not started, running, succeeded, failed)"
                }, 
                "url": {
                    "type": "string", 
                    "description": "URL of the file containing the data to be imported"
                }, 
                "completionDate": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "Date at which the job was completed"
                }, 
                "creationDate": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "Date at which the job was created"
                }, 
                "errorLog": {
                    "type": "string", 
                    "description": "Reason for failure if status is failed"
                }
            }
        }, 
        "ProductSpecification": {
            "type": "object", 
            "description": "Is a detailed description of a tangible or intangible object made available externally in the form of a ProductOffering to customers or other parties playing a party role.", 
            "properties": {
                "id": {
                    "type": "string", 
                    "description": "Unique identifier of the product specification"
                }, 
                "href": {
                    "type": "string", 
                    "description": "Reference of the product specification"
                }, 
                "name": {
                    "type": "string", 
                    "description": "Name of the product specification"
                }, 
                "description": {
                    "type": "string", 
                    "description": "A narrative that explains in detail what the product specification is"
                }, 
                "brand": {
                    "type": "string", 
                    "description": "The manufacturer or trademark of the specification"
                }, 
                "isBundle": {
                    "type": "boolean", 
                    "description": "isBundle determines whether a productSpecification represents a single productSpecification (false), or a bundle of productSpecification (true)."
                }, 
                "lastUpdate": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "Date and time of the last update"
                }, 
                "lifecycleStatus": {
                    "type": "string", 
                    "description": "Used to indicate the current lifecycle status"
                }, 
                "productNumber": {
                    "type": "string", 
                    "description": "An identification number assigned to uniquely identity the specification"
                }, 
                "validFor": {
                    "$ref": "#/definitions/TimePeriod", 
                    "description": "The period for which the product specification is valid"
                }, 
                "version": {
                    "type": "string", 
                    "description": "Product specification version"
                }, 
                "@type": {
                    "type": "string", 
                    "description": "class type of the product specification"
                }, 
                "@baseType": {
                    "type": "string", 
                    "description": "base class type  (immediate parent) of the product specification"
                }, 
                "@schemaLocation": {
                    "type": "string", 
                    "description": "hyperlink reference to schema describing this object"
                }, 
                "relatedParty": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/RelatedPartyRef"
                    }
                }, 
                "productSpecCharacteristic": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ProductSpecCharacteristic"
                    }
                }, 
                "serviceSpecification": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ServiceSpecificationRef"
                    }
                }, 
                "productSpecificationRelationship": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ProductSpecificationRelationship"
                    }
                }, 
[...]
