
{
  "swagger": "2.0",
  "info": {
    "description": "",
    "version": "2.0",
    "title": "API ProductOrdering"
  },
  "host": "env-0693795.jelastic.servint.net",
  "basePath":	"/DSProductOrdering/api/productOrdering/v2",
  "schemes": [
      "http"
  ],
  "consumes": [
      "application/json"
  ],
  "produces": [
      "application/json"
  ],  
  "paths": {    
    "/productOrder": {
    "get": {
      "tags": [
         "productOrder"
      ],          
      "operationId": "productOrderFind",
      "summary": "productOrderFind",
      "description": "",       
      "deprecated": false,
        
      "parameters": [    

                                  
        
        {
          "name": "fields",
          "in": "query",
          "required": false,            
          "description": "",
          
          "type": "string"                      
        }    
  

      ],
         
      "responses": {
        "200": {
          "description": "List of ProductOrder",
          "schema": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/ProductOrder"
            }
          } 
        }          
      }
    }
	,        
    "post": {
      "tags": [
         "productOrder"
      ],            
      "operationId": "productOrderInCreate",
      "summary": "productOrderInCreate",
      "description": "",       
      "deprecated": false,
      "parameters": [
      
                          
        
                      
        {
         "name": "productOrder",
          "in": "body",
          "required": true,
          "schema": {
            "$ref": "#/definitions/ProductOrderIn"
          }
        }          
      ],
      "responses": {
        "201": {
          "description": "ProductOrderIn",
          "schema": {
            "$ref": "#/definitions/ProductOrderIn"
          }
        }
      }
    }
	
    },    
    "/productOrder/{productOrderId}": {
    "get": {
      "tags": [
         "productOrder"
      ],    
      "operationId": "productOrderGet",
      "summary": "productOrderGet",
      "description": "",
      "deprecated": false,
            
      "parameters": [
      
                                  
            
        {
          "name": "productOrderId",
          "in": "path",
          "required": true,            
          "type": "string"
        }
  ,
        {
          "name": "fields",
          "in": "query",
          "required": false,            
          "description": "",
          
          "type": "string"                      
        }    
        

      ],
         
      "responses": {
        "200": {
          "description": "ProductOrder",
          "schema": {
            "$ref": "#/definitions/ProductOrder"
            }
          }
      }        
    }     
	,
    "patch": {
      "tags": [
         "productOrder"
      ],            
      "operationId": "productOrderPatch",
      "summary": "productOrderPatch",
      "description": "",      
      "deprecated": false, 
      "parameters": [
      
                                  
            
        {
          "name": "productOrderId",
          "in": "path",
          "required": true,            
          "type": "string"
        }
  ,
               
        {
         "name": "productOrder",
         "in": "body",
         "required": true,
         "schema": {
           "$ref": "#/definitions/ProductOrder"
         }
        }                               
      ], 
      "responses": {
        "200": {
          "description": "Success ProductOrder",
          "schema": {
            "$ref": "#/definitions/ProductOrder"
            }
          }
      }             
    }
	
    },    
    "/hub": {        
    "post": {
      "tags": [
         "hub"
      ],            
      "operationId": "hubCreate",
      "summary": "hubCreate",
      "description": "",       
      "deprecated": false,
      "parameters": [
      
                          
        
                      
        {
         "name": "hub",
          "in": "body",
          "required": true,
          "schema": {
            "$ref": "#/definitions/Hub"
          }
        }          
      ],
      "responses": {
        "201": {
          "description": "Hub",
          "schema": {
            "$ref": "#/definitions/Hub"
          }
        }
      }
    }
	,
    "get": {
      "tags": [
         "hub"
      ],          
      "operationId": "hubFind",
      "summary": "hubFind",
      "description": "",       
      "deprecated": false,
         
      "responses": {
        "200": {
          "description": "List of Hub",
          "schema": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/Hub"
            }
          } 
        }          
      }
    }
	
    },    
    "/hub/{hubId}": {
    "delete": {
      "tags": [
         "hub"
      ],    
      "operationId": "hubDelete",
      "summary": "hubDelete",
      "description": "",
      "deprecated": false,
        
      "parameters": [
      
                                  
            
        {
          "name": "hubId",
          "in": "path",
          "required": true,            
          "type": "string"
        }
  
        
      ],
         
      "responses": {
        "204": {
          "description": "Success"
          }  
      }   
    }
	,
    "get": {
      "tags": [
         "hub"
      ],    
      "operationId": "hubGet",
      "summary": "hubGet",
      "description": "",
      "deprecated": false,
            
      "parameters": [
      
                                  
            
        {
          "name": "hubId",
          "in": "path",
          "required": true,            
          "type": "string"
        }
        

      ],
         
      "responses": {
        "200": {
          "description": "Hub",
          "schema": {
            "$ref": "#/definitions/Hub"
            }
          }
      }        
    }     
	
    }
  },
"definitions": {
  

    "ProductOrder": {
      
      "type": "object",
      "properties": {      
      
        "id": {
          
          "type": "integer",
          "format": "int64"
        }
        ,
        "href": {
          
          "type": "string"
        }
        ,
        "externalId": {
          
          "type": "string"
        }
        ,
        "priority": {
          
          "type": "string"
        }
        ,
        "description": {
          
          "type": "string"
        }
        ,
        "category": {
          
          "type": "string"
        }
        ,
        "state": {
          
          "type": "string",    
          "enum": [   
          
            "Acknowledged",
            "InProgress",
            "Cancelled",
            "Completed",
            "Rejected",
            "Pending",
            "Held",
            "Failed",
            "Partial"
          ]
  
        }
        ,
        "orderDate": {
          
          "type": "string",
          "format": "date-time"
        }
        ,
        "completionDate": {
          
          "type": "string",
          "format": "date-time"
        }
        ,
        "requestedStartDate": {
          
          "type": "string",
          "format": "date-time"
        }
        ,
        "requestedCompletionDate": {
          
          "type": "string",
          "format": "date-time"
        }
        ,
        "expectedCompletionDate": {
          
          "type": "string",
          "format": "date-time"
        }
        ,
        "notificationContact": {
          
          "type": "string"
        }
        ,
        "note": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/Note"
  
              }
            
        }
        ,
        "relatedParty": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/Reference"
  
              }
            
        }
        ,
        "orderItem": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/OrderItem"
  
              }
            
        }
        
      }
    }
                
  ,

    "ProductOrderIn": {
      
      "type": "object",
      "properties": {      
      
        "externalId": {
          
          "type": "string"
        }
        ,
        "priority": {
          
          "type": "string"
        }
        ,
        "description": {
          
          "type": "string"
        }
        ,
        "category": {
          
          "type": "string"
        }
        ,
        "state": {
          
          "type": "string",    
          "enum": [   
          
            "Acknowledged",
            "InProgress",
            "Cancelled",
            "Completed",
            "Rejected",
            "Pending",
            "Held",
            "Failed",
            "Partial"
          ]
  
        }
        ,
        "orderDate": {
          
          "type": "string",
          "format": "date-time"
        }
        ,
        "completionDate": {
          
          "type": "string",
          "format": "date-time"
        }
        ,
        "requestedStartDate": {
          
          "type": "string",
          "format": "date-time"
        }
        ,
        "requestedCompletionDate": {
          
          "type": "string",
          "format": "date-time"
        }
        ,
        "expectedCompletionDate": {
          
          "type": "string",
          "format": "date-time"
        }
        ,
        "notificationContact": {
          
          "type": "string"
        }
        ,
        "note": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/Note"
  
              }
            
        }
        ,
        "relatedParty": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/Reference"
  
              }
            
        }
        
      }
    }
                
  ,

    "Note": {
      
      "type": "object",
      "properties": {      
      
        "text": {
          
          "type": "string"
        }
        ,
        "date": {
          
          "type": "string",
          "format": "date-time"
        }
        ,
        "author": {
          
          "type": "string"
        }
        
      }
    }
                
  ,

    "OrderItem": {
      
      "type": "object",
      "properties": {      
      
        "id": {
          
          "type": "string"
        }
        ,
        "action": {
          
          "type": "string"
        }
        ,
        "state": {
          
          "type": "string",    
          "enum": [   
          
            "Acknowledged",
            "InProgress",
            "Cancelled",
            "Completed",
            "Rejected",
            "Pending",
            "Held",
            "Failed",
            "Partial"
          ]
  
        }
        ,
        "billingAccount": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/Reference"
  
              }
            
        }
        ,
        "appointment": {
          
          "type": "string"
        }
        ,
        "productOffering": {
          
                "$ref": "#/definitions/ProductOffering"
  
        }
        ,
        "product": {
          
                "$ref": "#/definitions/Product"
  
        }
        
      }
    }
                
  ,

    "Product": {
      
      "type": "object",
      "properties": {      
      
        "place": {
          
                "$ref": "#/definitions/Reference"
  
        }
        ,
        "productCharacteristic": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/ProductCharacteristic"
  
              }
            
        }
        ,
        "relatedParty": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/Reference"
  
              }
            
        }
        ,
        "productRelationship": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/ProductRelationship"
  
              }
            
        }
        ,
        "id": {
          
          "type": "string"
        }
        ,
        "href": {
          
          "type": "string"
        }
        
      }
    }
                
  ,

    "ProductCharacteristic": {
      
      "type": "object",
      "properties": {      
      
        "name": {
          
          "type": "string"
        }
        ,
        "value": {
          
          "type": "string"
        }
        
      }
    }
                
  ,

    "ProductRelationship": {
      
      "type": "object",
      "properties": {      
      
        "type": {
          
          "type": "string",    
          "enum": [   
          
            "reliesOn",
            "bundled",
            "targets",
            "isTargeted"
          ]
  
        }
        ,
        "product": {
          
                "$ref": "#/definitions/Product"
  
        }
        
      }
    }
                
  ,

    "Reference": {
      
      "type": "object",
      "properties": {      
      
        "id": {
          
          "type": "string"
        }
        ,
        "href": {
          
          "type": "string"
        }
        ,
        "name": {
          
          "type": "string"
        }
        ,
        "role": {
          
          "type": "string"
        }
        
      }
    }
                
  ,

    "ProductOffering": {
      
      "type": "object",
      "properties": {      
      
        "id": {
          
          "type": "string"
        }
        ,
        "href": {
          
          "type": "string"
        }
        ,
        "bundledProductOffering": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/Reference"
  
              }
            
        }
        
      }
    }
                
  ,

    "Hub": {
      
      "type": "object",
      "properties": {      
      
        "callback": {
          
          "type": "string"
        }
        ,
        "query": {
          
          "type": "string"
        }
        
      }
    }
                
  
  }
}
	