{
    "swagger": "2.0", 
    "info": {
        "title": "Promotion", 
        "description": "This is Swagger UI environment generated for the TMF Promotion Management Specification", 
        "version": "2.0"
    }, 
    "host": "api.huawei.com", 
    "basePath": "/tmf-api/promotion", 
    "schemes": [
        "https"
    ], 
    "consumes": [
        "application/json"
    ], 
    "produces": [
        "application/json"
    ], 
    "paths": {
        "/promotion": {
            "get": {
                "operationId": "listPromotion", 
                "summary": "List or find 'Promotion' objects", 
                "tags": [
                    "promotion"
                ], 
                "parameters": [
                    {
                        "name": "description", 
						"type": "string", 
                        "required": false, 
                        "in": "query", 
                        "description": "Comma separated properties to display in response"
                    }, 
					{
                        "name": "name", 
						"type": "string", 
                        "required": false, 
                        "in": "query", 
                        "description": "Comma separated properties to display in response"
                    }, 
                    {
                        "name": "validFor.endDateTime", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: An instant of time, ending at the TimePeriod."
                    },
                    {
                        "name": "validFor.startDateTime", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: An instant of time, starting at the TimePeriod"
                    },
					{
                        "name": "lastUpdate", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: the last update time of Promotion."
                    },
                    {
                        "name": "lifecycleStatus", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: Status of the lifecycle"
                    },
                    {
                        "name": "type", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: kind of promotion"
                    },
					{
                        "name": "promotionPattern.name", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: kind of promotion"
                    },
					{
                        "name": "promotionPattern.id", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: kind of promotion"
                    },
					{
                        "name": "promotionPattern.priority", 
                        "required": false, 
                        "in": "query", 
                        "type": "number", 
                        "description": "For filtering: kind of promotion"
                    },
					{
                        "name": "promotionTargetItem.itemId", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: kind of promotion"
                    },
					{
                        "name": "promotionTargetItem.itemType", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: kind of promotion"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/Promotion"
                            }, 
                            "type": "array"
                        }
                    },
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }, 
            "post": {
                "operationId": "createPromotion", 
                "summary": "Creates a 'Promotion'", 
                "tags": [
                    "promotion"
                ],
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/Promotion_Create"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "name": "promotion", 
                        "description": "The promotion to be created"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created", 
                        "schema": {
                            "$ref": "#/definitions/Promotion"
                        }
                    },
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/promotion/{id}": {
            "get": {
                "operationId": "retrievePromotion", 
                "summary": "Retrieves a 'Promotion' by Id", 
                "tags": [
                    "promotion"
                ],
                "parameters": [
                    {
                        "required": true, 
                        "type": "string", 
                        "name": "id", 
                        "in": "path", 
                        "description": "Identifier of the Promotion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/Promotion"
                            }, 
                            "type": "array"
                        }
                    },
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }, 
            "patch": {
                "operationId": "updatePromotion", 
                "summary": "Updates partially a 'Promotion' by Id", 
                "tags": [
                    "promotion"
                ],
                "parameters": [
                    {
                        "required": true, 
                        "type": "string", 
                        "name": "id", 
                        "in": "path", 
                        "description": "Identifier of the Promotion"
                    },
                    {
                        "schema": {
                            "$ref": "#/definitions/Promotion_Update"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "name": "promotion", 
                        "description": "The Promotion to be updated"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Updated", 
                        "schema": {
                            "$ref": "#/definitions/Promotion"
                        }
                    },
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/hub": {
            "post": {
                "operationId": "registerListener", 
                "summary": "Register a listener", 
                "description": "Sets the communication endpoint address the service instance must use to deliver information about its health state, execution state, failures and metrics.", 
                "tags": [
                    "events subscription"
                ], 
                "parameters": [
                    {
                        "name": "data", 
                        "schema": {
                            "$ref": "#/definitions/EventSubscriptionInput"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "description": "Data containing the callback endpoint to deliver the information"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Subscribed", 
                        "schema": {
                            "$ref": "#/definitions/EventSubscription"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/hub/{id}": {
            "delete": {
                "operationId": "unregisterListener", 
                "summary": "Unregister a listener", 
                "description": "Resets the communication endpoint address the service instance must use to deliver information about its health state, execution state, failures and metrics.", 
                "tags": [
                    "events subscription"
                ], 
                "parameters": [
                    {
                        "name": "id", 
                        "type": "string", 
                        "required": true, 
                        "in": "path", 
                        "description": "The id of the registered listener"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Unsubscribed"
                    },
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }
    }, 
    "definitions": {
        "Promotion": {
            "type": "object", 
            "description": "Promotion Resource is used to provide the additional discount, voucher, bonus or gift to the customer who meets the pre-defined criteria. Using promotion, the enterprise is able to attract the users and encourage more consumption, especially continuous purchases.   Normally Promotion is not regarded as one type of product or product offering. It is often applied when the customer buys the product offerings with the price or amount surpassing the certain limit.", 
            "properties": {
                "description": {
                    "type": "string", 
                    "description": "Description of Promotion."
                }, 
				"href": {
                    "type": "string", 
                    "description": "Hyperlink to access the promotion."
                },
                "id": {
                    "type": "string", 
                    "description": "Unique identifier of Promotion."
                },
				"lastUpdate": {
                    "type": "string",
                    "format": "date-time", 					
                    "description": "Latest update date of Promotion."
                },
				"lifecycleStatus": {
                    "type": "string", 
                    "description": "Status of Promotion, including draft/Test/WaitForApproval/Release/Suspend/Retirement."
                },
				"name": {
                    "type": "string", 
                    "description": "Name of Promotion."
                },
				"type": {
                    "type": "string", 
                    "description": "Type of promotion.The basic type is Award/Discount/Reduction. More types can be extended in future."
                },
                "validFor": {
                    "$ref": "#/definitions/TimePeriod", 
                    "description": "The period for which the promotion is valid."
                },
                "promotionPattern": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/PromotionPattern"
                    }
                },
                "promotionTargetItem": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/PromotionTargetItem"
                    }
                },
                "promotionSpecification": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/PromotionSpecification"
                    }
                }
            }
        }, 
		 "PromotionSpecification": {
            "type": "object", 
            "description": "The specification of a promotion resource.", 
            "properties": {
                "href": {
                    "type": "string", 
                    "description": "Hyperlink to access the PromotionSpecification resource"
                },
                "id": {
                    "type": "string", 
                    "description": "Hypertext Reference of the Promotion Specification."
                },
                "name": {
                    "type": "string", 
                    "description": "Name of the Promotion Specification."
                },
				"lastUpdate": {
                    "type": "string",
                    "format": "date-time", 					
                    "description": "Latest update date of Promotion."
                },
				"lifecycleStatus": {
                    "type": "string", 
                    "description": "Status of Promotion, including Draft/Test/WaitForApproval/Release/Suspend/Retirement."
                },
                "validFor": {
                    "$ref": "#/definitions/TimePeriod", 
                    "description": "The period for which the promotion is valid."
                }
            }
        }, 
        "Promotion_Create": {
            "type": "object", 
            "description": "creation of a promotion", 
            "required": [
				"name",
				"type"
            ],
            "properties": {
               "description": {
                    "type": "string", 
                    "description": "Description of Promotion."
                }, 
				"lastUpdate": {
                    "type": "string",
                    "format": "date-time", 					
                    "description": "Latest update date of Promotion."
                },
				"lifecycleStatus": {
                    "type": "string", 
                    "description": "Status of Promotion, including draft/Test/WaitForApproval/Release/Suspend/Retirement."
                },
				"name": {
                    "type": "string", 
                    "description": "Name of Promotion."
                },
				"type": {
                    "type": "string", 
                    "description": "Type of promotion.The basic type is Award/Discount/Reduction. More types can be extended in future."
                },
                "validFor": {
                    "$ref": "#/definitions/TimePeriod", 
                    "description": "The period for which the promotion is valid."
                },
                "promotionPattern": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/PromotionPattern"
                    }
                },
                "promotionTargetItem": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/PromotionTargetItem"
                    }
                },
                "promotionSpecification": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/PromotionSpecification"
                    }
                }
            }
        }, 
        "Promotion_Update": {
            "type": "object", 
            "description": "update of a promotion", 
            "properties": {
                "description": {
                    "type": "string", 
                    "description": "Description of Promotion."
                }, 
				"lastUpdate": {
                    "type": "string",
                    "format": "date-time", 					
                    "description": "Latest update date of Promotion."
                },
				"lifecycleStatus": {
                    "type": "string", 
                    "description": "Status of Promotion, including draft/Test/WaitForApproval/Release/Suspend/Retirement."
                },
				"name": {
                    "type": "string", 
                    "description": "Name of Promotion."
                },
				"type": {
                    "type": "string", 
                    "description": "Type of promotion.The basic type is Award/Discount/Reduction. More types can be extended in future."
                },
                "validFor": {
                    "$ref": "#/definitions/TimePeriod", 
                    "description": "The period for which the promotion is valid."
                },
                "promotionPattern": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/PromotionPattern"
                    }
                },
                "promotionTargetItem": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/PromotionTargetItem"
                    }
                },
                "promotionSpecification": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/PromotionSpecification"
                    }
                }
            }
        }, 
        "TimePeriod": {
            "type": "object", 
            "description": "A base / value business entity used to represent a period of time between two timepoints.", 
            "properties": {
                "endDateTime": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "An instant of time, ending at the TimePeriod."
                },
                "startDateTime": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "An instant of time, starting at the TimePeriod"
                }
            }
        }, 
        "PromotionPattern": {
            "type": "object", 
            "description": "Detailed pattern of the promotion. The pattern decides the conditions of promotion and the benefit of the promotion to be given to the eligible customer.", 
            "properties": {
                "description": {
                    "type": "string", 
                    "description": "Description"
                },
                "id": {
                    "type": "string",
                    "description": "Unique identifier."
                },
				 "href": {
                    "type": "string", 
                    "description": "Hyperlink to access the PromotionPattern resource"
                },
				"name": {
                    "type": "string",
                    "description": "Name."
                }, 
				"priority": {
                    "type": "integer", 
                    "description": "Priority. Smaller number means high."
                },
				"relationTypeAmongGroup": {
                    "type": "integer", 
                    "description": "AND/OR ,The logical relation type amongst the promotion criteria group. "
                },
				"validFor": {
                    "$ref": "#/definitions/TimePeriod", 
                    "description": "Validity period of the related party"
                },
                "promotionCriteriaGroup": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/PromotionCriteriaGroup"
                    }
                },
                "promotionAction": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/PromotionAction"
                    }
                }  	
            }
        }, 
        "PromotionTargetItem": {
            "type": "object", 
            "description": "It is used to decide the promotion target.When the user chooses the target item, such as an offering, the promotion will be triggered.", 
            "properties": {
                "itemId": {
                    "type": "string", 
                    "description": "Unique identifier of Promotion Target Item. The ID is decided by the item type."
                }, 
                "itemType": {
                    "type": "string", 
                    "description": "The type of the promotion target item, including:product offering/product/category ."
                }
            }
        }, 
        "PromotionCriteriaGroup": {
            "type": "object", 
            "description": "The group of the criteria of the promotion.The logical relationship between different groups is decided by the “relationTypeInGroup”.", 
            "properties": {
                "groupName": {
                    "type": "string", 
                    "description": "Name of the group."
                }, 
                "id": {
                    "type": "string", 
                    "description": "Unique Identifier"
                }, 
                "relationTypeInGroup": {
                    "type": "string", 
                    "description": "AND/OR,The logical relation type amongst the various criteria inside a promotion criteria group."
                },
                "promotionCriteria": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/PromotionCriteria"
                    }
                } 	
            }
        }, 
        "PromotionAction": {
            "type": "object", 
            "description": "Action of the promotion.When the customer meets the conditions in the “promotion pattern”, the customer can be given the benefits in the “action”.", 
            "properties": {
                "actionObjectId": {
                    "type": "string", 
                    "description": "It refers to the object (entity) ID which is impacted by the promotion action. When the Promotion -> type is 1: Award, the actionObjectId is the sub-account ID; When the Promotion -> type is 2: Discount, it is the offering ID; When the Promotion -> type is 3: reduction, it is the offering ID."
                }, 
                "actionType": {
                    "type": "string", 
                    "description": "When the Promotion -> type is 1: Award, the action type can be one of the following:voice (minute),data (MB),data (GB),SMS,bonus point,physical gift,voucher,promotion code,an existing offering,currency. More types of action can be extended in future."
                },
				"actionValue": {
                    "type": "number", 
                    "description": "When the Promotion -> type is 1: Award, it means the amount or value of the awards decided by actionType, such as:Amount of gift,Amount of bonus,Value of discount; When the Promotion -> type is 2: Discount, it means the value of the discount; When the Promotion -> type is 3: reduction, it means the value of the reduced money ."
                },
				"href": {
                    "type": "string", 
                    "description": "Hyperlink to access the promotionAction."
                },
				"id": {
                    "type": "string", 
                    "description": "Unique identifier."
                }
				
            }
        }, 
        "PromotionCriteria": {
            "type": "object", 
            "description": "Criteria of the promotion.", 
            "properties": {
                "criteriaOperator": {
                    "type": "integer", 
                    "description": "The logic expression including parameter and operator. includeing:=,>,<,>=,<=,<>"
                }, 
                "criteriaPara": {
                    "type": "string", 
                    "description": "The parameter (factor) of the criteria.The basic factors are abstracted from these data sources.There are several detail parameters ."
                },
				"criteriaValue": {
                    "type": "number", 
                    "description": "The value is filled for the comparison of the criteria. "
                },
				"id": {
                    "type": "string", 
                    "description": "Unique identifier."
                }				
            }
        },
        "EventSubscription": {
            "required": [
                "id", 
                "callback"
            ], 
            "properties": {
                "id": {
                    "type": "string", 
                    "description": "Id of the listener"
                }, 
                "callback": {
                    "type": "string", 
                    "description": "The callback being registered."
                }, 
                "query": {
                    "type": "string", 
                    "description": "additional data to be passed"
                }
            }
        }, 
        "EventSubscriptionInput": {
            "required": [
                "callback"
            ], 
            "properties": {
                "callback": {
                    "type": "string", 
                    "description": "The callback being registered."
                }, 
                "query": {
                    "type": "string", 
                    "description": "additional data to be passed"
                }
            }
        }, 
        "Error": {
            "required": [
                "code", 
                "message"
            ], 
            "properties": {
                "code": {
                    "type": "integer", 
                    "description": "An integer coding the error type. This is given to caller so he can translate them if required."
                }, 
                "message": {
                    "type": "string", 
                    "description": "A short localized string that describes the error."
                }, 
                "description": {
                    "type": "string", 
                    "description": "(optional) A long localized error description if needed. It can contain precise information about which parameter is missing, or what are the identifier acceptable values."
                }, 
                "infoURL": {
                    "type": "string", 
                    "description": "(optional) A URL to online documentation that provides more information about the error."
                }
            }
        }
    }
}