{
    "swagger": "2.0", 
    "info": {
        "title": "Product Catalog Management", 
        "description": "This is Swagger UI environment generated for the TMF Product Catalog Management specification", 
        "version": "2.0"
    }, 
    "host": "env-0693795.jelastic.servint.net", 
    "basePath": "/DSProductCatalog/api/catalogManagement/v2", 
    "schemes": [
        "https"
    ], 
    "consumes": [
        "application/json"
    ], 
    "produces": [
        "application/json"
    ], 
    "paths": {
        "/category": {
            "get": {
                "operationId": "listCategory", 
                "summary": "List or find 'Category' objects", 
                "tags": [
                    "category"
                ], 
                "parameters": [
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "fields", 
                        "description": "Comma separated properties to display in response"
                    }, 
                    {
                        "name": "lastUpdate", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: Date and time of the last update"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "version", 
                        "description": "For filtering: Category version"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "lifecycleStatus", 
                        "description": "For filtering: Used to indicate the current lifecycle status"
                    }, 
                    {
                        "name": "validFor.startDateTime", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "path", 
                        "type": "string", 
                        "description": "For filtering: An instant of time, starting at the TimePeriod"
                    }, 
                    {
                        "name": "validFor.endDateTime", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "path", 
                        "type": "string", 
                        "description": "For filtering: An instant of time, ending at the TimePeriod."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "parentId", 
                        "description": "For filtering: Unique identifier of the parent category"
                    }, 
                    {
                        "type": "boolean", 
                        "required": false, 
                        "in": "query", 
                        "name": "isRoot", 
                        "description": "For filtering: If true, this Boolean indicates that the category is a root of categories"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "name", 
                        "description": "For filtering: Name of the category"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/Category"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }, 
            "post": {
                "operationId": "createCategory", 
                "summary": "Creates a 'Category'", 
                "tags": [
                    "category"
                ], 
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/Category_Create"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "name": "category", 
                        "description": "The Category to be created"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Created", 
                        "schema": {
                            "$ref": "#/definitions/Category"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/category/{id}": {
            "get": {
                "operationId": "retrieveCategory", 
                "summary": "Retrieves a 'Category' by Id", 
                "tags": [
                    "category"
                ], 
                "parameters": [
                    {
                        "required": true, 
                        "type": "string", 
                        "name": "id", 
                        "in": "path", 
                        "description": "Identifier of the Category"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/Category"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }, 
            "put": {
                "operationId": "updateCategory", 
                "summary": "Updates a 'Category' by Id", 
                "tags": [
                    "category"
                ], 
                "parameters": [
                    {
                        "required": true, 
                        "type": "string", 
                        "name": "id", 
                        "in": "path", 
                        "description": "Identifier of the Category"
                    }, 
                    {
                        "schema": {
                            "$ref": "#/definitions/Category_Update"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "name": "category", 
                        "description": "The Category to be updated"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Updated", 
                        "schema": {
                            "$ref": "#/definitions/Category"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }, 
            "patch": {
                "operationId": "updateCategory", 
                "summary": "Updates partially a 'Category' by Id", 
                "tags": [
                    "category"
                ], 
                "parameters": [
                    {
                        "required": true, 
                        "type": "string", 
                        "name": "id", 
                        "in": "path", 
                        "description": "Identifier of the Category"
                    }, 
                    {
                        "schema": {
                            "$ref": "#/definitions/Category_Update"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "name": "category", 
                        "description": "The Category to be updated"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Updated", 
                        "schema": {
                            "$ref": "#/definitions/Category"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/productOffering": {
            "get": {
                "operationId": "listProductOffering", 
                "summary": "List or find 'ProductOffering' objects", 
                "tags": [
                    "productOffering"
                ], 
                "parameters": [
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "fields", 
                        "description": "Comma separated properties to display in response"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "version", 
                        "description": "For filtering: ProductOffering version"
                    }, 
                    {
                        "name": "lastUpdate", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: Date and time of the last update"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "name", 
                        "description": "For filtering: Name of the productOffering"
                    }, 
                    {
                        "type": "boolean", 
                        "required": false, 
                        "in": "query", 
                        "name": "isBundle", 
                        "description": "For filtering: isBundle determines whether a productOffering represents a single productOffering (false), or a bundle of productOfferings (true)."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "lifecycleStatus", 
                        "description": "For filtering: Used to indicate the current lifecycle status"
                    }, 
                    {
                        "name": "validFor.startDateTime", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "path", 
                        "type": "string", 
                        "description": "For filtering: An instant of time, starting at the TimePeriod"
                    }, 
                    {
                        "name": "validFor.endDateTime", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "path", 
                        "type": "string", 
                        "description": "For filtering: An instant of time, ending at the TimePeriod."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "place.name", 
                        "description": "For filtering: Name of the place"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "serviceLevelAgreement.name", 
                        "description": "For filtering: Name of the service level agreement"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "productSpecification.version", 
                        "description": "For filtering: Version of the product specification"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "productSpecification.name", 
                        "description": "For filtering: Name of the product specification"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "channel.name", 
                        "description": "For filtering: Name of the channel"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "serviceCandidate.version", 
                        "description": "For filtering: Version of the service candidate"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "serviceCandidate.name", 
                        "description": "For filtering: Name of the service candidate"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "category.version", 
                        "description": "For filtering: Category version"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "category.name", 
                        "description": "For filtering: Name of the category"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "resourceCandidate.version", 
                        "description": "For filtering: Version of the resource candidate"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "resourceCandidate.name", 
                        "description": "For filtering: Name of the resource candidate"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "productOfferingPrice.name", 
                        "description": "For filtering: Name of the productOfferingPrice"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "productOfferingPrice.priceType", 
                        "description": "For filtering: Indicates the price type: recurring, one time, usage"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "productOfferingPrice.unitOfMeasure", 
                        "description": "For filtering: Could be minutes, GB..."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "productOfferingPrice.recurringChargePeriod", 
                        "description": "For filtering: Could be month, week..."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "productOfferingPrice.version", 
                        "description": "For filtering: ProductOffering version"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "bundledProductOffering.lifecycleStatus", 
                        "description": "For filtering: Used to indicate the current lifecycle status"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "bundledProductOffering.name", 
                        "description": "For filtering: Name of the BundledProductOffering"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "productOfferingTerm.name", 
                        "description": "For filtering: Name of the productOfferingTerm"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "productOfferingTerm.duration", 
                        "description": "For filtering: Duration of the productOfferingTerm"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ProductOffering"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }, 
            "post": {
                "operationId": "createProductOffering", 
                "summary": "Creates a 'ProductOffering'", 
                "tags": [
                    "productOffering"
                ], 
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/ProductOffering_Create"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "name": "productOffering", 
                        "description": "The Product Offering to be created"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Created", 
                        "schema": {
                            "$ref": "#/definitions/ProductOffering"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/productOffering/{id}": {
            "get": {
                "operationId": "retrieveProductOffering", 
                "summary": "Retrieves a 'ProductOffering' by Id", 
                "tags": [
                    "productOffering"
                ], 
                "parameters": [
                    {
                        "required": true, 
                        "type": "string", 
                        "name": "id", 
                        "in": "path", 
                        "description": "Identifier of the Product Offering"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ProductOffering"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }, 
            "put": {
                "operationId": "updateProductOffering", 
                "summary": "Updates a 'ProductOffering' by Id", 
                "tags": [
                    "productOffering"
                ], 
                "parameters": [
                    {
                        "required": true, 
                        "type": "string", 
                        "name": "id", 
                        "in": "path", 
                        "description": "Identifier of the Product Offering"
                    }, 
                    {
                        "schema": {
                            "$ref": "#/definitions/ProductOffering_Update"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "name": "productOffering", 
                        "description": "The Product Offering to be updated"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Updated", 
                        "schema": {
                            "$ref": "#/definitions/ProductOffering"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }, 
            "patch": {
                "operationId": "updateProductOffering", 
                "summary": "Updates partially a 'ProductOffering' by Id", 
                "tags": [
                    "productOffering"
                ], 
                "parameters": [
                    {
                        "required": true, 
                        "type": "string", 
                        "name": "id", 
                        "in": "path", 
                        "description": "Identifier of the Product Offering"
                    }, 
                    {
                        "schema": {
                            "$ref": "#/definitions/ProductOffering_Update"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "name": "productOffering", 
                        "description": "The Product Offering to be updated"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Updated", 
                        "schema": {
                            "$ref": "#/definitions/ProductOffering"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/productSpecification": {
            "get": {
                "operationId": "listProductSpecification", 
                "summary": "List or find 'ProductSpecification' objects", 
                "tags": [
                    "productSpecification"
                ], 
                "parameters": [
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "fields", 
                        "description": "Comma separated properties to display in response"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "version", 
                        "description": "For filtering: Product specification version"
                    }, 
                    {
                        "name": "lastUpdate", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: Date and time of the last update"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "name", 
                        "description": "For filtering: Name of the product specification"
                    }, 
                    {
                        "type": "boolean", 
                        "required": false, 
                        "in": "query", 
                        "name": "isBundle", 
                        "description": "For filtering: isBundle determines whether a productSpecification represents a single productSpecification (false), or a bundle of productSpecification (true)."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "brand", 
                        "description": "For filtering: The manufacturer or trademark of the specification"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "lifecycleStatus", 
                        "description": "For filtering: Used to indicate the current lifecycle status"
                    }, 
                    {
                        "name": "validFor.startDateTime", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "path", 
                        "type": "string", 
                        "description": "For filtering: An instant of time, starting at the TimePeriod"
                    }, 
                    {
                        "name": "validFor.endDateTime", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "path", 
                        "type": "string", 
                        "description": "For filtering: An instant of time, ending at the TimePeriod."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "productNumber", 
                        "description": "For filtering: An identification number assigned to uniquely identity the specification"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "relatedParty.role", 
                        "description": "For filtering: Role of the related party."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "relatedParty.name", 
                        "description": "For filtering: Name of the related party"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "productSpecCharacteristic.name", 
                        "description": "For filtering: Name of the productSpecCharacteristic"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "productSpecCharacteristic.valueType", 
                        "description": "For filtering: A kind of value that the characteristic can take on, such as numeric, text and so forth"
                    }, 
                    {
                        "type": "boolean", 
                        "required": false, 
                        "in": "path", 
                        "name": "productSpecCharacteristic.configurable", 
                        "description": "For filtering: If true, the Boolean indicates that the productSpecCharacteristic is configurable"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "serviceSpecification.name", 
                        "description": "For filtering: Name of the requiredServiceSpecification"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "serviceSpecification.version", 
                        "description": "For filtering: Service specification version"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "productSpecificationRelationship.type", 
                        "description": "For filtering: Type of relationship such as migration, substitution, dependency, exclusivity"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "resourceSpecification.name", 
                        "description": "For filtering: Name of the requiredResourceSpecification"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "resourceSpecification.version", 
                        "description": "For filtering: Resource specification version"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "attachment.type", 
                        "description": "For filtering: Attachment type such as video, picture"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "attachment.url", 
                        "description": "For filtering: Uniform Resource Locator, is a web page address (a subset of URI)"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "bundledProductSpecification.lifecycleStatus", 
                        "description": "For filtering: Used to indicate the current lifecycle status"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "bundledProductSpecification.name", 
                        "description": "For filtering: Name of the product specification"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ProductSpecification"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }, 
            "post": {
                "operationId": "createProductSpecification", 
                "summary": "Creates a 'ProductSpecification'", 
                "tags": [
                    "productSpecification"
                ], 
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/ProductSpecification_Create"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "name": "productSpecification", 
                        "description": "The Product Specification to be created"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Created", 
                        "schema": {
                            "$ref": "#/definitions/ProductSpecification"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/productSpecification/{id}": {
            "get": {
                "operationId": "retrieveProductSpecification", 
                "summary": "Retrieves a 'ProductSpecification' by Id", 
                "tags": [
                    "productSpecification"
                ], 
                "parameters": [
                    {
                        "required": true, 
                        "type": "string", 
                        "name": "id", 
                        "in": "path", 
                        "description": "Identifier of the Product Specification"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ProductSpecification"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }, 
            "put": {
                "operationId": "updateProductSpecification", 
                "summary": "Updates a 'ProductSpecification' by Id", 
                "tags": [
                    "productSpecification"
                ], 
                "parameters": [
                    {
                        "required": true, 
                        "type": "string", 
                        "name": "id", 
                        "in": "path", 
                        "description": "Identifier of the Product Specification"
                    }, 
                    {
                        "schema": {
                            "$ref": "#/definitions/ProductSpecification_Update"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "name": "productSpecification", 
                        "description": "The Product Specification to be updated"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Updated", 
                        "schema": {
                            "$ref": "#/definitions/ProductSpecification"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }, 
            "patch": {
                "operationId": "updateProductSpecification", 
                "summary": "Updates partially a 'ProductSpecification' by Id", 
                "tags": [
                    "productSpecification"
                ], 
                "parameters": [
                    {
                        "required": true, 
                        "type": "string", 
                        "name": "id", 
                        "in": "path", 
                        "description": "Identifier of the Product Specification"
                    }, 
                    {
                        "schema": {
                            "$ref": "#/definitions/ProductSpecification_Update"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "name": "productSpecification", 
                        "description": "The Product Specification to be updated"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Updated", 
                        "schema": {
                            "$ref": "#/definitions/ProductSpecification"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/hub": {
            "post": {
                "operationId": "registerListener", 
                "summary": "Register a listener", 
                "description": "Sets the communication endpoint address the service instance must use to deliver information about its health state, execution state, failures and metrics.", 
                "tags": [
                    "events subscription"
                ], 
                "parameters": [
                    {
                        "name": "data", 
                        "schema": {
                            "$ref": "#/definitions/EventSubscriptionInput"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "description": "Data containing the callback endpoint to deliver the information"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Subscribed", 
                        "schema": {
                            "$ref": "#/definitions/EventSubscription"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/hub/{id}": {
            "delete": {
                "operationId": "unregisterListener", 
                "summary": "Unregister a listener", 
                "description": "Resets the communication endpoint address the service instance must use to deliver information about its health state, execution state, failures and metrics.", 
                "tags": [
                    "events subscription"
                ], 
                "parameters": [
                    {
                        "name": "id", 
                        "type": "string", 
                        "required": true, 
                        "in": "path", 
                        "description": "The id of the registered listener"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Unsubscribed"
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/listener/catalogChangeBatchNotification": {
            "post": {
                "operationId": "publishCatalogChangeBatchNotification", 
                "summary": "Publishes a 'CatalogChangeBatchNotification'", 
                "tags": [
                    "events publication"
                ], 
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/CatalogChangeBatchNotification"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "name": "catalogChangeBatchNotification", 
                        "description": "The Catalog Change Batch Notification to be published"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Published"
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/listener/catalogChangeNotification": {
            "post": {
                "operationId": "publishCatalogChangeNotification", 
                "summary": "Publishes a 'CatalogChangeNotification'", 
                "tags": [
                    "events publication"
                ], 
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/CatalogChangeNotification"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "name": "catalogChangeNotification", 
                        "description": "The Catalog Change Notification to be published"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Published"
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }
    }, 
    "definitions": {
        "Catalog": {
            "type": "object", 
            "description": "<font color=\"#243f60\">I</font>s a collection of Product Offerings, intended for a specific DistributionChannel, enhanced with additional information such as SLA parameters, invoicing and shipping details.", 
            "properties": {
                "id": {
                    "type": "string", 
                    "description": "Unique identifier of the Catalog"
                }, 
                "href": {
                    "type": "string", 
                    "description": "Unique reference of the catalog"
                }, 
                "version": {
                    "type": "string", 
                    "description": "Catalog version"
                }, 
                "lastUpdate": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "Date and time of the last update"
                }, 
                "type": {
                    "type": "string", 
                    "description": "Indicates if the catalog is a product, service or resource catalog"
                }, 
                "name": {
                    "type": "string", 
                    "description": "Name of the catalog"
                }, 
                "lifecycleStatus": {
                    "type": "string", 
                    "description": "Used to indicate the current lifecycle status"
                }, 
                "validFor": {
                    "$ref": "#/definitions/TimePeriod", 
                    "description": "The period for which the catalog is valid"
                }, 
                "relatedParty": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/RelatedPartyRef"
                    }
                }, 
                "category": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/CategoryRef"
                    }
                }
            }
        }, 
        "Category": {
            "type": "object", 
            "description": "The category resource is used to group product offerings, service and resource candidates in logical containers. Categories can contain other categories and/or product offerings, resource or service candidates.", 
            "properties": {
                "id": {
                    "type": "string", 
                    "description": "Unique identifier of the category"
                }, 
                "href": {
                    "type": "string", 
                    "description": "Reference of the catalog"
                }, 
                "lastUpdate": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "Date and time of the last update"
                }, 
                "version": {
                    "type": "string", 
                    "description": "Category version"
                }, 
                "lifecycleStatus": {
                    "type": "string", 
                    "description": "Used to indicate the current lifecycle status"
                }, 
                "validFor": {
                    "$ref": "#/definitions/TimePeriod", 
                    "description": "The period for which the category is valid"
                }, 
                "parentId": {
                    "type": "string", 
                    "description": "Unique identifier of the parent category"
                }, 
                "isRoot": {
                    "type": "boolean", 
                    "description": "If true, this Boolean indicates that the category is a root of categories"
                }, 
                "name": {
                    "type": "string", 
                    "description": "Name of the category"
                }, 
                "description": {
                    "type": "string", 
                    "description": "Description of the category"
                }
            }
        }, 
        "Category_Create": {
            "type": "object", 
            "description": "The category resource is used to group product offerings, service and resource candidates in logical containers. Categories can contain other categories and/or product offerings, resource or service candidates.\nSkipped properties: id,href", 
            "required": [
                "name", 
                "parentId"
            ], 
            "properties": {
                "lastUpdate": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "Date and time of the last update"
                }, 
                "version": {
                    "type": "string", 
                    "description": "Category version"
                }, 
                "lifecycleStatus": {
                    "type": "string", 
                    "description": "Used to indicate the current lifecycle status"
                }, 
                "validFor": {
                    "$ref": "#/definitions/TimePeriod", 
                    "description": "The period for which the category is valid"
                }, 
                "parentId": {
                    "type": "string", 
                    "description": "Unique identifier of the parent category"
                }, 
                "isRoot": {
                    "type": "boolean", 
                    "description": "If true, this Boolean indicates that the category is a root of categories"
                }, 
                "name": {
                    "type": "string", 
                    "description": "Name of the category"
                }, 
                "description": {
                    "type": "string", 
                    "description": "Description of the category"
                }
            }
        }, 
        "Category_Update": {
            "type": "object", 
            "description": "The category resource is used to group product offerings, service and resource candidates in logical containers. Categories can contain other categories and/or product offerings, resource or service candidates.\nSkipped properties: id,href,id,lastUpdate", 
            "properties": {
                "version": {
                    "type": "string", 
                    "description": "Category version"
                }, 
                "lifecycleStatus": {
                    "type": "string", 
                    "description": "Used to indicate the current lifecycle status"
                }, 
                "validFor": {
                    "$ref": "#/definitions/TimePeriod", 
                    "description": "The period for which the category is valid"
                }, 
                "parentId": {
                    "type": "string", 
                    "description": "Unique identifier of the parent category"
                }, 
                "isRoot": {
                    "type": "boolean", 
                    "description": "If true, this Boolean indicates that the category is a root of categories"
                }, 
                "name": {
                    "type": "string", 
                    "description": "Name of the category"
                }, 
                "description": {
                    "type": "string", 
                    "description": "Description of the category"
                }
            }
        }, 
        "ProductOffering": {
            "type": "object", 
            "description": "Represents entities that are orderable from the provider of the catalog, this resource includes pricing information.", 
            "properties": {
                "id": {
                    "type": "string", 
                    "description": "Unique identifier of the productOffering"
                }, 
                "href": {
                    "type": "string", 
                    "description": "Reference of the ProductOffering"
                }, 
                "version": {
                    "type": "string", 
                    "description": "ProductOffering version"
                }, 
                "lastUpdate": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "Date and time of the last update"
                }, 
                "name": {
                    "type": "string", 
                    "description": "Name of the productOffering"
                }, 
                "description": {
                    "type": "string", 
                    "description": "Description of the productOffering"
                }, 
                "isBundle": {
                    "type": "boolean", 
                    "description": "isBundle determines whether a productOffering represents a single productOffering (false), or a bundle of productOfferings (true)."
                }, 
                "lifecycleStatus": {
                    "type": "string", 
                    "description": "Used to indicate the current lifecycle status"
                }, 
                "validFor": {
                    "$ref": "#/definitions/TimePeriod", 
                    "description": "The period for which the productOffering is valid"
                }, 
                "place": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/PlaceRef"
                    }
                }, 
                "serviceLevelAgreement": {
                    "$ref": "#/definitions/ServiceLevelAgreementRef"
                }, 
                "productSpecification": {
                    "$ref": "#/definitions/ProductSpecificationRef"
                }, 
                "channel": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ChannelRef"
                    }
                }, 
                "serviceCandidate": {
                    "$ref": "#/definitions/ServiceCandidateRef"
                }, 
                "category": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/CategoryRef"
                    }
                }, 
                "resourceCandidate": {
                    "$ref": "#/definitions/ResourceCandidateRef"
                }, 
                "productOfferingPrice": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ProductOfferingPrice"
                    }
                }, 
                "bundledProductOffering": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/BundledProductOffering"
                    }
                }, 
                "productOfferingTerm": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ProductOfferingTerm"
                    }
                }
            }
        }, 
        "ProductOffering_Create": {
            "type": "object", 
            "description": "Represents entities that are orderable from the provider of the catalog, this resource includes pricing information.\nSkipped properties: id,href", 
            "required": [
                "name", 
                "bundledProductOffering", 
                "productSpecification", 
                "productOfferingPrice"
            ], 
            "properties": {
                "version": {
                    "type": "string", 
                    "description": "ProductOffering version"
                }, 
                "lastUpdate": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "Date and time of the last update"
                }, 
                "name": {
                    "type": "string", 
                    "description": "Name of the productOffering"
                }, 
                "description": {
                    "type": "string", 
                    "description": "Description of the productOffering"
                }, 
                "isBundle": {
                    "type": "boolean", 
                    "description": "isBundle determines whether a productOffering represents a single productOffering (false), or a bundle of productOfferings (true)."
                }, 
                "lifecycleStatus": {
                    "type": "string", 
                    "description": "Used to indicate the current lifecycle status"
                }, 
                "validFor": {
                    "$ref": "#/definitions/TimePeriod", 
                    "description": "The period for which the productOffering is valid"
                }, 
                "place": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/PlaceRef"
                    }
                }, 
                "serviceLevelAgreement": {
                    "$ref": "#/definitions/ServiceLevelAgreementRef"
                }, 
                "productSpecification": {
                    "$ref": "#/definitions/ProductSpecificationRef"
                }, 
                "channel": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ChannelRef"
                    }
                }, 
                "serviceCandidate": {
                    "$ref": "#/definitions/ServiceCandidateRef"
                }, 
                "category": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/CategoryRef"
                    }
                }, 
                "resourceCandidate": {
                    "$ref": "#/definitions/ResourceCandidateRef"
                }, 
                "productOfferingPrice": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ProductOfferingPrice"
                    }
                }, 
                "bundledProductOffering": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/BundledProductOffering"
                    }
                }, 
                "productOfferingTerm": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ProductOfferingTerm"
                    }
                }
            }
        }, 
        "ProductOffering_Update": {
            "type": "object", 
            "description": "Represents entities that are orderable from the provider of the catalog, this resource includes pricing information.\nSkipped properties: id,href,id,lastUpdate", 
            "properties": {
                "version": {
                    "type": "string", 
                    "description": "ProductOffering version"
                }, 
                "name": {
                    "type": "string", 
                    "description": "Name of the productOffering"
                }, 
                "description": {
                    "type": "string", 
                    "description": "Description of the productOffering"
                }, 
                "isBundle": {
                    "type": "boolean", 
                    "description": "isBundle determines whether a productOffering represents a single productOffering (false), or a bundle of productOfferings (true)."
                }, 
                "lifecycleStatus": {
                    "type": "string", 
                    "description": "Used to indicate the current lifecycle status"
                }, 
                "validFor": {
                    "$ref": "#/definitions/TimePeriod", 
                    "description": "The period for which the productOffering is valid"
                }, 
                "place": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/PlaceRef"
                    }
                }, 
                "serviceLevelAgreement": {
                    "$ref": "#/definitions/ServiceLevelAgreementRef"
                }, 
                "productSpecification": {
                    "$ref": "#/definitions/ProductSpecificationRef"
                }, 
                "channel": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ChannelRef"
                    }
                }, 
                "serviceCandidate": {
                    "$ref": "#/definitions/ServiceCandidateRef"
                }, 
                "category": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/CategoryRef"
                    }
                }, 
                "resourceCandidate": {
                    "$ref": "#/definitions/ResourceCandidateRef"
                }, 
                "productOfferingPrice": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ProductOfferingPrice"
                    }
                }, 
                "bundledProductOffering": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/BundledProductOffering"
                    }
                }, 
                "productOfferingTerm": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ProductOfferingTerm"
                    }
                }
            }
        }, 
        "ProductSpecification": {
            "type": "object", 
            "description": "Is a detailed description of a tangible or intangible object made available externally in the form of a ProductOffering to customers or other parties playing a party role.", 
            "properties": {
                "id": {
                    "type": "string", 
                    "description": "Unique identifier of the product specification"
                }, 
                "href": {
                    "type": "string", 
                    "description": "Reference of the product specification"
                }, 
                "version": {
                    "type": "string", 
                    "description": "Product specification version"
                }, 
                "lastUpdate": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "Date and time of the last update"
                }, 
                "name": {
                    "type": "string", 
                    "description": "Name of the product specification"
                }, 
                "description": {
                    "type": "string", 
                    "description": "A narrative that explains in detail what the product specification is"
                }, 
                "isBundle": {
                    "type": "boolean", 
                    "description": "isBundle determines whether a productSpecification represents a single productSpecification (false), or a bundle of productSpecification (true)."
                }, 
                "brand": {
                    "type": "string", 
                    "description": "The manufacturer or trademark of the specification"
                }, 
                "lifecycleStatus": {
                    "type": "string", 
                    "description": "Used to indicate the current lifecycle status"
                }, 
                "validFor": {
                    "$ref": "#/definitions/TimePeriod", 
                    "description": "The period for which the product specification is valid"
                }, 
                "productNumber": {
                    "type": "string", 
                    "description": "An identification number assigned to uniquely identity the specification"
                }, 
                "relatedParty": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/RelatedPartyRef"
                    }
                }, 
                "productSpecCharacteristic": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ProductSpecCharacteristic"
                    }
                }, 
                "serviceSpecification": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ServiceSpecificationRef"
                    }
                }, 
                "productSpecificationRelationship": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ProductSpecificationRelationship"
                    }
                }, 
                "resourceSpecification": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ResourceSpecificationRef"
                    }
                }, 
                "attachment": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/Attachment"
                    }
                }, 
                "bundledProductSpecification": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/BundledProductSpecification"
                    }
                }
            }
        }, 
        "ProductSpecification_Create": {
            "type": "object", 
            "description": "Is a detailed description of a tangible or intangible object made available externally in the form of a ProductOffering to customers or other parties playing a party role.\nSkipped properties: id,href", 
            "required": [
                "name", 
                "bundledProductSpecification", 
                "productSpecCharacteristic"
            ], 
            "properties": {
                "version": {
                    "type": "string", 
                    "description": "Product specification version"
                }, 
                "lastUpdate": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "Date and time of the last update"
                }, 
                "name": {
                    "type": "string", 
                    "description": "Name of the product specification"
                }, 
                "description": {
                    "type": "string", 
                    "description": "A narrative that explains in detail what the product specification is"
                }, 
                "isBundle": {
                    "type": "boolean", 
                    "description": "isBundle determines whether a productSpecification represents a single productSpecification (false), or a bundle of productSpecification (true)."
                }, 
                "brand": {
                    "type": "string", 
                    "description": "The manufacturer or trademark of the specification"
                }, 
                "lifecycleStatus": {
                    "type": "string", 
                    "description": "Used to indicate the current lifecycle status"
                }, 
                "validFor": {
                    "$ref": "#/definitions/TimePeriod", 
                    "description": "The period for which the product specification is valid"
                }, 
                "productNumber": {
                    "type": "string", 
                    "description": "An identification number assigned to uniquely identity the specification"
                }, 
                "relatedParty": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/RelatedPartyRef"
                    }
                }, 
                "productSpecCharacteristic": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ProductSpecCharacteristic"
                    }
                }, 
                "serviceSpecification": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ServiceSpecificationRef"
                    }
                }, 
                "productSpecificationRelationship": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ProductSpecificationRelationship"
                    }
                }, 
                "resourceSpecification": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ResourceSpecificationRef"
                    }
                }, 
                "attachment": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/Attachment"
                    }
                }, 
                "bundledProductSpecification": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/BundledProductSpecification"
                    }
                }
            }
        }, 
        "ProductSpecification_Update": {
            "type": "object", 
            "description": "Is a detailed description of a tangible or intangible object made available externally in the form of a ProductOffering to customers or other parties playing a party role.\nSkipped properties: id,href,id,lastUpdate", 
            "properties": {
                "version": {
                    "type": "string", 
                    "description": "Product specification version"
                }, 
                "name": {
                    "type": "string", 
                    "description": "Name of the product specification"
                }, 
                "description": {
                    "type": "string", 
                    "description": "A narrative that explains in detail what the product specification is"
                }, 
                "isBundle": {
                    "type": "boolean", 
                    "description": "isBundle determines whether a productSpecification represents a single productSpecification (false), or a bundle of productSpecification (true)."
                }, 
                "brand": {
                    "type": "string", 
                    "description": "The manufacturer or trademark of the specification"
                }, 
                "lifecycleStatus": {
                    "type": "string", 
                    "description": "Used to indicate the current lifecycle status"
                }, 
                "validFor": {
                    "$ref": "#/definitions/TimePeriod", 
                    "description": "The period for which the product specification is valid"
                }, 
                "productNumber": {
                    "type": "string", 
                    "description": "An identification number assigned to uniquely identity the specification"
                }, 
                "relatedParty": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/RelatedPartyRef"
                    }
                }, 
                "productSpecCharacteristic": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ProductSpecCharacteristic"
                    }
                }, 
                "serviceSpecification": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ServiceSpecificationRef"
                    }
                }, 
                "productSpecificationRelationship": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ProductSpecificationRelationship"
                    }
                }, 
                "resourceSpecification": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ResourceSpecificationRef"
                    }
                }, 
                "attachment": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/Attachment"
                    }
                }, 
                "bundledProductSpecification": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/BundledProductSpecification"
                    }
                }
            }
        }, 
        "TimePeriod": {
            "type": "object", 
            "description": "A base / value business entity used to represent a period of time between two timepoints.", 
            "properties": {
                "startDateTime": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "An instant of time, starting at the TimePeriod"
                }, 
                "endDateTime": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "An instant of time, ending at the TimePeriod."
                }
            }
        }, 
        "RelatedPartyRef": {
            "type": "object", 
            "description": "RelatedParty reference. RelatedParty defines party or party role linked to a specific entity.", 
            "properties": {
                "id": {
                    "type": "string", 
                    "description": "Unique identifier of a related party"
                }, 
                "href": {
                    "type": "string", 
                    "description": "Reference of the related party, could be a party reference or a partyRole reference"
                }, 
                "role": {
                    "type": "string", 
                    "description": "Role of the related party."
                }, 
                "name": {
                    "type": "string", 
                    "description": "Name of the related party"
                }, 
                "validFor": {
                    "$ref": "#/definitions/TimePeriod", 
                    "description": "Validity period of the related party"
                }
            }
        }, 
        "CategoryRef": {
            "type": "object", 
            "description": "Category reference. The category resource is used to group product offerings, service and resource candidates in logical containers. Categories can contain other categories and/or product offerings, resource or service candidates.", 
            "properties": {
                "id": {
                    "type": "string", 
                    "description": "Unique reference of the category"
                }, 
                "href": {
                    "type": "string", 
                    "description": "Unique reference of the category"
                }, 
                "version": {
                    "type": "string", 
                    "description": "Category version"
                }, 
                "name": {
                    "type": "string", 
                    "description": "Name of the category"
                }
            }
        }, 
        "PlaceRef": {
            "type": "object", 
            "description": "Place reference. Place defines the places where the product offerings are sold.", 
            "properties": {
                "id": {
                    "type": "string", 
                    "description": "Unique identifier of the place"
                }, 
                "href": {
                    "type": "string", 
                    "description": "Unique reference of the place"
                }, 
                "name": {
                    "type": "string", 
                    "description": "Name of the place"
                }
            }
        }, 
        "ServiceLevelAgreementRef": {
            "type": "object", 
            "description": "ServiceLevelAgreement reference: A service level agreement (SLA) is a type of agreement that represents a formal negotiated agreement between two parties designed to create a common understanding about products, services, priorities, responsibilities, and so forth. The SLA is a set of appropriate procedures and targets formally or informally agreed between parties in order to achieve and maintain specified Quality of Service.", 
            "properties": {
                "id": {
                    "type": "string", 
                    "description": "Unique identifier of service level agreement"
                }, 
                "href": {
                    "type": "string", 
                    "description": "Reference of the service level agreement"
                }, 
                "name": {
                    "type": "string", 
                    "description": "Name of the service level agreement"
                }
            }
        }, 
        "ProductSpecificationRef": {
            "type": "object", 
            "description": "Product specification reference: A ProductSpecification is a detailed description of a tangible or intangible object made available externally in the form of a ProductOffering to customers or other parties playing a party role.", 
            "properties": {
                "id": {
                    "type": "string", 
                    "description": "Unique identifier of the product specification"
                }, 
                "href": {
                    "type": "string", 
                    "description": "Reference of the product specification"
                }, 
                "version": {
                    "type": "string", 
                    "description": "Version of the product specification"
                }, 
                "name": {
                    "type": "string", 
                    "description": "Name of the product specification"
                }
            }
        }, 
        "ChannelRef": {
            "type": "object", 
            "description": "Channel reference. The channel defines the channel for selling product offerings.", 
            "properties": {
                "id": {
                    "type": "string", 
                    "description": "Unique identifier of the channel"
                }, 
                "href": {
                    "type": "string", 
                    "description": "Reference of the channel"
                }, 
                "name": {
                    "type": "string", 
                    "description": "Name of the channel"
                }
            }
        }, 
        "ServiceCandidateRef": {
            "type": "object", 
            "description": "ServiceCandidate reference. ServiceCandidate is an entity that makes a ServiceSpecification available to a catalog.", 
            "properties": {
                "id": {
                    "type": "string", 
                    "description": "Unique identifier of the service candidate"
                }, 
                "href": {
                    "type": "string", 
                    "description": "Unique reference of the service candidate"
                }, 
                "version": {
                    "type": "string", 
                    "description": "Version of the service candidate"
                }, 
                "name": {
                    "type": "string", 
                    "description": "Name of the service candidate"
                }
            }
        }, 
        "ResourceCandidateRef": {
            "type": "object", 
            "description": "ResourceCandidate reference: A resource candidate is an entity that makes a ResourceSpecification available to a catalog.", 
            "properties": {
                "id": {
                    "type": "string", 
                    "description": "Unique identifier of the resource candidate"
                }, 
                "href": {
                    "type": "string", 
                    "description": "Reference of the resource candidate"
                }, 
                "version": {
                    "type": "string", 
                    "description": "Version of the resource candidate"
                }, 
                "name": {
                    "type": "string", 
                    "description": "Name of the resource candidate"
                }
            }
        }, 
        "ProductOfferingPrice": {
            "type": "object", 
            "description": "Is based on both the basic cost to develop and produce products and the enterprise's policy on revenue targets. This price may be further revised through discounting (prodOfferPriceAlteration). The price, applied for a productOffering may also be influenced by the productOfferingTerm, the customer selected - e.g. a productOffering can be offered with multiple terms, like commitment periods for the contract. The price may be influenced by this productOfferingTerm. A productOffering may be cheaper with a 24 month commitment than with a 12 month commitment.", 
            "properties": {
                "name": {
                    "type": "string", 
                    "description": "Name of the productOfferingPrice"
                }, 
                "description": {
                    "type": "string", 
                    "description": "Description of the productOfferingPrice"
                }, 
                "validFor": {
                    "$ref": "#/definitions/TimePeriod", 
                    "description": "The period for which the productOfferingPrice is valid"
                }, 
                "priceType": {
                    "type": "string", 
                    "description": "Indicates the price type: recurring, one time, usage"
                }, 
                "unitOfMeasure": {
                    "type": "string", 
                    "description": "Could be minutes, GB..."
                }, 
                "recurringChargePeriod": {
                    "type": "string", 
                    "description": "Could be month, week..."
                }, 
                "version": {
                    "type": "string", 
                    "description": "ProductOffering version"
                }, 
                "price": {
                    "$ref": "#/definitions/Price"
                }, 
                "productOfferPriceAlteration": {
                    "$ref": "#/definitions/ProductOfferPriceAlteration"
                }
            }
        }, 
        "BundledProductOffering": {
            "type": "object", 
            "description": "A type of ProductOffering that belongs to a grouping of ProductOfferings made available to the market. It inherits of all attributes of ProductOffering.", 
            "properties": {
                "id": {
                    "type": "string", 
                    "description": "Unique identifier of the BundledProductOffering"
                }, 
                "href": {
                    "type": "string", 
                    "description": "Unique reference of the BundledProductOffering"
                }, 
                "lifecycleStatus": {
                    "type": "string", 
                    "description": "Used to indicate the current lifecycle status"
                }, 
                "name": {
                    "type": "string", 
                    "description": "Name of the BundledProductOffering"
                }
            }
        }, 
        "ProductOfferingTerm": {
            "type": "object", 
            "description": "A condition under which a ProductOffering is made available to Customers. For instance, a productOffering can be offered with multiple commitment periods.", 
            "properties": {
                "name": {
                    "type": "string", 
                    "description": "Name of the productOfferingTerm"
                }, 
                "description": {
                    "type": "string", 
                    "description": "Description of the productOfferingTerm"
                }, 
                "duration": {
                    "type": "string", 
                    "description": "Duration of the productOfferingTerm"
                }, 
                "validFor": {
                    "$ref": "#/definitions/TimePeriod", 
                    "description": "The period for which the productOfferingterm is valid"
                }
            }
        }, 
        "Price": {
            "type": "object", 
            "description": "Provides all amounts (tax included, duty free, tax rate), used currency and percentage to apply for ProdOfferPriceAlteration.", 
            "properties": {
                "taxIncludedAmount": {
                    "type": "float", 
                    "description": "All taxes included amount (expressed in the given currency)"
                }, 
                "dutyFreeAmount": {
                    "type": "float", 
                    "description": "All taxes excluded amount (expressed in the given currency)"
                }, 
                "taxRate": {
                    "type": "float", 
                    "description": "Tax rate"
                }, 
                "currencyCode": {
                    "type": "string", 
                    "description": "A string used as a code for specifying the currency associated to the given amounts. The ISO4217 norm uses 3 letters to define the currency (for example USD for US dollar or EUR for Euro)"
                }, 
                "percentage": {
                    "type": "float", 
                    "description": "Percentage to apply for ProdOfferPriceAlteration"
                }, 
                "priceType": {
                    "type": "string", 
                    "description": "Indicates the price type: recurring, one time, usage"
                }
            }
        }, 
        "ProductOfferPriceAlteration": {
            "type": "object", 
            "description": "An amount, usually of money, that modifies a price charged for a productOffering.", 
            "properties": {
                "name": {
                    "type": "string", 
                    "description": "Name of the prodOfferPriceAlteration"
                }, 
                "description": {
                    "type": "string", 
                    "description": "Description of the prodOfferPriceAlteration"
                }, 
                "validFor": {
                    "$ref": "#/definitions/TimePeriod", 
                    "description": "The period for which the prodOfferPriceAlteration is valid"
                }, 
                "priceType": {
                    "type": "string", 
                    "description": "Indicates the price type: recurring, one time, usage"
                }, 
                "unitOfMeasure": {
                    "type": "string", 
                    "description": "Could be minutes, GB..."
                }, 
                "recurringChargePeriod": {
                    "type": "string", 
                    "description": "Could be month, week..."
                }, 
                "applicationDuration": {
                    "type": "integer", 
                    "description": "Duration during which the prodOfferPriceAlteration applies on the productOffering (for instance 2 months free of charge for the recurring charge)"
                }, 
                "priceCondition": {
                    "type": "string", 
                    "description": "Condition that triggers the price application"
                }, 
                "price": {
                    "$ref": "#/definitions/Price"
                }
            }
        }, 
        "ProductSpecCharacteristic": {
            "type": "object", 
            "description": "A characteristic quality or distinctive feature of a ProductSpecification.  The characteristic can be take on a discrete value, such as color, can take on a range of values, (for example, sensitivity of 100-240 mV), or can be derived from a formula (for example, usage time (hrs) = 30 - talk time *3). Certain characteristics, such as color, may be configured during the ordering or some other process.", 
            "properties": {
                "name": {
                    "type": "string", 
                    "description": "Name of the productSpecCharacteristic"
                }, 
                "description": {
                    "type": "string", 
                    "description": "A narrative that explains in detail what the productSpecCharacteristic is"
                }, 
                "valueType": {
                    "type": "string", 
                    "description": "A kind of value that the characteristic can take on, such as numeric, text and so forth"
                }, 
                "configurable": {
                    "type": "boolean", 
                    "description": "If true, the Boolean indicates that the productSpecCharacteristic is configurable"
                }, 
                "validFor": {
                    "$ref": "#/definitions/TimePeriod", 
                    "description": "The period for which the productSpecCharacteristic is valid"
                }, 
                "productSpecCharRelationship": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ProductSpecCharRelationship"
                    }
                }, 
                "productSpecCharacteristicValue": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ProductSpecCharacteristicValue"
                    }
                }
            }
        }, 
        "ServiceSpecificationRef": {
            "type": "object", 
            "description": "Service specification reference: ServiceSpecification(s) required to realize a ProductSpecification.", 
            "properties": {
                "id": {
                    "type": "string", 
                    "description": "Unique identifier of the service specification"
                }, 
                "href": {
                    "type": "string", 
                    "description": "Reference of the serviceSpecification"
                }, 
                "name": {
                    "type": "string", 
                    "description": "Name of the requiredServiceSpecification"
                }, 
                "version": {
                    "type": "string", 
                    "description": "Service specification version"
                }
            }
        }, 
        "ProductSpecificationRelationship": {
            "type": "object", 
            "description": "A migration, substitution, dependency or exclusivity relationship between/among product specifications.", 
            "properties": {
                "id": {
                    "type": "string", 
                    "description": "Unique identifier of the productSpecification"
                }, 
                "href": {
                    "type": "string", 
                    "description": "Reference of the productSpecification"
                }, 
                "type": {
                    "type": "string", 
                    "description": "Type of relationship such as migration, substitution, dependency, exclusivity"
                }, 
                "validFor": {
                    "$ref": "#/definitions/TimePeriod", 
                    "description": "The period for which the productSpecificationRelationship is valid"
                }
            }
        }, 
        "ResourceSpecificationRef": {
[...]
