
{
  "swagger": "2.0",
  "info": {
    "description": "",
    "version": "2.0",
    "title": "API TroubleTicket"
  },
  "host": "env-0693795.jelastic.servint.net",
  "basePath":	"/DSTroubleTicket/api/troubleTicketManagement/v2",
  "schemes": [
      "http"
  ],
  "consumes": [
      "application/json"
  ],
  "produces": [
      "application/json"
  ],  
  "paths": {    
    "/troubleTicket": {        
    "post": {
      "tags": [
         "troubleTicket"
      ],            
      "operationId": "troubleTicketCreate",
      "summary": "troubleTicketCreate",
      "description": "",       
      "deprecated": false,
      "parameters": [
      
                          
        
                      
        {
         "name": "troubleTicket",
          "in": "body",
          "required": true,
          "schema": {
            "$ref": "#/definitions/TroubleTicket"
          }
        }          
      ],
      "responses": {
        "201": {
          "description": "TroubleTicket",
          "schema": {
            "$ref": "#/definitions/TroubleTicket"
          }
        }
      }
    }
	,
    "get": {
      "tags": [
         "troubleTicket"
      ],          
      "operationId": "troubleTicketFind",
      "summary": "troubleTicketFind",
      "description": "",       
      "deprecated": false,
        
      "parameters": [    

                                  
        
        {
          "name": "fields",
          "in": "query",
          "required": false,            
          "description": "",
          
          "type": "string"                      
        }    
  

      ],
         
      "responses": {
        "200": {
          "description": "List of TroubleTicket",
          "schema": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/TroubleTicket"
            }
          } 
        }          
      }
    }
	
    },    
    "/troubleTicket/{troubleTicketId}": {
    "get": {
      "tags": [
         "troubleTicket"
      ],    
      "operationId": "troubleTicketGet",
      "summary": "troubleTicketGet",
      "description": "",
      "deprecated": false,
            
      "parameters": [
      
                                  
            
        {
          "name": "troubleTicketId",
          "in": "path",
          "required": true,            
          "type": "string"
        }
  ,
        {
          "name": "fields",
          "in": "query",
          "required": false,            
          "description": "",
          
          "type": "string"                      
        }    
        

      ],
         
      "responses": {
        "200": {
          "description": "TroubleTicket",
          "schema": {
            "$ref": "#/definitions/TroubleTicket"
            }
          }
      }        
    }     
	,
    "patch": {
      "tags": [
         "troubleTicket"
      ],            
      "operationId": "troubleTicketPatch",
      "summary": "troubleTicketPatch",
      "description": "",      
      "deprecated": false, 
      "parameters": [
      
                                  
            
        {
          "name": "troubleTicketId",
          "in": "path",
          "required": true,            
          "type": "string"
        }
  ,
               
        {
         "name": "troubleTicket",
         "in": "body",
         "required": true,
         "schema": {
           "$ref": "#/definitions/TroubleTicket"
         }
        }                               
      ], 
      "responses": {
        "200": {
          "description": "Success TroubleTicket",
          "schema": {
            "$ref": "#/definitions/TroubleTicket"
            }
          }
      }             
    }
	,
    "put": {
      "tags": [
         "troubleTicket"
      ],            
      "operationId": "troubleTicketUpdate",
      "summary": "troubleTicketUpdate",
      "description": "",      
      "deprecated": false, 
      "parameters": [
      
                                  
            
        {
          "name": "troubleTicketId",
          "in": "path",
          "required": true,            
          "type": "string"
        }
  ,
               
        {
         "name": "troubleTicket",
         "in": "body",
         "required": true,
         "schema": {
           "$ref": "#/definitions/TroubleTicket"
         }
        }                               
      ], 
      "responses": {
        "201": {
          "description": "Success TroubleTicket",
          "schema": {
            "$ref": "#/definitions/TroubleTicket"
            }
          }
      }             
    }
	
    },    
    "/hub": {        
    "post": {
      "tags": [
         "hub"
      ],            
      "operationId": "hubCreate",
      "summary": "hubCreate",
      "description": "",       
      "deprecated": false,
      "parameters": [
      
                          
        
                      
        {
         "name": "hub",
          "in": "body",
          "required": true,
          "schema": {
            "$ref": "#/definitions/Hub"
          }
        }          
      ],
      "responses": {
        "201": {
          "description": "Hub",
          "schema": {
            "$ref": "#/definitions/Hub"
          }
        }
      }
    }
	,
    "get": {
      "tags": [
         "hub"
      ],          
      "operationId": "hubFind",
      "summary": "hubFind",
      "description": "",       
      "deprecated": false,
         
      "responses": {
        "200": {
          "description": "List of Hub",
          "schema": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/Hub"
            }
          } 
        }          
      }
    }
	
    },    
    "/hub/{hubId}": {
    "delete": {
      "tags": [
         "hub"
      ],    
      "operationId": "hubDelete",
      "summary": "hubDelete",
      "description": "",
      "deprecated": false,
        
      "parameters": [
      
                                  
            
        {
          "name": "hubId",
          "in": "path",
          "required": true,            
          "type": "string"
        }
  
        
      ],
         
      "responses": {
        "204": {
          "description": "Success"
          }  
      }   
    }
	,
    "get": {
      "tags": [
         "hub"
      ],    
      "operationId": "hubGet",
      "summary": "hubGet",
      "description": "",
      "deprecated": false,
            
      "parameters": [
      
                                  
            
        {
          "name": "hubId",
          "in": "path",
          "required": true,            
          "type": "string"
        }
        

      ],
         
      "responses": {
        "200": {
          "description": "Hub",
          "schema": {
            "$ref": "#/definitions/Hub"
            }
          }
      }        
    }     
	
    }
  },
"definitions": {
  

    "Note": {
      
      "type": "object",
      "properties": {      
      
        "date": {
          
          "type": "string",
          "format": "date"
        }
        ,
        "author": {
          
          "type": "string"
        }
        ,
        "text": {
          
          "type": "string"
        }
        
      }
    }
                
  ,

    "RelatedObject": {
      
      "type": "object",
      "properties": {      
      
        "involvement": {
          
          "type": "string"
        }
        ,
        "reference": {
          
          "type": "string"
        }
        
      }
    }
                
  ,

    "RelatedParty": {
      
      "type": "object",
      "properties": {      
      
        "href": {
          
          "type": "string"
        }
        ,
        "role": {
          
          "type": "string"
        }
        
      }
    }
                
  ,

    "TroubleTicket": {
            
      "required": [
      
        "status",
        "statusChangeReason"
      ],
      "type": "object",
      "properties": {      
      
        "id": {
          
          "type": "string"
        }
        ,
        "correlationId": {
          
          "type": "string"
        }
        ,
        "description": {
          
          "type": "string"
        }
        ,
        "severity": {
          
          "type": "string"
        }
        ,
        "type": {
          
          "type": "string"
        }
        ,
        "creationDate": {
          
          "type": "string",
          "format": "date"
        }
        ,
        "targetResolutionDate": {
          
          "type": "string",
          "format": "date"
        }
        ,
        "status": {
          
          "type": "string",    
          "enum": [   
          
            "Submitted",
            "Rejected",
            "Acknowledged",
            "InProgress",
            "InProgressHeld",
            "InProgressPending",
            "Resolved",
            "Closed",
            "Cancelled"
          ]
  
        }
        ,
        "statusChangeReason": {
          
          "type": "string"
        }
        ,
        "statusChangeDate": {
          
          "type": "string",
          "format": "date"
        }
        ,
        "relatedParty": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/RelatedParty"
  
              }
            
        }
        ,
        "relatedObject": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/RelatedObject"
  
              }
            
        }
        ,
        "note": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/Note"
  
              }
            
        }
        
      }
    }
                
  ,

    "Hub": {
      
      "type": "object",
      "properties": {      
      
        "id": {
          
          "type": "string"
        }
        ,
        "callback": {
          
          "type": "string"
        }
        ,
        "query": {
          
          "type": "string"
        }
        
      }
    }
                
  
  }
}
	