{
   "swagger":"2.0",
   "info":{
      "description":"",
      "version":"1.0",
      "title":"API Activation and Configuration"
   },
   "host":"env-0693795.jelastic.servint.net",
   "basePath":"/DSEntityProvisioning/api/ActivationAndConfiguration/v2",
   "schemes":[
      "http"
   ],
   "consumes":[
      "application/json"
   ],
   "produces":[
      "application/json"
   ],
   "paths":{
      "/service":{
         "post":{
            "tags":[
               "service"
            ],
            "operationId":"serviceCreate",
            "summary":"serviceCreate",
            "description":"",
            "deprecated":false,
            "parameters":[
               {
                  "name":"service",
                  "in":"body",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/service"
                  }
               }
            ],
            "responses":{
               "201":{
                  "description":"service",
                  "schema":{
                     "$ref":"#/definitions/service"
                  }
               }
            }
         },
         "get":{
            "tags":[
               "service"
            ],
            "operationId":"serviceFind",
            "summary":"serviceFind",
            "description":"",
            "deprecated":false,
            "parameters":[
               {
                  "name":"fields",
                  "in":"query",
                  "required":false,
                  "description":"",
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"List of Service",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/service"
                     }
                  }
               }
            }
         }
      },
      "/service/{ServiceId}":{
         "delete":{
            "tags":[
               "service"
            ],
            "operationId":"serviceDelete",
            "summary":"serviceDelete",
            "description":"",
            "deprecated":false,
            "parameters":[
               {
                  "name":"ServiceId",
                  "in":"path",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "204":{
                  "description":"Success"
               }
            }
         },
         "get":{
            "tags":[
               "service"
            ],
            "operationId":"serviceServiceGet",
            "summary":"serviceServiceGet",
            "description":"",
            "deprecated":false,
            "parameters":[
               {
                  "name":"ServiceId",
                  "in":"path",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"fields",
                  "in":"query",
                  "required":false,
                  "description":"",
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"Service",
                  "schema":{
                     "$ref":"#/definitions/service"
                  }
               }
            }
         },
         "patch":{
            "tags":[
               "service"
            ],
            "operationId":"ServicePatch",
            "summary":"ServicePatch",
            "description":"",
            "deprecated":false,
            "parameters":[
               {
                  "name":"ServiceId",
                  "in":"path",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"Service",
                  "in":"body",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/service"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Success Service",
                  "schema":{
                     "$ref":"#/definitions/service"
                  }
               }
            }
         }
      },
      "/monitor":{
         "get":{
            "tags":[
               "monitor"
            ],
            "operationId":"monitorFind",
            "summary":"monitorFind",
            "description":"",
            "deprecated":false,
            "parameters":[
               {
                  "name":"fields",
                  "in":"query",
                  "required":false,
                  "description":"",
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"List of monitor",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/monitor"
                     }
                  }
               }
            }
         }
      },
      "/monitor/{monitorId}":{
         "get":{
            "tags":[
               "monitor"
            ],
            "operationId":"monitorGet",
            "summary":"monitorGet",
            "description":"",
            "deprecated":false,
            "parameters":[
               {
                  "name":"monitorId",
                  "in":"path",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"fields",
                  "in":"query",
                  "required":false,
                  "description":"",
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"monitor",
                  "schema":{
                     "$ref":"#/definitions/monitor"
                  }
               }
            }
         },
         "head":{
            "tags":[
               "monitor"
            ],
            "operationId":"monitorHead",
            "summary":"monitorHead",
            "description":"",
            "deprecated":false,
            "parameters":[
               {
                  "name":"monitorId",
                  "in":"path",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"fields",
                  "in":"query",
                  "required":false,
                  "description":"",
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"monitor",
                  "schema":{
                     "$ref":"#/definitions/monitor"
                  }
               }
            }
         }
      },
      "/resource":{
         "post":{
            "tags":[
               "resource"
            ],
            "operationId":"resourceCreate",
            "summary":"resourceCreate",
            "description":"",
            "deprecated":false,
            "parameters":[
               {
                  "name":"resource",
                  "in":"body",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/resource"
                  }
               }
            ],
            "responses":{
               "201":{
                  "description":"PNF",
                  "schema":{
                     "$ref":"#/definitions/resource"
                  }
               }
            }
         },
         "get":{
            "tags":[
               "resource"
            ],
            "operationId":"resourceFind",
            "summary":"resourceFind",
            "description":"",
            "deprecated":false,
            "parameters":[
               {
                  "name":"fields",
                  "in":"query",
                  "required":false,
                  "description":"",
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"List of resource ",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/resource"
                     }
                  }
               }
            }
         }
      },
      "/resource/{resourceId}":{
         "delete":{
            "tags":[
               "resource"
            ],
            "operationId":"resourceDelete",
            "summary":"resourceDelete",
            "description":"",
            "deprecated":false,
            "parameters":[
               {
                  "name":"resourceId",
                  "in":"path",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "204":{
                  "description":"Success"
               }
            }
         },
         "get":{
            "tags":[
               "resource"
            ],
            "operationId":"resourceGet",
            "summary":"resourceGet",
            "description":"",
            "deprecated":false,
            "parameters":[
               {
                  "name":"resourceId",
                  "in":"path",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"fields",
                  "in":"query",
                  "required":false,
                  "description":"",
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"resource",
                  "schema":{
                     "$ref":"#/definitions/resource"
                  }
               }
            }
         },
         "patch":{
            "tags":[
               "resource"
            ],
            "operationId":"resourcePatch",
            "summary":"resourcePatch",
            "description":"",
            "deprecated":false,
            "parameters":[
               {
                  "name":"resourceId",
                  "in":"path",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"resource",
                  "in":"body",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/resource"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Success resource",
                  "schema":{
                     "$ref":"#/definitions/resource"
                  }
               }
            }
         }
      },
      "/hub":{
         "post":{
            "tags":[
               "hub"
            ],
            "operationId":"hubCreate",
            "summary":"hubCreate",
            "description":"",
            "deprecated":false,
            "parameters":[
               {
                  "name":"hub",
                  "in":"body",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/Hub"
                  }
               }
            ],
            "responses":{
               "201":{
                  "description":"Hub",
                  "schema":{
                     "$ref":"#/definitions/Hub"
                  }
               }
            }
         },
         "get":{
            "tags":[
               "hub"
            ],
            "operationId":"hubFind",
            "summary":"hubFind",
            "description":"",
            "deprecated":false,
            "responses":{
               "200":{
                  "description":"List of Hub",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/Hub"
                     }
                  }
               }
            }
         }
      },
      "/hub/{hubId}":{
         "delete":{
            "tags":[
               "hub"
            ],
            "operationId":"hubDelete",
            "summary":"hubDelete",
            "description":"",
            "deprecated":false,
            "parameters":[
               {
                  "name":"hubId",
                  "in":"path",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "204":{
                  "description":"Success"
               }
            }
         },
         "get":{
            "tags":[
               "hub"
            ],
            "operationId":"hubGet",
            "summary":"hubGet",
            "description":"",
            "deprecated":false,
            "parameters":[
               {
                  "name":"hubId",
                  "in":"path",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"Hub",
                  "schema":{
                     "$ref":"#/definitions/Hub"
                  }
               }
            }
         }
      }
   },
   "definitions":{
      "service":{
         "type":"object",
         "properties":{
            "id":{
               "type":"integer",
               "format":"int64"
            },
            "href":{
               "type":"string"
            },
            "name":{
               "type":"string"
            },
            "description":{
               "type":"string"
            },
            "type":{
               "type":"string"
            },
            "version":{
               "type":"string"
            },
            "state":{
               "type":"string",
               "enum":[
                  "Inactive",
                  "Active",
                  "Terminated"
               ]
            },
            "serviceSpecification":{
               "type":"object",
               "$ref":"#/definitions/ServiceSpecification"
            },
            "serviceCharacteristic":{
               "type":"array",
               "items":{
                  "$ref":"#/definitions/ServiceCharacteristic"
               }
            },
            "serviceRelationship":{
               "type":"array",
               "items":{
                  "$ref":"#/definitions/ServiceRelationship"
               }
            },
            "relatedParty":{
               "type":"array",
               "items":{
                  "$ref":"#/definitions/RelatedParty"
               }
            },
            "supportingService":{
               "type":"array",
               "items":{
                  "$ref":"#/definitions/SupportingService"
               }
            },
            "supportingResource":{
               "type":"array",
               "items":{
                  "$ref":"#/definitions/SupportingResource"
               }
            }
         }
      },
      "request":{
         "type":"object",
         "required":[
            "body",
            "header"
         ],
         "additionalProperties":false,
         "properties":{
            "method":{
               "type":"string"
            },
            "to":{
               "type":"string"
            },
            "body":{
               "type":"string"
            },
            "header":{
               "type":"array",
               "title":"header",
               "items":{
                  "type":"object",
                  "required":[
                     "name",
                     "value"
                  ],
                  "additionalProperties":false,
                  "properties":{
                     "name":{
                        "type":"string"
                     },
                     "value":{
                        "type":"string"
                     }
                  }
               }
            }
         }
      },
      "response":{
         "type":"object",
         "required":[
            "body",
            "header"
         ],
         "additionalProperties":false,
         "properties":{
            "statusCode":{
               "type":"string"
            },
            "body":{
               "type":"string"
            },
            "header":{
               "type":"array",
               "title":"header",
               "items":{
                  "type":"object",
                  "required":[
                     "name",
                     "value"
                  ],
                  "additionalProperties":false,
                  "properties":{
                     "name":{
                        "type":"string"
                     },
                     "value":{
                        "type":"string"
                     }
                  }
               }
            }
         }
      },
      "monitor":{
         "description":"JSON Schema generated by XMLSpy v2016 rel. 2 (http://www.altova.com)",
         "type":"object",
         "required":[
            "id",
            "state",
            "request",
            "response",
            "href",
            "sourceHref"
         ],
         "additionalProperties":false,
         "properties":{
            "id":{
               "type":"string"
            },
            "type":{
               "type":"string"
            },
            "state":{
               "type":"string"
            },
            "request":{
               "$ref":"#/definitions/request"
            },
            "response":{
               "$ref":"#/definitions/response"
            },
            "href":{
               "type":"string"
            },
            "sourceHref":{
               "type":"string"
            }
         }
      },
      "resource":{
         "type":"object",
         "properties":{
            "id":{
               "type":"integer",
               "format":"int64"
            },
            "href":{
               "type":"string"
            },
            "name":{
               "type":"string"
            },
            "description":{
               "type":"string"
            },
            "type":{
               "type":"string"
            },
            "version":{
               "type":"string"
            },
            "adminState":{
               "type":"string",
               "enum":[
                  "unknown",
                  "locked",
                  "shuttingDown",
                  "unlocked"
               ]
            },
            "operationalState":{
               "type":"string",
               "enum":[
                  "unknown",
                  "disabled",
                  "enabled",
                  "testing"
               ]
            },
            "usageState":{
               "type":"string",
               "enum":[
                  "unknown",
                  "idle",
                  "active",
                  "busy"
               ]
            },
            "state":{
               "type":"string",
               "enum":[
                  "inactive",
                  "active",
                  "terminated"
               ]
            },
            "resourceSpecification":{
               "type":"object",
               "$ref":"#/definitions/ResourceSpecification"
            },
            "resourceCharacteristic":{
               "type":"array",
               "items":{
                  "$ref":"#/definitions/ResourceCharacteristic"
               }
            },
            "resourceRelationship":{
               "type":"array",
               "items":{
                  "$ref":"#/definitions/ResourceRelationship"
               }
            },
            "relatedParty":{
               "type":"array",
               "items":{
                  "$ref":"#/definitions/RelatedParty"
               }
            }
         }
      },
      "ServiceSpecification":{
         "type":"object",
         "properties":{
            "id":{
               "type":"string"
            },
            "href":{
               "type":"string"
            }
         }
      },
      "ResourceSpecification":{
         "type":"object",
         "properties":{
            "id":{
               "type":"string"
            },
            "href":{
               "type":"string"
            }
         }
      },
      "SupportingResource":{
         "type":"object",
         "properties":{
            "id":{
               "type":"string"
            },
            "href":{
               "type":"string"
            }
         }
      },
      "SupportingService":{
         "type":"object",
         "properties":{
            "id":{
               "type":"string"
            },
            "href":{
               "type":"string"
            }
         }
      },
      "NetworkFuction":{
         "type":"object",
         "properties":{
            "id":{
               "type":"string"
            },
            "href":{
               "type":"string"
            }
         }
      },
      "ServiceRelationship":{
         "required":[
            "service"
         ],
         "type":"object",
         "properties":{
            "type":{
               "type":"string"
            },
            "service":{
               "$ref":"#/definitions/ServiceRef"
            }
         }
      },
      "ResourceRelationship":{
         "required":[
            "resource"
         ],
         "type":"object",
         "properties":{
            "type":{
               "type":"string"
            },
            "resource":{
               "$ref":"#/definitions/ResourceRef"
            }
         }
      },
      "ServiceRef":{
         "type":"object",
         "properties":{
            "id":{
               "type":"string"
            },
            "href":{
               "type":"string"
            }
         }
      },
      "ResourceRef":{
         "type":"object",
         "properties":{
            "id":{
               "type":"string"
            },
            "href":{
               "type":"string"
            }
         }
      },
      "ServiceCharacteristic":{
         "type":"object",
         "properties":{
            "name":{
               "type":"string"
            },
            "value":{
               "type":"string"
            }
         }
      },
      "ResourceCharacteristic":{
         "type":"object",
         "properties":{
            "name":{
               "type":"string"
            },
            "value":{
               "type":"string"
            }
         }
      },
      "RelatedParty":{
         "type":"object",
         "properties":{
            "id":{
               "type":"string"
            },
            "role":{
               "type":"string"
            },
            "href":{
               "type":"string"
            }
         }
      },
      "Hub":{
         "type":"object",
         "properties":{
            "id":{
               "type":"string"
            },
            "callback":{
               "type":"string"
            },
            "query":{
               "type":"string"
            }
         }
      }
   }
}