
{
  "swagger": "2.0",
  "info": {
    "description": "",
    "version": "2.0",
    "title": "API PartyManagement"
  },
  "host": "env-0693795.jelastic.servint.net",
  "basePath":	"/DSPartyManagement/api/partyManagement/v2",
  "schemes": [
      "http"
  ],
  "consumes": [
      "application/json"
  ],
  "produces": [
      "application/json"
  ],  
  "paths": {    
    "/individual": {        
    "post": {
      "tags": [
         "individual"
      ],            
      "operationId": "individualCreate",
      "summary": "individualCreate",
      "description": "",       
      "deprecated": false,
      "parameters": [
      
                          
        
                      
        {
         "name": "individual",
          "in": "body",
          "required": true,
          "schema": {
            "$ref": "#/definitions/Individual"
          }
        }          
      ],
      "responses": {
        "201": {
          "description": "Individual",
          "schema": {
            "$ref": "#/definitions/Individual"
          }
        }
      }
    }
	,
    "get": {
      "tags": [
         "individual"
      ],          
      "operationId": "individualFind",
      "summary": "individualFind",
      "description": "",       
      "deprecated": false,
        
      "parameters": [    

                                  
        
        {
          "name": "fields",
          "in": "query",
          "required": false,            
          "description": "",
          
          "type": "string"                      
        }    
  

      ],
         
      "responses": {
        "200": {
          "description": "List of Individual",
          "schema": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/Individual"
            }
          } 
        }          
      }
    }
	
    },    
    "/individual/{individualId}": {
    "delete": {
      "tags": [
         "individual"
      ],    
      "operationId": "individualDelete",
      "summary": "individualDelete",
      "description": "",
      "deprecated": false,
        
      "parameters": [
      
                                  
            
        {
          "name": "individualId",
          "in": "path",
          "required": true,            
          "type": "string"
        }
  
        
      ],
         
      "responses": {
        "204": {
          "description": "Success"
          }  
      }   
    }
	,
    "get": {
      "tags": [
         "individual"
      ],    
      "operationId": "individualGet",
      "summary": "individualGet",
      "description": "",
      "deprecated": false,
            
      "parameters": [
      
                                  
            
        {
          "name": "individualId",
          "in": "path",
          "required": true,            
          "type": "string"
        }
  ,
        {
          "name": "fields",
          "in": "query",
          "required": false,            
          "description": "",
          
          "type": "string"                      
        }    
        

      ],
         
      "responses": {
        "200": {
          "description": "Individual",
          "schema": {
            "$ref": "#/definitions/Individual"
            }
          }
      }        
    }     
	,
    "patch": {
      "tags": [
         "individual"
      ],            
      "operationId": "individualPatch",
      "summary": "individualPatch",
      "description": "",      
      "deprecated": false, 
      "parameters": [
      
                                  
            
        {
          "name": "individualId",
          "in": "path",
          "required": true,            
          "type": "string"
        }
  ,
               
        {
         "name": "individual",
         "in": "body",
         "required": true,
         "schema": {
           "$ref": "#/definitions/Individual"
         }
        }                               
      ], 
      "responses": {
        "200": {
          "description": "Success Individual",
          "schema": {
            "$ref": "#/definitions/Individual"
            }
          }
      }             
    }
	,
    "put": {
      "tags": [
         "individual"
      ],            
      "operationId": "individualUpdate",
      "summary": "individualUpdate",
      "description": "",      
      "deprecated": false, 
      "parameters": [
      
                                  
            
        {
          "name": "individualId",
          "in": "path",
          "required": true,            
          "type": "string"
        }
  ,
               
        {
         "name": "individual",
         "in": "body",
         "required": true,
         "schema": {
           "$ref": "#/definitions/Individual"
         }
        }                               
      ], 
      "responses": {
        "201": {
          "description": "Success Individual",
          "schema": {
            "$ref": "#/definitions/Individual"
            }
          }
      }             
    }
	
    },    
    "/organization": {        
    "post": {
      "tags": [
         "organization"
      ],            
      "operationId": "organizationCreate",
      "summary": "organizationCreate",
      "description": "",       
      "deprecated": false,
      "parameters": [
      
                          
        
                      
        {
         "name": "organization",
          "in": "body",
          "required": true,
          "schema": {
            "$ref": "#/definitions/Organization"
          }
        }          
      ],
      "responses": {
        "201": {
          "description": "Organization",
          "schema": {
            "$ref": "#/definitions/Organization"
          }
        }
      }
    }
	,
    "get": {
      "tags": [
         "organization"
      ],          
      "operationId": "organizationFind",
      "summary": "organizationFind",
      "description": "",       
      "deprecated": false,
        
      "parameters": [    

                                  
        
        {
          "name": "fields",
          "in": "query",
          "required": false,            
          "description": "",
          
          "type": "string"                      
        }    
  

      ],
         
      "responses": {
        "200": {
          "description": "List of Organization",
          "schema": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/Organization"
            }
          } 
        }          
      }
    }
	
    },    
    "/organization/{organizationId}": {
    "get": {
      "tags": [
         "organization"
      ],    
      "operationId": "organizationGet",
      "summary": "organizationGet",
      "description": "",
      "deprecated": false,
            
      "parameters": [
      
                                  
            
        {
          "name": "organizationId",
          "in": "path",
          "required": true,            
          "type": "string"
        }
  ,
        {
          "name": "fields",
          "in": "query",
          "required": false,            
          "description": "",
          
          "type": "string"                      
        }    
        

      ],
         
      "responses": {
        "200": {
          "description": "Organization",
          "schema": {
            "$ref": "#/definitions/Organization"
            }
          }
      }        
    }     
	,
    "patch": {
      "tags": [
         "organization"
      ],            
      "operationId": "organizationPatch",
      "summary": "organizationPatch",
      "description": "",      
      "deprecated": false, 
      "parameters": [
      
                                  
            
        {
          "name": "organizationId",
          "in": "path",
          "required": true,            
          "type": "string"
        }
  ,
               
        {
         "name": "organization",
         "in": "body",
         "required": true,
         "schema": {
           "$ref": "#/definitions/Organization"
         }
        }                               
      ], 
      "responses": {
        "200": {
          "description": "Success Organization",
          "schema": {
            "$ref": "#/definitions/Organization"
            }
          }
      }             
    }
	,
    "put": {
      "tags": [
         "organization"
      ],            
      "operationId": "organizationUpdate",
      "summary": "organizationUpdate",
      "description": "",      
      "deprecated": false, 
      "parameters": [
      
                                  
            
        {
          "name": "organizationId",
          "in": "path",
          "required": true,            
          "type": "string"
        }
  ,
               
        {
         "name": "organization",
         "in": "body",
         "required": true,
         "schema": {
           "$ref": "#/definitions/Organization"
         }
        }                               
      ], 
      "responses": {
        "201": {
          "description": "Success Organization",
          "schema": {
            "$ref": "#/definitions/Organization"
            }
          }
      }             
    }
	
    },    
    "/hub": {        
    "post": {
      "tags": [
         "hub"
      ],            
      "operationId": "hubCreate",
      "summary": "hubCreate",
      "description": "",       
      "deprecated": false,
      "parameters": [
      
                          
        
                      
        {
         "name": "hub",
          "in": "body",
          "required": true,
          "schema": {
            "$ref": "#/definitions/Hub"
          }
        }          
      ],
      "responses": {
        "201": {
          "description": "Hub",
          "schema": {
            "$ref": "#/definitions/Hub"
          }
        }
      }
    }
	,
    "get": {
      "tags": [
         "hub"
      ],          
      "operationId": "hubFind",
      "summary": "hubFind",
      "description": "",       
      "deprecated": false,
         
      "responses": {
        "200": {
          "description": "List of Hub",
          "schema": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/Hub"
            }
          } 
        }          
      }
    }
	
    },    
    "/hub/{hubId}": {
    "delete": {
      "tags": [
         "hub"
      ],    
      "operationId": "hubDelete",
      "summary": "hubDelete",
      "description": "",
      "deprecated": false,
        
      "parameters": [
      
                                  
            
        {
          "name": "hubId",
          "in": "path",
          "required": true,            
          "type": "string"
        }
  
        
      ],
         
      "responses": {
        "204": {
          "description": "Success"
          }  
      }   
    }
	,
    "get": {
      "tags": [
         "hub"
      ],    
      "operationId": "hubGet",
      "summary": "hubGet",
      "description": "",
      "deprecated": false,
            
      "parameters": [
      
                                  
            
        {
          "name": "hubId",
          "in": "path",
          "required": true,            
          "type": "string"
        }
        

      ],
         
      "responses": {
        "200": {
          "description": "Hub",
          "schema": {
            "$ref": "#/definitions/Hub"
            }
          }
      }        
    }     
	
    }
  },
"definitions": {
  

    "Individual": {
      
      "type": "object",
      "properties": {      
      
        "id": {
          
          "type": "integer",
          "format": "int64"
        }
        ,
        "href": {
          
          "type": "string"
        }
        ,
        "gender": {
          
          "type": "string"
        }
        ,
        "placeOfBirth": {
          
          "type": "string"
        }
        ,
        "countryOfBirth": {
          
          "type": "string"
        }
        ,
        "nationality": {
          
          "type": "string"
        }
        ,
        "maritalStatus": {
          
          "type": "string"
        }
        ,
        "birthDate": {
          
          "type": "string",
          "format": "date-time"
        }
        ,
        "title": {
          
          "type": "string"
        }
        ,
        "givenName": {
          
          "type": "string"
        }
        ,
        "familyName": {
          
          "type": "string"
        }
        ,
        "middleName": {
          
          "type": "string"
        }
        ,
        "fullName": {
          
          "type": "string"
        }
        ,
        "formattedName": {
          
          "type": "string"
        }
        ,
        "location": {
          
          "type": "string"
        }
        ,
        "status": {
          
          "type": "string"
        }
        ,
        "disability": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/Disability"
  
              }
            
        }
        ,
        "characteristic": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/Characteristic"
  
              }
            
        }
        ,
        "otherName": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/OtherName"
  
              }
            
        }
        ,
        "individualIdentification": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/IndividualIdentification"
  
              }
            
        }
        ,
        "externalReference": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/ExternalReference"
  
              }
            
        }
        ,
        "relatedParty": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/RelatedParty"
  
              }
            
        }
        ,
        "contactMedium": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/ContactMedium"
  
              }
            
        }
        
      }
    }
                
  ,

    "ExternalReference": {
      
      "type": "object",
      "properties": {      
      
        "href": {
          
          "type": "string"
        }
        ,
        "type": {
          
          "type": "string"
        }
        
      }
    }
                
  ,

    "RelatedParty": {
      
      "type": "object",
      "properties": {      
      
        "id": {
          
          "type": "string"
        }
        ,
        "href": {
          
          "type": "string"
        }
        ,
        "role": {
          
          "type": "string"
        }
        ,
        "name": {
          
          "type": "string"
        }
        ,
        "validFor": {
          
                "$ref": "#/definitions/ValidFor"
  
        }
        
      }
    }
                
  ,

    "ContactMedium": {
      
      "type": "object",
      "properties": {      
      
        "type": {
          
          "type": "string"
        }
        ,
        "validFor": {
          
                "$ref": "#/definitions/ValidFor"
  
        }
        ,
        "medium": {
          
                "$ref": "#/definitions/Medium"
  
        }
        ,
        "preferred": {
          
          "type": "string"
        }
        
      }
    }
                
  ,

    "Medium": {
      
      "type": "object",
      "properties": {      
      
        "city": {
          
          "type": "string"
        }
        ,
        "country": {
          
          "type": "string"
        }
        ,
        "postcode": {
          
          "type": "string"
        }
        ,
        "stateOrProvince": {
          
          "type": "string"
        }
        ,
        "streetOne": {
          
          "type": "string"
        }
        ,
        "streetTwo": {
          
          "type": "string"
        }
        ,
        "emailAddress": {
          
          "type": "string"
        }
        ,
        "type": {
          
          "type": "string"
        }
        ,
        "number": {
          
          "type": "string"
        }
        
      }
    }
                
  ,

    "IndividualIdentification": {
      
      "type": "object",
      "properties": {      
      
        "type": {
          
          "type": "string"
        }
        ,
        "identificationId": {
          
          "type": "string"
        }
        ,
        "issuingAuthority": {
          
          "type": "string"
        }
        ,
        "issuingDate": {
          
          "type": "string",
          "format": "date-time"
        }
        
      }
    }
                
  ,

    "OtherName": {
      
      "type": "object",
      "properties": {      
      
        "title": {
          
          "type": "string"
        }
        ,
        "givenName": {
          
          "type": "string"
        }
        ,
        "familyName": {
          
          "type": "string"
        }
        ,
        "middleName": {
          
          "type": "string"
        }
        ,
        "fullName": {
          
          "type": "string"
        }
        ,
        "formattedName": {
          
          "type": "string"
        }
        ,
        "validFor": {
          
                "$ref": "#/definitions/ValidFor"
  
        }
        ,
        "nameType": {
          
          "type": "string"
        }
        ,
        "tradingName": {
          
          "type": "string"
        }
        
      }
    }
                
  ,

    "Characteristic": {
      
      "type": "object",
      "properties": {      
      
        "name": {
          
          "type": "string"
        }
        ,
        "value": {
          
          "type": "string"
        }
        
      }
    }
                
  ,

    "Disability": {
      
      "type": "object",
      "properties": {      
      
        "disability": {
          
          "type": "string"
        }
        
      }
    }
                
  ,

    "ValidFor": {
      
      "type": "object",
      "properties": {      
      
        "startDateTime": {
          
          "type": "string",
          "format": "date-time"
        }
        ,
        "endDateTime": {
          
          "type": "string",
          "format": "date-time"
        }
        
      }
    }
                
  ,

    "Organization": {
      
      "type": "object",
      "properties": {      
      
        "id": {
          
          "type": "integer",
          "format": "int64"
        }
        ,
        "href": {
          
          "type": "string"
        }
        ,
        "isLegalEntity": {
          
          "type": "string"
        }
        ,
        "type": {
          
          "type": "string"
        }
        ,
        "existsDuring": {
          
                "$ref": "#/definitions/ExistsDuring"
  
        }
        ,
        "tradingName": {
          
          "type": "string"
        }
        ,
        "nameType": {
          
          "type": "string"
        }
        ,
        "status": {
          
          "type": "string"
        }
        ,
        "otherName": {
          
                "$ref": "#/definitions/OtherName"
  
        }
        ,
        "characteristic": {
          
                "$ref": "#/definitions/Characteristic"
  
        }
        ,
        "organizationIdentification": {
          
                "$ref": "#/definitions/OrganizationIdentification"
  
        }
        ,
        "externalReference": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/ExternalReference"
  
              }
            
        }
        ,
        "relatedParty": {
          
                "$ref": "#/definitions/RelatedParty"
  
        }
        ,
        "organizationParentRelationship": {
          
                "$ref": "#/definitions/OrganizationParentRelationship"
  
        }
        ,
        "organizationChildRelationship": {
          
                "$ref": "#/definitions/OrganizationChildRelationship"
  
        }
        ,
        "contactMedium": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/ContactMedium"
  
              }
            
        }
        
      }
    }
                
  ,

    "OrganizationIdentification": {
      
      "type": "object",
      "properties": {      
      
        "type": {
          
          "type": "string"
        }
        ,
        "identificationId": {
          
          "type": "string"
        }
        ,
        "issuingAuthority": {
          
          "type": "string"
        }
        ,
        "issuingDate": {
          
          "type": "string"
        }
        ,
        "validFor": {
          
                "$ref": "#/definitions/ValidFor"
  
        }
        
      }
    }
                
  ,

    "OrganizationParentRelationship": {
      
      "type": "object",
      "properties": {      
      
        "relationshipType": {
          
          "type": "string"
        }
        ,
        "id": {
          
          "type": "string"
        }
        ,
        "href": {
          
          "type": "string"
        }
        ,
        "validFor": {
          
                "$ref": "#/definitions/ValidFor"
  
        }
        
      }
    }
                
  ,

    "OrganizationChildRelationship": {
      
      "type": "object",
      "properties": {      
      
        "relationshipType": {
          
          "type": "string"
        }
        ,
        "id": {
          
          "type": "string"
        }
        ,
        "href": {
          
          "type": "string"
        }
        ,
        "validFor": {
          
                "$ref": "#/definitions/ValidFor"
  
        }
        
      }
    }
                
  ,

    "ExistsDuring": {
      
      "type": "object",
      "properties": {      
      
        "startDateTime": {
          
          "type": "string",
          "format": "date-time"
        }
        ,
        "endDateTime": {
          
          "type": "string",
          "format": "date-time"
        }
        
      }
    }
                
  ,

    "Hub": {
      
      "type": "object",
      "properties": {      
      
        "id": {
          
          "type": "string"
        }
        ,
        "callback": {
          
          "type": "string"
        }
        ,
        "query": {
          
          "type": "string"
        }
        
      }
    }
                
  
  }
}
	