{
    "swagger": "2.0",
    "info": {
        "description": "",
        "version": "1.0",
        "title": "API AddressManagement"
    },
    "host": "api.orange.com",
    "basePath": "/",
    "schemes": ["http"],
    "consumes": ["application/json"],
    "produces": ["application/json"],
    "paths": {
        "/address": {"get": {
            "tags": ["address"],
            "operationId": "addressList",
            "summary": "find",
            "description": "This operation is used to retrieve an address corresponding to search criteria.",
            "deprecated": false,
            "parameters": [
                {
                    "name": ".fullText",
                    "in": "query",
                    "required": false,
                    "description": "can be used for full text searches, for example when you have a single textarea to capture address search infos",
                    "type": "string"
                },
                {
                    "name": ".fuzzy",
                    "in": "query",
                    "required": false,
                    "description": "can be used for approximative searches (sounds like, etc.)",
                    "type": "string"
                },
                {
                    "name": "fields",
                    "in": "query",
                    "required": false,
                    "description": "For attribute selection",
                    "type": "string"
                },
                {
                    "name": "streetNr",
                    "in": "query",
                    "required": false,
                    "description": "street number",
                    "type": "string"
                },
                {
                    "name": "streetNrSuffix",
                    "in": "query",
                    "required": false,
                    "description": "street number suffix",
                    "type": "string"
                },
                {
                    "name": "streetNrLast",
                    "in": "query",
                    "required": false,
                    "description": "street number last",
                    "type": "string"
                },
                {
                    "name": "streetNrLastSuffix",
                    "in": "query",
                    "required": false,
                    "description": "street number last suffix",
                    "type": "string"
                },
                {
                    "name": "streetName",
                    "in": "query",
                    "required": false,
                    "description": "street name",
                    "type": "string"
                },
                {
                    "name": "streetType",
                    "in": "query",
                    "required": false,
                    "description": "street Type : alley, avenue, boulevard, brae, crescent, drive, highway, lane, terrace, parade, place, tarn, way, wharf, ...",
                    "type": "string"
                },
                {
                    "name": "streetSuffix",
                    "in": "query",
                    "required": false,
                    "description": "street suffix",
                    "type": "string"
                },
                {
                    "name": "postcode",
                    "in": "query",
                    "required": false,
                    "description": "postal code",
                    "type": "string"
                },
                {
                    "name": "locality",
                    "in": "query",
                    "required": false,
                    "description": "locality",
                    "type": "string"
                },
                {
                    "name": "city",
                    "in": "query",
                    "required": false,
                    "description": "city",
                    "type": "string"
                },
                {
                    "name": "country",
                    "in": "query",
                    "required": false,
                    "description": "country",
                    "type": "string"
                },
                {
                    "name": "geoCode.latitude",
                    "in": "query",
                    "required": false,
                    "description": "latitude",
                    "type": "string"
                },
                {
                    "name": "geoCode.longitude",
                    "in": "query",
                    "required": false,
                    "description": "longitude",
                    "type": "string"
                },
                {
                    "name": "geoCode.geographicDatum",
                    "in": "query",
                    "required": false,
                    "description": "geographic system",
                    "type": "string"
                }
            ],
            "responses": {"200": {
                "description": "Success",
                "schema": {
                    "type": "array",
                    "items": {"$ref": "#/definitions/Address"}
                }
            }}
        }},
        "/address/{addressId}": {"get": {
            "tags": ["address"],
            "operationId": "addressfindById",
            "summary": "findById",
            "description": "Retrieves an address using its unique ID. This ID should be retrieve either using the address completion process (cf. completion), or in another API of the ecosystem (party, appointment, etc.)",
            "deprecated": false,
            "parameters": [{
                "name": "addressId",
                "in": "path",
                "required": true,
                "type": "string"
            }],
            "responses": {"200": {
                "description": "Success",
                "schema": {"$ref": "#/definitions/Address"}
            }}
        }},
        "/address/validate": {"post": {
            "tags": ["address"],
            "operationId": "addressValidate",
            "summary": "validate",
            "description": "",
            "deprecated": false,
            "parameters": [{
                "name": "addressToValidate",
                "in": "body",
                "required": false,
                "description": "Address data to validate",
                "schema": {"$ref": "#/definitions/Address"}
            }],
            "responses": {"200": {
                "description": "Success",
                "schema": {"$ref": "#/definitions/Address"}
            }}
        }},
        "/area": {"get": {
            "tags": ["area"],
            "operationId": "areaList",
            "summary": "find",
            "description": "This operation is the first step of an address completion process, allowing to retrieve geographic areas\nStep 1: I look for a geographic area (city, locality, district, etc.) using its name",
            "deprecated": false,
            "parameters": [
                {
                    "name": "fields",
                    "in": "query",
                    "required": false,
                    "description": "Attribute selection",
                    "type": "string"
                },
                {
                    "name": ".fuzzy",
                    "in": "query",
                    "required": false,
                    "description": "can be used for approximative searches (sounds like, etc.)",
                    "type": "string"
                },
                {
                    "name": "name",
                    "in": "query",
                    "required": false,
                    "description": "area name",
                    "type": "string"
                },
                {
                    "name": "type",
                    "in": "query",
                    "required": false,
                    "description": "area type",
                    "type": "string"
                }
            ],
            "responses": {"200": {
                "description": "Success",
                "schema": {
                    "type": "array",
                    "items": {"$ref": "#/definitions/Area"}
                }
            }}
        }},
        "/street": {"get": {
            "tags": ["street"],
            "operationId": "streetList",
            "summary": "find",
            "description": "This operation is the second step of an address completion process, allowing to retrieve streets\nStep 2: I look for the streets inside this geographic area",
            "deprecated": false,
            "parameters": [
                {
                    "name": "area.id",
                    "in": "query",
                    "required": false,
                    "description": "area id",
                    "type": "string"
                },
                {
                    "name": ".fuzzy",
                    "in": "query",
                    "required": false,
                    "description": "can be used for approximative searches (sounds like, etc.)",
                    "type": "string"
                },
                {
                    "name": "fields",
                    "in": "query",
                    "required": false,
                    "description": "attribute selection",
                    "type": "string"
                },
                {
                    "name": "name",
                    "in": "query",
                    "required": false,
                    "description": "street name",
                    "type": "string"
                },
                {
                    "name": "type",
                    "in": "query",
                    "required": false,
                    "description": "street type",
                    "type": "string"
                }
            ],
            "responses": {"200": {
                "description": "Success",
                "schema": {
                    "type": "array",
                    "items": {"$ref": "#/definitions/Street"}
                }
            }}
        }},
        "/street/{streetId}/streetSegment": {"get": {
            "tags": ["streetSegment"],
            "operationId": "streetSegmentList",
            "summary": "find",
            "description": "This operation is the last step of an address completion process, allowing to retrieve numbers in a street\nStep 3: I get all the street segments (numbers) existing in the street",
            "deprecated": false,
            "parameters": [{
                "name": "streetId",
                "in": "path",
                "required": true,
                "type": "string"
            }],
            "responses": {"200": {
                "description": "Success",
                "schema": {
                    "type": "array",
                    "items": {"$ref": "#/definitions/StreetSegment"}
                }
            }}
        }}
    },
    "definitions": {
        "Address": {
            "description": "Structured textual way of describing how to find a Property in an urban area (country properties are often defined differently).",
            "type": "object",
            "properties": {
                "id": {"type": "string"},
                "href": {"type": "string"},
                "streetNr": {"type": "string"},
                "streetNrSuffix": {"type": "string"},
                "streetNrLast": {"type": "string"},
                "streetNrLastSuffix": {"type": "string"},
                "streetName": {"type": "string"},
                "streetType": {"type": "string"},
                "streetSuffix": {"type": "string"},
                "postcode": {"type": "string"},
                "locality": {"type": "string"},
                "city": {"type": "string"},
                "stateOrProvince": {"type": "string"},
                "country": {"type": "string"},
                "geoCode": {"$ref": "#/definitions/GeoCode"}
            }
        },
        "GeoCode": {
            "description": "Geographic coordinates to point to the address",
            "type": "object",
            "properties": {
                "latitude": {"type": "string"},
                "longitude": {"type": "string"},
                "geographicDatum": {"type": "string"}
            }
        },
        "Area": {
            "description": "It is used to represent areas defined on maps that relate to areas of settlement.",
            "type": "object",
            "properties": {
                "id": {"type": "string"},
                "name": {"type": "string"},
                "type": {"type": "string"},
                "characteristic": {
                    "type": "array",
                    "items": {"$ref": "#/definitions/Characteristic"}
                }
            }
        },
        "Characteristic": {
            "type": "object",
            "properties": {
                "name": {"type": "string"},
                "value": {"type": "string"}
            }
        },
        "Street": {
            "description": "It is used to represent streets within an Area.",
            "type": "object",
            "properties": {
                "id": {"type": "string"},
                "type": {"type": "string"},
                "name": {"type": "string"},
                "characteristic": {
                    "type": "array",
                    "items": {"$ref": "#/definitions/Characteristic"}
                },
                "address": {"$ref": "#/definitions/AddressRef"}
            }
        },
        "AddressRef": {
            "type": "object",
            "properties": {
                "id": {"type": "string"},
                "href": {"type": "string"}
            }
        },
        "StreetSegment": {
            "description": "It is used to represent segments in a given street: this can be directly street numbers (22), or group of numbers materializing a geographic address, e.g. 22-24.",
            "type": "object",
            "properties": {
                "id": {"type": "string"},
                "number": {"type": "string"},
                "numberSuffix": {"type": "string"},
                "numberLast": {"type": "string"},
                "numberLastSuffix": {"type": "string"},
                "address": {"$ref": "#/definitions/AddressRef"}
            }
        }
    }
}