
{
  "swagger": "2.0",
  "info": {
    "description": "",
    "version": "2.0",
    "title": "API BillingManagement"
  },
  "host": "env-0693795.jelastic.servint.net",
  "basePath":	"/DSBillingManagement/api/billingManagement/v2",
  "schemes": [
      "http"
  ],
  "consumes": [
      "application/json"
  ],
  "produces": [
      "application/json"
  ],  
  "paths": {    
    "/billingAccount": {        
    "post": {
      "tags": [
         "billingAccount"
      ],            
      "operationId": "billingAccountCreate",
      "summary": "billingAccountCreate",
      "description": "",       
      "deprecated": false,
      "parameters": [
      
                          
        
                      
        {
         "name": "billingAccount",
          "in": "body",
          "required": true,
          "schema": {
            "$ref": "#/definitions/BillingAccount"
          }
        }          
      ],
      "responses": {
        "201": {
          "description": "BillingAccount",
          "schema": {
            "$ref": "#/definitions/BillingAccount"
          }
        }
      }
    }
	,
    "get": {
      "tags": [
         "billingAccount"
      ],          
      "operationId": "billingAccountFind",
      "summary": "billingAccountFind",
      "description": "",       
      "deprecated": false,
        
      "parameters": [    

                                  
        
        {
          "name": "fields",
          "in": "query",
          "required": false,            
          "description": "",
          
          "type": "string"                      
        }    
  

      ],
         
      "responses": {
        "200": {
          "description": "List of BillingAccount",
          "schema": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/BillingAccount"
            }
          } 
        }          
      }
    }
	
    },    
    "/billingAccount/{billingAccountId}": {
    "get": {
      "tags": [
         "billingAccount"
      ],    
      "operationId": "billingAccountGet",
      "summary": "billingAccountGet",
      "description": "",
      "deprecated": false,
            
      "parameters": [
      
                                  
            
        {
          "name": "billingAccountId",
          "in": "path",
          "required": true,            
          "type": "string"
        }
  ,
        {
          "name": "fields",
          "in": "query",
          "required": false,            
          "description": "",
          
          "type": "string"                      
        }    
        

      ],
         
      "responses": {
        "200": {
          "description": "BillingAccount",
          "schema": {
            "$ref": "#/definitions/BillingAccount"
            }
          }
      }        
    }     
	,
    "patch": {
      "tags": [
         "billingAccount"
      ],            
      "operationId": "billingAccountPatch",
      "summary": "billingAccountPatch",
      "description": "",      
      "deprecated": false, 
      "parameters": [
      
                                  
            
        {
          "name": "billingAccountId",
          "in": "path",
          "required": true,            
          "type": "string"
        }
  ,
               
        {
         "name": "billingAccount",
         "in": "body",
         "required": true,
         "schema": {
           "$ref": "#/definitions/BillingAccount"
         }
        }                               
      ], 
      "responses": {
        "200": {
          "description": "Success BillingAccount",
          "schema": {
            "$ref": "#/definitions/BillingAccount"
            }
          }
      }             
    }
	
    },    
    "/customerBillingCycleSpecification": {
    "get": {
      "tags": [
         "customerBillingCycleSpecification"
      ],          
      "operationId": "customerBillingCycleSpecificationFind",
      "summary": "customerBillingCycleSpecificationFind",
      "description": "",       
      "deprecated": false,
        
      "parameters": [    

                                  
        
        {
          "name": "fields",
          "in": "query",
          "required": false,            
          "description": "",
          
          "type": "string"                      
        }    
  

      ],
         
      "responses": {
        "200": {
          "description": "List of CustomerBillingCycleSpecification",
          "schema": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/CustomerBillingCycleSpecification"
            }
          } 
        }          
      }
    }
	
    },    
    "/customerBillingCycleSpecification/{customerBillingCycleSpecificationId}": {
    "get": {
      "tags": [
         "customerBillingCycleSpecification"
      ],    
      "operationId": "customerBillingCycleSpecificationGet",
      "summary": "customerBillingCycleSpecificationGet",
      "description": "",
      "deprecated": false,
            
      "parameters": [
      
                                  
            
        {
          "name": "customerBillingCycleSpecificationId",
          "in": "path",
          "required": true,            
          "type": "string"
        }
  ,
        {
          "name": "fields",
          "in": "query",
          "required": false,            
          "description": "",
          
          "type": "string"                      
        }    
        

      ],
         
      "responses": {
        "200": {
          "description": "CustomerBillingCycleSpecification",
          "schema": {
            "$ref": "#/definitions/CustomerBillingCycleSpecification"
            }
          }
      }        
    }     
	
    },    
    "/appliedCustomerBillingCharge": {        
    "post": {
      "tags": [
         "appliedCustomerBillingCharge"
      ],            
      "operationId": "appliedCustomerBillingChargeCreate",
      "summary": "appliedCustomerBillingChargeCreate",
      "description": "",       
      "deprecated": false,
      "parameters": [
      
                          
        
                      
        {
         "name": "appliedCustomerBillingCharge",
          "in": "body",
          "required": true,
          "schema": {
            "$ref": "#/definitions/AppliedCustomerBillingCharge"
          }
        }          
      ],
      "responses": {
        "201": {
          "description": "AppliedCustomerBillingCharge",
          "schema": {
            "$ref": "#/definitions/AppliedCustomerBillingCharge"
          }
        }
      }
    }
	,
    "get": {
      "tags": [
         "appliedCustomerBillingCharge"
      ],          
      "operationId": "appliedCustomerBillingChargeFind",
      "summary": "appliedCustomerBillingChargeFind",
      "description": "",       
      "deprecated": false,
        
      "parameters": [    

                                  
        
        {
          "name": "fields",
          "in": "query",
          "required": false,            
          "description": "",
          
          "type": "string"                      
        }    
  

      ],
         
      "responses": {
        "200": {
          "description": "List of AppliedCustomerBillingCharge",
          "schema": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/AppliedCustomerBillingCharge"
            }
          } 
        }          
      }
    }
	
    },    
    "/appliedCustomerBillingCharge/{appliedCustomerBillingChargeId}": {
    "get": {
      "tags": [
         "appliedCustomerBillingCharge"
      ],    
      "operationId": "appliedCustomerBillingChargeGet",
      "summary": "appliedCustomerBillingChargeGet",
      "description": "",
      "deprecated": false,
            
      "parameters": [
      
                                  
            
        {
          "name": "appliedCustomerBillingChargeId",
          "in": "path",
          "required": true,            
          "type": "string"
        }
  ,
        {
          "name": "fields",
          "in": "query",
          "required": false,            
          "description": "",
          
          "type": "string"                      
        }    
        

      ],
         
      "responses": {
        "200": {
          "description": "AppliedCustomerBillingCharge",
          "schema": {
            "$ref": "#/definitions/AppliedCustomerBillingCharge"
            }
          }
      }        
    }     
	
    },    
    "/settlementNoteAdvice": {
    "get": {
      "tags": [
         "settlementNoteAdvice"
      ],          
      "operationId": "settlementNoteAdviceFind",
      "summary": "settlementNoteAdviceFind",
      "description": "",       
      "deprecated": false,
        
      "parameters": [    

                                  
        
        {
          "name": "fields",
          "in": "query",
          "required": false,            
          "description": "",
          
          "type": "string"                      
        }    
  

      ],
         
      "responses": {
        "200": {
          "description": "List of SettlementNoteAdvice",
          "schema": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/SettlementNoteAdvice"
            }
          } 
        }          
      }
    }
	
    },    
    "/settlementNoteAdvice/{settlementNoteAdviceId}": {
    "get": {
      "tags": [
         "settlementNoteAdvice"
      ],    
      "operationId": "settlementNoteAdviceGet",
      "summary": "settlementNoteAdviceGet",
      "description": "",
      "deprecated": false,
            
      "parameters": [
      
                                  
            
        {
          "name": "settlementNoteAdviceId",
          "in": "path",
          "required": true,            
          "type": "string"
        }
  ,
        {
          "name": "fields",
          "in": "query",
          "required": false,            
          "description": "",
          
          "type": "string"                      
        }    
        

      ],
         
      "responses": {
        "200": {
          "description": "SettlementNoteAdvice",
          "schema": {
            "$ref": "#/definitions/SettlementNoteAdvice"
            }
          }
      }        
    }     
	
    },    
    "/customerBillFormat": {
    "get": {
      "tags": [
         "customerBillFormat"
      ],          
      "operationId": "customerBillFormatFind",
      "summary": "customerBillFormatFind",
      "description": "",       
      "deprecated": false,
        
      "parameters": [    

                                  
        
        {
          "name": "fields",
          "in": "query",
          "required": false,            
          "description": "",
          
          "type": "string"                      
        }    
  

      ],
         
      "responses": {
        "200": {
          "description": "List of CustomerBillFormat",
          "schema": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/CustomerBillFormat"
            }
          } 
        }          
      }
    }
	
    },    
    "/customerBillFormat/{customerBillFormatId}": {
    "get": {
      "tags": [
         "customerBillFormat"
      ],    
      "operationId": "customerBillFormatGet",
      "summary": "customerBillFormatGet",
      "description": "",
      "deprecated": false,
            
      "parameters": [
      
                                  
            
        {
          "name": "customerBillFormatId",
          "in": "path",
          "required": true,            
          "type": "string"
        }
  ,
        {
          "name": "fields",
          "in": "query",
          "required": false,            
          "description": "",
          
          "type": "string"                      
        }    
        

      ],
         
      "responses": {
        "200": {
          "description": "CustomerBillFormat",
          "schema": {
            "$ref": "#/definitions/CustomerBillFormat"
            }
          }
      }        
    }     
	
    },    
    "/customerBillPresentationMedia": {
    "get": {
      "tags": [
         "customerBillPresentationMedia"
      ],          
      "operationId": "customerBillPresentationMediaFind",
      "summary": "customerBillPresentationMediaFind",
      "description": "",       
      "deprecated": false,
        
      "parameters": [    

                                  
        
        {
          "name": "fields",
          "in": "query",
          "required": false,            
          "description": "",
          
          "type": "string"                      
        }    
  

      ],
         
      "responses": {
        "200": {
          "description": "List of CustomerBillPresentationMedia",
          "schema": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/CustomerBillPresentationMedia"
            }
          } 
        }          
      }
    }
	
    },    
    "/customerBillPresentationMedia/{customerBillPresentationMediaId}": {
    "get": {
      "tags": [
         "customerBillPresentationMedia"
      ],    
      "operationId": "customerBillPresentationMediaGet",
      "summary": "customerBillPresentationMediaGet",
      "description": "",
      "deprecated": false,
            
      "parameters": [
      
                                  
            
        {
          "name": "customerBillPresentationMediaId",
          "in": "path",
          "required": true,            
          "type": "string"
        }
  ,
        {
          "name": "fields",
          "in": "query",
          "required": false,            
          "description": "",
          
          "type": "string"                      
        }    
        

      ],
         
      "responses": {
        "200": {
          "description": "CustomerBillPresentationMedia",
          "schema": {
            "$ref": "#/definitions/CustomerBillPresentationMedia"
            }
          }
      }        
    }     
	
    },    
    "/hub": {        
    "post": {
      "tags": [
         "hub"
      ],            
      "operationId": "hubCreate",
      "summary": "hubCreate",
      "description": "",       
      "deprecated": false,
      "parameters": [
      
                          
        
                      
        {
         "name": "hub",
          "in": "body",
          "required": true,
          "schema": {
            "$ref": "#/definitions/Hub"
          }
        }          
      ],
      "responses": {
        "201": {
          "description": "Hub",
          "schema": {
            "$ref": "#/definitions/Hub"
          }
        }
      }
    }
	,
    "get": {
      "tags": [
         "hub"
      ],          
      "operationId": "hubFind",
      "summary": "hubFind",
      "description": "",       
      "deprecated": false,
         
      "responses": {
        "200": {
          "description": "List of Hub",
          "schema": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/Hub"
            }
          } 
        }          
      }
    }
	
    },    
    "/hub/{hubId}": {
    "delete": {
      "tags": [
         "hub"
      ],    
      "operationId": "hubDelete",
      "summary": "hubDelete",
      "description": "",
      "deprecated": false,
        
      "parameters": [
      
                                  
            
        {
          "name": "hubId",
          "in": "path",
          "required": true,            
          "type": "string"
        }
  
        
      ],
         
      "responses": {
        "204": {
          "description": "Success"
          }  
      }   
    }
	,
    "get": {
      "tags": [
         "hub"
      ],    
      "operationId": "hubGet",
      "summary": "hubGet",
      "description": "",
      "deprecated": false,
            
      "parameters": [
      
                                  
            
        {
          "name": "hubId",
          "in": "path",
          "required": true,            
          "type": "string"
        }
        

      ],
         
      "responses": {
        "200": {
          "description": "Hub",
          "schema": {
            "$ref": "#/definitions/Hub"
            }
          }
      }        
    }     
	
    }
  },
"definitions": {
  

    "BillingAccount": {
      
      "type": "object",
      "properties": {      
      
        "id": {
          
          "type": "integer",
          "format": "int64"
        }
        ,
        "href": {
          
          "type": "string"
        }
        ,
        "ratingType": {
          
          "type": "string"
        }
        ,
        "name": {
          
          "type": "string"
        }
        ,
        "state": {
          
          "type": "string"
        }
        ,
        "validFor": {
          
                "$ref": "#/definitions/ValidFor"
  
        }
        ,
        "customerAccount": {
          
                "$ref": "#/definitions/Reference"
  
        }
        ,
        "customerBillingCycleSpecification": {
          
                "$ref": "#/definitions/CustomerBillingCycleSpecification"
  
        }
        ,
        "customerBillFormat": {
          
                "$ref": "#/definitions/CustomerBillFormat"
  
        }
        ,
        "customerBillPresentationMedia": {
          
                "$ref": "#/definitions/Reference"
  
        }
        ,
        "currency": {
          
                "$ref": "#/definitions/Currency"
  
        }
        ,
        "billingAccountBalance": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/BillingAccountBalance"
  
              }
            
        }
        ,
        "relatedParty": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/Reference"
  
              }
            
        }
        ,
        "paymentMean": {
          
                "$ref": "#/definitions/Reference"
  
        }
        
      }
    }
                
  ,

    "Currency": {
      
      "type": "object",
      "properties": {      
      
        "currencyCode": {
          
          "type": "string"
        }
        
      }
    }
                
  ,

    "CustomerBillPresentationMedia": {
      
      "type": "object",
      "properties": {      
      
        "id": {
          
          "type": "integer",
          "format": "int64"
        }
        ,
        "href": {
          
          "type": "string"
        }
        ,
        "name": {
          
          "type": "string"
        }
        
      }
    }
                
  ,

    "CustomerBillFormat": {
      
      "type": "object",
      "properties": {      
      
        "id": {
          
          "type": "integer",
          "format": "int64"
        }
        ,
        "href": {
          
          "type": "string"
        }
        ,
        "name": {
          
          "type": "string"
        }
        
      }
    }
                
  ,

    "CustomerBillingCycleSpecification": {
      
      "type": "object",
      "properties": {      
      
        "id": {
          
          "type": "integer",
          "format": "int64"
        }
        ,
        "href": {
          
          "type": "string"
        }
        ,
        "name": {
          
          "type": "string"
        }
        ,
        "billingDateShift": {
          
          "type": "integer",
          "format": "int32"
        }
        ,
        "frequency": {
          
          "type": "string"
        }
        
      }
    }
                
  ,

    "BillingAccountBalance": {
      
      "type": "object",
      "properties": {      
      
        "type": {
          
          "type": "string"
        }
        ,
        "amount": {
          
          "type": "number",
          "format": "float"
        }
        ,
        "validFor": {
          
                "$ref": "#/definitions/ValidFor"
  
        }
        ,
        "status": {
          
          "type": "string"
        }
        
      }
    }
                
  ,

    "ValidFor": {
      
      "type": "object",
      "properties": {      
      
        "startDateTime": {
          
          "type": "string",
          "format": "date-time"
        }
        ,
        "endDateTime": {
          
          "type": "string",
          "format": "date-time"
        }
        
      }
    }
                
  ,

    "AppliedCustomerBillingCharge": {
      
      "type": "object",
      "properties": {      
      
        "id": {
          
          "type": "integer",
          "format": "int64"
        }
        ,
        "href": {
          
          "type": "string"
        }
        ,
        "date": {
          
          "type": "string",
          "format": "date-time"
        }
        ,
        "description": {
          
          "type": "string"
        }
        ,
        "type": {
          
          "type": "string"
        }
        ,
        "currencyCode": {
          
          "type": "string"
        }
        ,
        "taxIncludedAmount": {
          
          "type": "number",
          "format": "float"
        }
        ,
        "taxExcludedAmount": {
          
          "type": "number",
          "format": "float"
        }
        ,
        "appliedCustomerBillingTaxRate": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/AppliedCustomerBillingTaxRate"
  
              }
            
        }
        ,
        "serviceId": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/ServiceId"
  
              }
            
        }
        ,
        "productSpecification": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/ProductSpecification"
  
              }
            
        }
        ,
        "period": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/Period"
  
              }
            
        }
        
      }
    }
                
  ,

    "AppliedCustomerBillingTaxRate": {
      
      "type": "object",
      "properties": {      
      
        "amount": {
          
          "type": "number",
          "format": "float"
        }
        ,
        "taxCategory": {
          
          "type": "string"
        }
        
      }
    }
                
  ,

    "ServiceId": {
      
      "type": "object",
      "properties": {      
      
        "id": {
          
          "type": "string"
        }
        ,
        "type": {
          
          "type": "string"
        }
        
      }
    }
                
  ,

    "ProductSpecification": {
      
      "type": "object",
      "properties": {      
      
        "name": {
          
          "type": "string"
        }
        ,
        "productNumber": {
          
          "type": "string"
        }
        
      }
    }
                
  ,

    "Period": {
      
      "type": "object",
      "properties": {      
      
        "startPeriod": {
          
          "type": "string",
          "format": "date-time"
        }
        ,
        "endPeriod": {
          
          "type": "string",
          "format": "date-time"
        }
        
      }
    }
                
  ,

    "SettlementNoteAdvice": {
      
      "type": "object",
      "properties": {      
      
        "id": {
          
          "type": "integer",
          "format": "int64"
        }
        ,
        "href": {
          
          "type": "string"
        }
        ,
        "date": {
          
          "type": "string",
          "format": "date-time"
        }
        ,
        "description": {
          
          "type": "string"
        }
        ,
        "paymentDueDate": {
          
          "type": "string",
          "format": "date-time"
        }
        ,
        "taxDate": {
          
          "type": "string",
          "format": "date-time"
        }
        ,
        "currencyCode": {
          
          "type": "string"
        }
        ,
        "taxExcludedAmount": {
          
          "type": "number",
          "format": "float"
        }
        ,
        "taxIncludedAmount": {
          
          "type": "number",
          "format": "float"
        }
        ,
        "taxItem": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/TaxItem"
  
              }
            
        }
        ,
        "settlementMethod": {
          
                "$ref": "#/definitions/SettlementMethod"
  
        }
        ,
        "receiver": {
          
                "$ref": "#/definitions/Receiver"
  
        }
        ,
        "issuer": {
          
                "$ref": "#/definitions/Issuer"
  
        }
        ,
        "settlementNoteImage": {
          
                "$ref": "#/definitions/SettlementNoteImage"
  
        }
        ,
        "settlementNoteItem": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/SettlementNoteItem"
  
              }
            
        }
        
      }
    }
                
  ,

    "TaxItem": {
      
      "type": "object",
      "properties": {      
      
        "taxCategory": {
          
          "type": "string"
        }
        ,
        "taxRate": {
          
          "type": "number",
          "format": "float"
        }
        ,
        "taxAmount": {
          
          "type": "number",
          "format": "float"
        }
        
      }
    }
                
  ,

    "SettlementMethod": {
      
      "type": "object",
      "properties": {      
      
        "code": {
          
          "type": "string"
        }
        ,
        "label": {
          
          "type": "string"
        }
        
      }
    }
                
  ,

    "Receiver": {
      
      "type": "object",
      "properties": {      
      
        "id": {
          
          "type": "string"
        }
        ,
        "href": {
          
          "type": "string"
        }
        ,
        "taxRegistration": {
          
                "$ref": "#/definitions/TaxRegistration"
  
        }
        
      }
    }
                
  ,

    "Issuer": {
      
      "type": "object",
      "properties": {      
      
        "id": {
          
          "type": "string"
        }
        ,
        "href": {
          
          "type": "string"
        }
        ,
        "taxRegistration": {
          
                "$ref": "#/definitions/TaxRegistration"
  
        }
        
      }
    }
                
  ,

    "SettlementNoteImage": {
      
      "type": "object",
      "properties": {      
      
        "imageFormat": {
          
          "type": "string"
        }
        ,
        "imageSize": {
          
          "type": "string"
        }
        ,
        "imageFileName": {
          
          "type": "string"
        }
        ,
        "imageFileURL": {
          
          "type": "string"
        }
        
      }
    }
                
  ,

    "SettlementNoteItem": {
      
      "type": "object",
      "properties": {      
      
        "itemNumber": {
          
          "type": "string"
        }
        ,
        "itemId": {
          
          "type": "string"
        }
        ,
        "itemLabel": {
          
          "type": "string"
        }
        ,
        "quantity": {
          
          "type": "string"
        }
        ,
        "taxItem": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/TaxItem"
  
              }
            
        }
        ,
        "period": {
          
                "$ref": "#/definitions/Period"
  
        }
        ,
        "productSpecification": {
          
                "$ref": "#/definitions/ProductSpecification"
  
        }
        
      }
    }
                
  ,

    "TaxRegistration": {
      
      "type": "object",
      "properties": {      
      
        "number": {
          
          "type": "string"
        }
        
      }
    }
                
  ,

    "Hub": {
      
      "type": "object",
      "properties": {      
      
        "id": {
          
          "type": "string"
        }
        ,
        "callback": {
          
          "type": "string"
        }
        ,
        "query": {
          
          "type": "string"
        }
        
      }
    }
                
  ,

    "Reference": {
      
      "type": "object",
      "properties": {      
      
        "id": {
          
          "type": "string"
        }
        ,
        "href": {
          
          "type": "string"
        }
        ,
        "name": {
          
          "type": "string"
        }
        ,
        "role": {
          
          "type": "string"
        }
        
      }
    }
                
  
  }
}
	