{
   "swagger":"2.0",
   "info":{
      "description":"This is Swagger UI environment generated for the TMF Enhancement to Privacy Management API specification",
      "version":"2.0",
      "title":"Privacy Management"
   },
   "host":"privacy-orangegroup.rhcloud.com",
   "basePath":"/",
   "schemes":[
      "http"
   ],
   "consumes":[
      "application/json"
   ],
   "produces":[
      "application/json"
   ],
   "paths":{
      "/partyPrivacyProfileType":{
         "post":{
            "tags":[
               "partyPrivacyProfileType"
            ],
            "operationId":"partyPrivacyProfileTypeCreate",
            "summary":"create",
            "description":"",
            "deprecated":false,
            "parameters":[
               {
                  "name":"partyPrivacyProfileType",
                  "in":"body",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/partyPrivacyProfileType"
                  }
               }
            ],
            "responses":{
               "201":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/partyPrivacyProfileType"
                  }
               }
            }
         }
      },
      "/partyPrivacyProfileType/{partyPrivacyProfileTypeId}":{
         "get":{
            "tags":[
               "partyPrivacyProfileType"
            ],
            "operationId":"partyPrivacyProfileTypefindById",
            "summary":"findById",
            "description":"",
            "deprecated":false,
            "parameters":[
               {
                  "name":"partyPrivacyProfileTypeId",
                  "in":"path",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/partyPrivacyProfileType"
                  }
               }
            }
         },
         "patch":{
            "tags":[
               "partyPrivacyProfileType"
            ],
            "operationId":"partyPrivacyProfileTypePatch",
            "summary":"patch",
            "description":"",
            "deprecated":false,
            "parameters":[
               {
                  "name":"partyPrivacyProfileTypeId",
                  "in":"path",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"partyPrivacyProfileType",
                  "in":"body",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/partyPrivacyProfileType"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/partyPrivacyProfileType"
                  }
               }
            }
         },
         "delete":{
            "tags":[
               "partyPrivacyProfileType"
            ],
            "operationId":"partyPrivacyProfileTypeDelete",
            "summary":"delete",
            "description":"",
            "deprecated":false,
            "parameters":[
               {
                  "name":"partyPrivacyProfileTypeId",
                  "in":"path",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "204":{
                  "description":"Success"
               }
            }
         }
      },
      "/partyPrivacyAgreement":{
         "post":{
            "tags":[
               "partyPrivacyAgreement"
            ],
            "operationId":"partyPrivacyAgreementCreate",
            "summary":"create",
            "description":"",
            "deprecated":false,
            "parameters":[
               {
                  "name":"partyPrivacyAgreement",
                  "in":"body",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/partyPrivacyAgreement"
                  }
               }
            ],
            "responses":{
               "201":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/partyPrivacyAgreement"
                  }
               }
            }
         }
      },
      "/partyPrivacyAgreement/{partyPrivacyAgreementId}":{
         "get":{
            "tags":[
               "partyPrivacyAgreement"
            ],
            "operationId":"partyPrivacyAgreementfindById",
            "summary":"findById",
            "description":"",
            "deprecated":false,
            "parameters":[
               {
                  "name":"partyPrivacyAgreementId",
                  "in":"path",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/partyPrivacyAgreement"
                  }
               }
            }
         },
         "patch":{
            "tags":[
               "partyPrivacyAgreement"
            ],
            "operationId":"partyPrivacyAgreementPatch",
            "summary":"patch",
            "description":"",
            "deprecated":false,
            "parameters":[
               {
                  "name":"partyPrivacyAgreementId",
                  "in":"path",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"partyPrivacyAgreement",
                  "in":"body",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/partyPrivacyAgreement"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/partyPrivacyAgreement"
                  }
               }
            }
         },
         "delete":{
            "tags":[
               "partyPrivacyAgreement"
            ],
            "operationId":"partyPrivacyAgreementDelete",
            "summary":"delete",
            "description":"",
            "deprecated":false,
            "parameters":[
               {
                  "name":"partyPrivacyAgreementId",
                  "in":"path",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "204":{
                  "description":"Success"
               }
            }
         }
      },
      "/partyPrivacyProfile":{
         "post":{
            "tags":[
               "partyPrivacyProfile"
            ],
            "operationId":"partyPrivacyProfileCreate",
            "summary":"create",
            "description":"",
            "deprecated":false,
            "parameters":[
               {
                  "name":"partyPrivacyProfile",
                  "in":"body",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/partyPrivacyProfile"
                  }
               }
            ],
            "responses":{
               "201":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/partyPrivacyProfile"
                  }
               }
            }
         }
      },
      "/partyPrivacyProfile/{partyPrivacyProfileId}":{
         "get":{
            "tags":[
               "partyPrivacyProfile"
            ],
            "operationId":"partyPrivacyProfilefindById",
            "summary":"findById",
            "description":"",
            "deprecated":false,
            "parameters":[
               {
                  "name":"partyPrivacyProfileId",
                  "in":"path",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/partyPrivacyProfile"
                  }
               }
            }
         },
         "patch":{
            "tags":[
               "partyPrivacyProfile"
            ],
            "operationId":"partyPrivacyProfilePatch",
            "summary":"patch",
            "description":"",
            "deprecated":false,
            "parameters":[
               {
                  "name":"partyPrivacyProfileId",
                  "in":"path",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"partyPrivacyProfile",
                  "in":"body",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/partyPrivacyProfile"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/partyPrivacyProfile"
                  }
               }
            }
         },
         "delete":{
            "tags":[
               "partyPrivacyProfile"
            ],
            "operationId":"partyPrivacyProfileDelete",
            "summary":"delete",
            "description":"",
            "deprecated":false,
            "parameters":[
               {
                  "name":"partyPrivacyProfileId",
                  "in":"path",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "204":{
                  "description":"Success"
               }
            }
         }
      }
   },
   "definitions":{
      "partyPrivacyProfileTypeCharacteristic":{
         "type":"object",
         "required":[
            "id",
            "name",
            "description",
            "privacyType",
            "criticityLevel",
            "validFor",
            "relatedRole",
            "partyPrivacyProfileTypeCharValue"
         ],
         "additionalProperties":false,
         "properties":{
            "id":{
               "type":"string"
            },
            "name":{
               "type":"string"
            },
            "description":{
               "type":"string"
            },
            "privacyType":{
               "type":"string"
            },
            "criticityLevel":{
               "type":"string"
            },
            "validFor":{
               "$ref":"#/definitions/validFor"
            },
            "relatedRole":{
               "type":"array",
               "title":"applicableRole",
               "items":{
                  "type":"object",
                  "required":[
                     "role"
                  ],
                  "additionalProperties":false,
                  "properties":{
                     "role":{
                        "type":"string"
                     }
                  }
               }
            },
            "partyPrivacyProfileTypeCharValue":{
               "type":"array",
               "title":"partyPrivacyProfileTypeCharValue",
               "items":{
                  "type":"object",
                  "required":[
                     "valueType",
                     "default",
                     "value",
                     "validityDuration"
                  ],
                  "additionalProperties":false,
                  "properties":{
                     "valueType":{
                        "type":"string"
                     },
                     "default":{
                        "type":"boolean"
                     },
                     "value":{
                        "type":"string"
                     },
                     "validityDuration":{
                        "type":"string"
                     },
                     "fromValue":{
                        "type":"string"
                     },
                     "toValue":{
                        "type":"string"
                     },
                     "rangeInterval":{
                        "type":"string"
                     }
                  }
               }
            }
         }
      },
      "partyPrivacyProfileType":{
         "description":"JSON Schema for partyPrivacyProfileType",
         "type":"object",
         "required":[
            "href",
            "id",
            "version",
            "lastUpdate",
            "name",
            "applicableRole",
            "description",
            "lifecycleStatus",
            "validFor",
            "relatedParty",
            "partyPrivacyProfileTypeCharacteristic"
         ],
         "additionalProperties":false,
         "properties":{
            "href":{
               "type":"string",
               "format":"hostname"
            },
            "id":{
               "type":"string"
            },
            "version":{
               "type":"string"
            },
            "lastUpdate":{
               "type":"string",
               "format":"date-time"
            },
            "name":{
               "type":"string"
            },
            "description":{
               "type":"string"
            },
            "lifecycleStatus":{
               "type":"string"
            },
            "validFor":{
               "$ref":"#/definitions/validFor"
            },
            "applicableRole":{
               "type":"array",
               "title":"applicableRole",
               "items":{
                  "type":"object",
                  "required":[
                     "role"
                  ],
                  "additionalProperties":false,
                  "properties":{
                     "role":{
                        "type":"string"
                     }
                  }
               }
            },
            "relatedParty":{
               "type":"array",
               "title":"relatedParty",
               "items":{
                  "type":"object",
                  "required":[
                     "id",
                     "href",
                     "role"
                  ],
                  "additionalProperties":false,
                  "properties":{
                     "id":{
                        "type":"string"
                     },
                     "href":{
                        "type":"string"
                     },
                     "role":{
                        "type":"string"
                     }
                  }
               }
            },
            "partyPrivacyProfileTypeCharacteristic":{
               "type":"array",
               "title":"partyPrivacyProfileTypeCharacteristic",
               "items":{
                  "$ref":"#/definitions/partyPrivacyProfileTypeCharacteristic"
               }
            }
         }
      },
      "engagedPartyRoleArray":{
         "type":"array",
         "items":{
            "$ref":"#/definitions/engagedPartyRole"
         }
      },
      "productOfferingArray":{
         "type":"array",
         "items":{
            "$ref":"#/definitions/productOffering"
         }
      },
      "hRefTypeArray":{
         "type":"array",
         "items":{
            "$ref":"#/definitions/hRefType"
         }
      },
      "hRefType":{
         "type":"object",
         "required":[
            "id",
            "href"
         ],
         "additionalProperties":false,
         "properties":{
            "id":{
               "type":"string"
            },
            "href":{
               "type":"string"
            },
            "name":{
               "type":"string"
            }
         }
      },
      "termOrCondition":{
         "type":"object",
         "required":[
            "description",
            "id",
            "validFor"
         ],
         "additionalProperties":false,
         "properties":{
            "description":{
               "type":"string"
            },
            "id":{
               "type":"string"
            },
            "validFor":{
               "$ref":"#/definitions/validFor"
            }
         }
      },
      "agreementItem":{
         "type":"object",
         "required":[
            "productOffering",
            "termOrCondition"
         ],
         "additionalProperties":false,
         "properties":{
            "productOffering":{
               "$ref":"#/definitions/productOfferingArray"
            },
            "termOrCondition":{
               "type":"array",
               "title":"termOrCondition",
               "items":{
                  "$ref":"#/definitions/termOrCondition"
               }
            }
         }
      },
      "engagedPartyRole":{
         "title":"engagedPartyRole",
         "type":"object",
         "required":[
            "href"
         ],
         "additionalProperties":false,
         "properties":{
            "href":{
               "type":"string"
            },
            "id":{
               "type":"string"
            },
            "name":{
               "type":"string"
            },
            "partyId":{
               "type":"string"
            },
            "partyName":{
               "type":"string"
            }
         }
      },
      "productOffering":{
         "title":"productOffering",
         "type":"object",
         "required":[
            "href"
         ],
         "additionalProperties":false,
         "properties":{
            "href":{
               "type":"string"
            },
            "id":{
               "type":"string"
            },
            "description":{
               "type":"string"
            },
            "name":{
               "type":"string"
            },
            "partyId":{
               "type":"string"
            },
            "partyName":{
               "type":"string"
            },
            "bundledProductOffering":{
               "$ref":"#/definitions/productOfferingArray"
            }
         }
      },
      "agreementSpecificationType":{
         "title":"agreementSpecificationType",
         "type":"object",
         "required":[
            "href"
         ],
         "additionalProperties":false,
         "properties":{
            "href":{
               "type":"string"
            },
            "id":{
               "type":"string"
            },
            "description":{
               "type":"string"
            },
            "name":{
               "type":"string"
            }
         }
      },
      "CharValue":{
         "type":"object",
         "required":[
            "name",
            "value"
         ],
         "additionalProperties":false,
         "properties":{
            "name":{
               "type":"string"
            },
            "value":{
               "type":"string"
            }
         }
      },
      "partyPrivacyProfileCharValue":{
         "type":"object",
         "required":[
            "name",
            "value"
         ],
         "additionalProperties":false,
         "properties":{
            "privacyUsagePurpose":{
               "type":"string"
            },
            "name":{
               "type":"string"
            },
            "value":{
               "type":"string"
            },
            "validFor":{
               "$ref":"#/definitions/validFor"
            },
            "relatedParty":{
               "type":"array",
               "title":"relatedParty",
               "items":{
                  "type":"object",
                  "required":[
                     "id",
                     "href",
                     "role"
                  ],
                  "additionalProperties":false,
                  "properties":{
                     "id":{
                        "type":"string"
                     },
                     "href":{
                        "type":"string"
                     },
                     "role":{
                        "type":"string"
                     }
                  }
               }
            }
         }
      },
      "validFor":{
         "title":"validFor",
         "type":"object",
         "required":[
            "startDateTime",
            "endDateTime"
         ],
         "additionalProperties":false,
         "properties":{
            "startDateTime":{
               "type":"string",
               "format":"date-time"
            },
            "endDateTime":{
               "type":"string",
               "format":"date-time"
            }
         }
      },
      "agreementParty":{
         "type":"object",
         "required":[
            "id",
            "href",
            "role",
            "name"
         ],
         "additionalProperties":false,
         "properties":{
            "id":{
               "type":"string"
            },
            "href":{
               "type":"string"
            },
            "role":{
               "type":"string"
            },
            "name":{
               "type":"string"
            }
         }
      },
      "agreement":{
         "type":"object",
         "required":[
            "id",
            "href",
            "type"
         ],
         "additionalProperties":false,
         "properties":{
            "id":{
               "type":"string"
            },
            "href":{
               "type":"string"
            },
            "type":{
               "type":"string"
            }
         }
      },
      "partyPrivacyProfileTypeRef":{
         "type":"object",
         "required":[
            "id",
            "href"
         ],
         "additionalProperties":false,
         "properties":{
            "id":{
               "type":"string"
            },
            "href":{
               "type":"string"
            }
         }
      },
      "partyPrivacyProfile":{
         "description":"JSON Schema generated by XMLSpy v2016 rel. 2 (http://www.altova.com)",
         "type":"object",
         "required":[
            "href",
            "id",
            "name",
            "description",
            "dateCreated",
            "status",
            "validFor",
            "agreedByParty",
            "partyPrivacyProfileType",
            "partyPrivacyProfileCharValue",
            "agreement"
         ],
         "additionalProperties":false,
         "properties":{
            "href":{
               "type":"string"
            },
            "id":{
               "type":"string"
            },
            "name":{
               "type":"string"
            },
            "description":{
               "type":"string"
            },
            "dateCreated":{
               "type":"string",
               "format":"date-time"
            },
            "status":{
               "type":"string"
            },
            "validFor":{
               "$ref":"#/definitions/validFor"
            },
            "agreedByParty":{
               "$ref":"#/definitions/agreementParty"
            },
            "partyPrivacyProfileType":{
               "$ref":"#/definitions/partyPrivacyProfileTypeRef"
            },
            "partyPrivacyProfileCharValue":{
               "type":"array",
               "title":"partyPrivacyProfileCharValue",
               "items":{
                  "$ref":"#/definitions/partyPrivacyProfileCharValue"
               }
            },
            "agreement":{
               "$ref":"#/definitions/agreement"
            }
         }
      },
      "partyPrivacyAgreement":{
         "description":"JSON Schema generated by XMLSpy v2016 rel. 2 (http://www.altova.com)",
         "type":"object",
         "required":[
            "agreementPeriod",
            "completionDate",
            "description",
            "documentNumber",
            "href",
            "id",
            "initialDate",
            "name",
            "statementOfIntent",
            "status",
            "type",
            "version",
            "agreementSpecification",
            "agreementItem",
            "engagedPartyRole",
            "agreementAuthorization",
            "characteristic",
            "associatedAgreement",
            "partyPrivacyProfile",
            "partyPrivacyProfileCharValue"
         ],
         "additionalProperties":false,
         "properties":{
            "agreementPeriod":{
               "$ref":"#/definitions/validFor"
            },
            "completionDate":{
               "type":"string"
            },
            "description":{
               "type":"string"
            },
            "documentNumber":{
               "type":"number"
            },
            "href":{
               "type":"string"
            },
            "id":{
               "type":"string"
            },
            "initialDate":{
               "type":"string",
               "format":"date-time"
            },
            "name":{
               "type":"string"
            },
            "statementOfIntent":{
               "type":"string"
            },
            "status":{
               "type":"string"
            },
            "type":{
               "type":"string"
            },
            "version":{
               "type":"string"
            },
            "agreementSpecification":{
               "$ref":"#/definitions/agreementSpecificationType"
            },
            "agreementItem":{
               "type":"array",
               "title":"agreementItem",
               "items":{
                  "$ref":"#/definitions/agreementItem"
               }
            },
            "engagedPartyRole":{
               "$ref":"#/definitions/engagedPartyRoleArray"
            },
            "agreementAuthorization":{
               "type":"array",
               "title":"agreementAuthorization",
               "items":{
                  "type":"object",
                  "required":[
                     "date",
                     "signatureRepresentation",
                     "state"
                  ],
                  "additionalProperties":false,
                  "properties":{
                     "date":{
                        "type":"string",
                        "format":"date-time"
                     },
                     "signatureRepresentation":{
                        "type":"string"
                     },
                     "state":{
                        "type":"string"
                     }
                  }
               }
            },
            "characteristic":{
               "type":"array",
               "items":{
                  "$ref":"#/definitions/CharValue"
               }
            },
            "associatedAgreement":{
               "$ref":"#/definitions/hRefTypeArray"
            },
            "partyPrivacyProfile":{
               "$ref":"#/definitions/hRefTypeArray"
            },
            "partyPrivacyProfileCharValue":{
               "type":"array",
               "items":{
                  "$ref":"#/definitions/partyPrivacyProfileCharValue"
               }
            }
         }
      }
   }
}