{
    "swagger": "2.0", 
    "info": {
        "title": "Onboarding Management", 
        "description": "This is Swagger UI environment generated for the TMF Onboarding Management specification", 
        "version": "2.0"
    }, 
    "host": "biologeek.orange-labs.fr", 
    "basePath": "/tmf-api/onboardingManagement", 
    "schemes": [
        "https"
    ], 
    "consumes": [
        "application/json"
    ], 
    "produces": [
        "application/json"
    ], 
    "paths": {
        "/partnershipType": {
            "get": {
                "operationId": "listPartnershipType", 
                "summary": "List or find 'PartnershipType' objects", 
                "tags": [
                    "partnershipType"
                ], 
                "parameters": [
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "fields", 
                        "description": "Comma separated properties to display in response"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "name", 
                        "description": "For filtering: An identifying name for the partnership type."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "roleType.name", 
                        "description": "For filtering: The name of the role type."
                    }, 
                    {
                        "type": "boolean", 
                        "required": false, 
                        "in": "query", 
                        "name": "roleType.requiresBilling", 
                        "description": "For filtering: Indicates whether billing operations will be associated to parties playing the role"
                    }, 
                    {
                        "type": "boolean", 
                        "required": false, 
                        "in": "query", 
                        "name": "roleType.requiresSettlement", 
                        "description": "For filtering: Indicates whether settlement operations will be associated to parties playing the role"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/PartnershipType"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/partnershipType/{id}": {
            "get": {
                "operationId": "retrievePartnershipType", 
                "summary": "Retrieves a 'PartnershipType' by Id", 
                "tags": [
                    "partnershipType"
                ], 
                "parameters": [
                    {
                        "required": true, 
                        "type": "string", 
                        "name": "id", 
                        "in": "path", 
                        "description": "Identifier of the Partnership Type"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/PartnershipType"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/partyRole": {
            "get": {
                "operationId": "listPartyRole", 
                "summary": "List or find 'PartyRole' objects", 
                "tags": [
                    "partyRole"
                ], 
                "parameters": [
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "fields", 
                        "description": "Comma separated properties to display in response"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "name", 
                        "description": "For filtering: A word, term, or phrase by which the PartyRole is known and distinguished from other PartyRoles."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "status", 
                        "description": "For filtering: Used to track the lifecycle status of the party role."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "statusReason", 
                        "description": "For filtering: A string providing an explanation on the value of the status lifecycle. For instance if the status is Rejected, statusReason will provide the reason for rejection."
                    }, 
                    {
                        "name": "validFor.endDateTime", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: An instant of time, ending at the TimePeriod."
                    }, 
                    {
                        "name": "validFor.startDateTime", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: An instant of time, starting at the TimePeriod"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "engagedParty.name", 
                        "description": "For filtering: Name of the referred party (such as a partner or any other party role)"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "type.name", 
                        "description": "For filtering: The name of the role type. It uniquely identifies the role type within the partnership type."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "type.partnershipHref", 
                        "description": "For filtering: Reference url of the partnership type containing the role type"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "type.partnershipId", 
                        "description": "For filtering: The identifier of the partnership type containing the role type"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "type.partnershipName", 
                        "description": "For filtering: The name of the partnership type defining this role type"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "partyAccount.name", 
                        "description": "For filtering: Name of the party account"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "partyAccount.status", 
                        "description": "For filtering: The condition of the account, such as due, paid, in arrears."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "paymentMean.name", 
                        "description": "For filtering: Name of the payment mean"
                    }, 
                    {
                        "type": "boolean", 
                        "required": false, 
                        "in": "query", 
                        "name": "contactMedium.preferred", 
                        "description": "For filtering: If true, indicates that is the preferred contact medium"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "contactMedium.type", 
                        "description": "For filtering: Type of the contact medium, such as: email address, telephone number, postal address"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "characteristic.name", 
                        "description": "For filtering: Name of the characteristic"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "characteristic.value", 
                        "description": "For filtering: Value of the characteristic"
                    }, 
                    {
                        "name": "creditProfile.creditProfileDate", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: The date the profile was established"
                    }, 
                    {
                        "type": "integer", 
                        "required": false, 
                        "in": "query", 
                        "name": "creditProfile.creditRiskRating", 
                        "description": "For filtering: This is an integer whose value is used to rate the risk"
                    }, 
                    {
                        "type": "integer", 
                        "required": false, 
                        "in": "query", 
                        "name": "creditProfile.creditScore", 
                        "description": "For filtering: A measure of a person's or an organization's creditworthiness calculated on the basis of a combination of factors such as their income and credit history."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "agreement.name", 
                        "description": "For filtering: Name of the agreement"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "relatedParty.name", 
                        "description": "For filtering: Name of the related party"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "relatedParty.role", 
                        "description": "For filtering: Role of the related party."
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/PartyRole"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/partyRole/{id}": {
            "get": {
                "operationId": "retrievePartyRole", 
                "summary": "Retrieves a 'PartyRole' by Id", 
                "tags": [
                    "partyRole"
                ], 
                "parameters": [
                    {
                        "required": true, 
                        "type": "string", 
                        "name": "id", 
                        "in": "path", 
                        "description": "Identifier of the Party Role"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/PartyRole"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }, 
            "patch": {
                "operationId": "updatePartyRole", 
                "summary": "Updates partially a 'PartyRole' by Id", 
                "tags": [
                    "partyRole"
                ], 
                "parameters": [
                    {
                        "required": true, 
                        "type": "string", 
                        "name": "id", 
                        "in": "path", 
                        "description": "Identifier of the Party Role"
                    }, 
                    {
                        "schema": {
                            "$ref": "#/definitions/PartyRole_Update"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "name": "partyRole", 
                        "description": "The Party Role to be updated"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Updated", 
                        "schema": {
                            "$ref": "#/definitions/PartyRole"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/hub": {
            "post": {
                "operationId": "registerListener", 
                "summary": "Register a listener", 
                "description": "Sets the communication endpoint address the service instance must use to deliver information about its health state, execution state, failures and metrics.", 
                "tags": [
                    "events subscription"
                ], 
                "parameters": [
                    {
                        "name": "data", 
                        "schema": {
                            "$ref": "#/definitions/EventSubscriptionInput"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "description": "Data containing the callback endpoint to deliver the information"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Subscribed", 
                        "schema": {
                            "$ref": "#/definitions/EventSubscription"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/hub/{id}": {
            "delete": {
                "operationId": "unregisterListener", 
                "summary": "Unregister a listener", 
                "description": "Resets the communication endpoint address the service instance must use to deliver information about its health state, execution state, failures and metrics.", 
                "tags": [
                    "events subscription"
                ], 
                "parameters": [
                    {
                        "name": "id", 
                        "type": "string", 
                        "required": true, 
                        "in": "path", 
                        "description": "The id of the registered listener"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Unsubscribed"
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }
    }, 
    "definitions": {
        "PartyRole": {
            "type": "object", 
            "description": "The part played by a party in a given context.", 
            "properties": {
                "href": {
                    "type": "string", 
                    "description": "Url used to reference the party role."
                }, 
                "id": {
                    "type": "string", 
                    "description": "Unique identifier for PartyRoles"
                }, 
                "name": {
                    "type": "string", 
                    "description": "A word, term, or phrase by which the PartyRole is known and distinguished from other PartyRoles."
                }, 
                "status": {
                    "type": "string", 
                    "description": "Used to track the lifecycle status of the party role."
                }, 
                "statusReason": {
                    "type": "string", 
                    "description": "A string providing an explanation on the value of the status lifecycle. For instance if the status is Rejected, statusReason will provide the reason for rejection."
                }, 
                "validFor": {
                    "$ref": "#/definitions/TimePeriod", 
                    "description": "The time period that the PartyRole is valid for."
                }, 
                "engagedParty": {
                    "$ref": "#/definitions/PartyRef"
                }, 
                "type": {
                    "$ref": "#/definitions/RoleTypeRef"
                }, 
                "partyAccount": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/PartyAccountRef"
                    }
                }, 
                "paymentMean": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/PaymentMeanRef"
                    }
                }, 
                "contactMedium": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ContactMedium"
                    }
                }, 
                "characteristic": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/Characteristic"
                    }
                }, 
                "creditProfile": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/CreditProfile"
                    }
                }, 
                "agreement": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/AgreementRef"
                    }
                }, 
                "relatedParty": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/RelatedPartyRef"
                    }
                }
            }
        }, 
        "PartyRole_Update": {
            "type": "object", 
            "description": "The part played by a party in a given context.\nSkipped properties: id,href,id,href", 
            "properties": {
                "name": {
                    "type": "string", 
                    "description": "A word, term, or phrase by which the PartyRole is known and distinguished from other PartyRoles."
                }, 
                "status": {
                    "type": "string", 
                    "description": "Used to track the lifecycle status of the party role."
                }, 
                "statusReason": {
                    "type": "string", 
                    "description": "A string providing an explanation on the value of the status lifecycle. For instance if the status is Rejected, statusReason will provide the reason for rejection."
                }, 
                "validFor": {
                    "$ref": "#/definitions/TimePeriod", 
                    "description": "The time period that the PartyRole is valid for."
                }, 
                "engagedParty": {
                    "$ref": "#/definitions/PartyRef"
                }, 
                "type": {
                    "$ref": "#/definitions/RoleTypeRef"
                }, 
                "partyAccount": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/PartyAccountRef"
                    }
                }, 
                "paymentMean": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/PaymentMeanRef"
                    }
                }, 
                "contactMedium": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ContactMedium"
                    }
                }, 
                "characteristic": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/Characteristic"
                    }
                }, 
                "creditProfile": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/CreditProfile"
                    }
                }, 
                "agreement": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/AgreementRef"
                    }
                }, 
                "relatedParty": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/RelatedPartyRef"
                    }
                }
            }
        }, 
        "PartnershipType": {
            "type": "object", 
            "description": "A partnership type contains all the information for the setup of a partnership of a given kind. This includes the list of identified role types for the partnership with the corresponding agreement specifications.", 
            "properties": {
                "description": {
                    "type": "string", 
                    "description": "An explanatory text regarding this partnership type"
                }, 
                "href": {
                    "type": "string", 
                    "description": "The reference url for this partnership type"
                }, 
                "id": {
                    "type": "string", 
                    "description": "The identifier of the partnership type"
                }, 
                "name": {
                    "type": "string", 
                    "description": "An identifying name for the partnership type."
                }, 
                "roleType": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/RoleType"
                    }
                }
            }
        }, 
        "TimePeriod": {
            "type": "object", 
            "description": "A base / value business entity used to represent a period of time between two timepoints.", 
            "properties": {
                "endDateTime": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "An instant of time, ending at the TimePeriod."
                }, 
                "startDateTime": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "An instant of time, starting at the TimePeriod"
                }
            }
        }, 
        "PartyRef": {
            "type": "object", 
            "description": "Party reference. A party represents an organization or an individual.", 
            "properties": {
                "description": {
                    "type": "string", 
                    "description": "Text describing the referred party"
                }, 
                "href": {
                    "type": "string", 
                    "description": "Reference of the referred party (such as a partner or any other party role)."
                }, 
                "id": {
                    "type": "string", 
                    "description": "Unique identifier of the referred party"
                }, 
                "name": {
                    "type": "string", 
                    "description": "Name of the referred party (such as a partner or any other party role)"
                }
            }
        }, 
        "RoleTypeRef": {
            "type": "object", 
            "description": "RoleType reference.", 
            "properties": {
                "name": {
                    "type": "string", 
                    "description": "The name of the role type. It uniquely identifies the role type within the partnership type."
                }, 
                "partnershipHref": {
                    "type": "string", 
                    "description": "Reference url of the partnership type containing the role type"
                }, 
                "partnershipId": {
                    "type": "string", 
                    "description": "The identifier of the partnership type containing the role type"
                }, 
                "partnershipName": {
                    "type": "string", 
                    "description": "The name of the partnership type defining this role type"
                }
            }
        }, 
        "PartyAccountRef": {
            "type": "object", 
            "description": "PartyAccount reference. A party account is an arrangement that a party has with an enterprise that provides products to the party.", 
            "properties": {
                "description": {
                    "type": "string", 
                    "description": "Detailed description of the party account"
                }, 
                "href": {
                    "type": "string", 
                    "description": "Reference of the party account"
                }, 
                "id": {
                    "type": "string", 
                    "description": "Unique identifier of the party account"
                }, 
                "name": {
                    "type": "string", 
                    "description": "Name of the party account"
                }, 
                "status": {
                    "type": "string", 
                    "description": "The condition of the account, such as due, paid, in arrears."
                }
            }
        }, 
        "PaymentMeanRef": {
            "type": "object", 
            "description": "PaymentMean reference. A payment mean defines a specific mean of payment (e.g direct debit with all details associated).", 
            "properties": {
                "href": {
                    "type": "string", 
                    "description": "Reference of the payment mean"
                }, 
                "id": {
                    "type": "string", 
                    "description": "Unique identifier of the payment mean"
                }, 
                "name": {
                    "type": "string", 
                    "description": "Name of the payment mean"
                }
            }
        }, 
        "ContactMedium": {
            "type": "object", 
            "description": "Indicates the contact medium that could be used to contact the party.", 
            "properties": {
                "preferred": {
                    "type": "boolean", 
                    "description": "If true, indicates that is the preferred contact medium"
                }, 
                "type": {
                    "type": "string", 
                    "description": "Type of the contact medium, such as: email address, telephone number, postal address"
                }, 
                "validFor": {
                    "$ref": "#/definitions/TimePeriod", 
                    "description": "The time period that the contact medium is valid for"
                }, 
                "medium": {
                    "$ref": "#/definitions/Medium"
                }
            }
        }, 
        "Characteristic": {
            "type": "object", 
            "description": "Describes a given characteristic of an object or entity through a name/value pair.", 
            "properties": {
                "name": {
                    "type": "string", 
                    "description": "Name of the characteristic"
                }, 
                "value": {
                    "type": "string", 
                    "description": "Value of the characteristic"
                }
            }
        }, 
        "CreditProfile": {
            "type": "object", 
            "description": "Credit profile for the party (containing credit scoring, ...). By default only the current credit profile  is retrieved. It can be used as a list to give the party credit profiles history, the first one in the list will be the current one.", 
            "properties": {
                "creditProfileDate": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "The date the profile was established"
                }, 
                "creditRiskRating": {
                    "type": "integer", 
                    "description": "This is an integer whose value is used to rate the risk"
                }, 
                "creditScore": {
                    "type": "integer", 
                    "description": "A measure of a person's or an organization's creditworthiness calculated on the basis of a combination of factors such as their income and credit history."
                }, 
                "validFor": {
                    "$ref": "#/definitions/TimePeriod", 
                    "description": "The period for which the profile is valid"
                }
            }
        }, 
        "AgreementRef": {
            "type": "object", 
            "description": "Agreement reference. An agreement represents a contract or arrangement, either written or verbal and sometimes enforceable by law, such as a service level agreement or a customer price agreement. An agreement involves a number of other business entities, such as products, services, and resources and/or their specifications.", 
            "properties": {
                "href": {
                    "type": "string", 
                    "description": "Reference of the agreement"
                }, 
                "id": {
                    "type": "string", 
                    "description": "Identifier of the agreement"
                }, 
                "name": {
                    "type": "string", 
                    "description": "Name of the agreement"
                }
            }
        }, 
        "RelatedPartyRef": {
            "type": "object", 
            "description": "RelatedParty reference. A related party defines party or party role linked to a specific entity.", 
            "properties": {
                "href": {
                    "type": "string", 
                    "description": "Reference of the related party, could be a party reference or a party role reference"
                }, 
                "id": {
                    "type": "string", 
                    "description": "Unique identifier of a related party"
                }, 
                "name": {
                    "type": "string", 
                    "description": "Name of the related party"
                }, 
                "role": {
                    "type": "string", 
                    "description": "Role of the related party."
                }, 
                "validFor": {
                    "$ref": "#/definitions/TimePeriod", 
                    "description": "Validity period of the related party"
                }
            }
        }, 
        "Medium": {
            "type": "object", 
            "description": "Describes the contact medium that could be used to contact a party (an individual or an organization)", 
            "properties": {
                "city": {
                    "type": "string", 
                    "description": "The city"
                }, 
                "country": {
                    "type": "string", 
                    "description": "The country"
                }, 
                "emailAddress": {
                    "type": "string", 
                    "description": "Full email address in standard format"
                }, 
                "number": {
                    "type": "string", 
                    "description": "Phone number"
                }, 
                "postcode": {
                    "type": "string", 
                    "description": "Postcode"
                }, 
                "stateOrProvince": {
                    "type": "string", 
                    "description": "State or province"
                }, 
                "street1": {
                    "type": "string", 
                    "description": "Describes the street"
                }, 
                "street2": {
                    "type": "string", 
                    "description": "Complementary street description"
                }, 
                "type": {
                    "type": "string", 
                    "description": "Type of medium (fax, mobile phone...)"
                }
            }
        }, 
        "RoleType": {
            "type": "object", 
            "description": "A RoleType represents the type of a PartyRole, defined in the context of a given type of partnership, such as Buyer, Seller.", 
            "properties": {
                "description": {
                    "type": "string", 
                    "description": "An explanatory text documenting the role type"
                }, 
                "name": {
                    "type": "string", 
                    "description": "The name of the role type."
                }, 
                "requiresBilling": {
                    "type": "boolean", 
                    "description": "Indicates whether billing operations will be associated to parties playing the role"
                }, 
                "requiresSettlement": {
                    "type": "boolean", 
                    "description": "Indicates whether settlement operations will be associated to parties playing the role"
                }, 
                "agreementSpecification": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/AgreementSpecificationRef"
                    }
                }
            }
        }, 
        "AgreementSpecificationRef": {
            "type": "object", 
            "description": "AgreementSpecification reference. An AgreementSpecification represents a template of an agreement that can be used when establishing partnerships.", 
            "properties": {
                "description": {
                    "type": "string", 
                    "description": "A narrative that explains in detail what the agreement specification is about."
                }, 
                "href": {
                    "type": "string", 
                    "description": "Reference URL of the agreement specification"
                }, 
                "id": {
                    "type": "string", 
                    "description": "Unique identifier of the agreement specification"
                }, 
                "name": {
                    "type": "string", 
                    "description": "Name of the agreement specification"
                }
            }
        }, 
        "EventSubscription": {
            "required": [
                "id", 
                "callback"
            ], 
            "properties": {
                "id": {
                    "type": "string", 
                    "description": "Id of the listener"
                }, 
                "callback": {
                    "type": "string", 
                    "description": "The callback being registered."
                }, 
                "query": {
                    "type": "string", 
                    "description": "additional data to be passed"
                }
            }
        }, 
        "EventSubscriptionInput": {
            "required": [
                "callback"
            ], 
            "properties": {
                "callback": {
                    "type": "string", 
                    "description": "The callback being registered."
                }, 
                "query": {
                    "type": "string", 
                    "description": "additional data to be passed"
                }
            }
        }, 
        "Error": {
            "required": [
                "code", 
                "message"
            ], 
            "properties": {
                "code": {
                    "type": "integer", 
                    "description": "An integer coding the error type. This is given to caller so he can translate them if required."
                }, 
                "message": {
                    "type": "string", 
                    "description": "A short localized string that describes the error."
                }, 
                "description": {
                    "type": "string", 
                    "description": "(optional) A long localized error description if needed. It can contain precise information about which parameter is missing, or what are the identifier acceptable values."
                }, 
                "infoURL": {
                    "type": "string", 
                    "description": "(optional) A URL to online documentation that provides more information about the error."
                }
            }
        }
    }
}