{
  "swagger": "2.0",
  "info": {
    "description": "",
    "version": "2.0",
    "title": "API Alarm"
  },
  "host": "env-0693795.jelastic.servint.net",
  "basePath": "/DSPerformancealarm/api/alarm/v1",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/alarm": {
      "post": {
        "tags": [
          "alarm"
        ],
        "operationId": "alarmCreate",
        "summary": "alarmCreate",
        "description": "",
        "deprecated": false,
        "parameters": [
          {
            "name": "alarm",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/alarm"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Alarm",
            "schema": {
              "$ref": "#/definitions/alarm"
            }
          }
        }
      },
      "get": {
        "tags": [
          "alarms"
        ],
        "operationId": "alarmsFind",
        "summary": "alarmsFind",
        "description": "",
        "deprecated": false,
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Alarms",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/alarm"
              }
            }
          }
        }
      }
    },
    "/alarm/{alarmId}/clear": {
      "post": {
        "tags": [
          "alarm"
        ],
        "operationId": "alarmClearbyID",
        "summary": "alarmClearbyID",
        "description": "",
        "deprecated": false,
        "parameters": [
          {
            "name": "alarmId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "alarm",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/alarm"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success alarm",
            "schema": {
              "$ref": "#/definitions/alarm"
            }
          }
        }
      }
    },
    "/alarm/{alarmId}": {
      "delete": {
        "tags": [
          "alarm"
        ],
        "operationId": "alarmDelete",
        "summary": "alarmDelete",
        "description": "",
        "deprecated": false,
        "parameters": [
          {
            "name": "alarmId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          }
        }
      },
      "get": {
        "tags": [
          "alarm"
        ],
        "operationId": "alarmGet",
        "summary": "alarmGet",
        "description": "",
        "deprecated": false,
        "parameters": [
          {
            "name": "alarmId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "alarm",
            "schema": {
              "$ref": "#/definitions/alarm"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "alarm"
        ],
        "operationId": "alarmPatch",
        "summary": "alarmPatch",
        "description": "",
        "deprecated": false,
        "parameters": [
          {
            "name": "alarmId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "alarm",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/alarm"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success alarm",
            "schema": {
              "$ref": "#/definitions/alarm"
            }
          }
        }
      }
    },
    "/ackAlarms": {
      "post": {
        "tags": [
          "alarms"
        ],
        "operationId": "ackAlarms",
        "summary": "ackAlarms",
        "description": "",
        "deprecated": false,
        "parameters": [
          {
            "name": "alarms",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/alarm"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Alarms",
            "schema": {
              "$ref": "#/definitions/alarm"
            }
          }
        }
      }
    },
    "/unAckAlarms": {
      "post": {
        "tags": [
          "alarms"
        ],
        "operationId": "unAckAlarmsCreate",
        "summary": "unAckAlarmsCreate",
        "description": "",
        "deprecated": false,
        "parameters": [
          {
            "name": "alarms",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/alarm"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Alarms",
            "schema": {
              "$ref": "#/definitions/alarm"
            }
          }
        }
      }
    },
    "/clearAlarms": {
      "post": {
        "tags": [
          "alarms"
        ],
        "operationId": "clearAlarmsCreate",
        "summary": "clearAlarmsCreate",
        "description": "",
        "deprecated": false,
        "parameters": [
          {
            "name": "alarms",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/alarm"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Alarms",
            "schema": {
              "$ref": "#/definitions/alarm"
            }
          }
        }
      }
    },
    "/commentAlarms": {
      "post": {
        "tags": [
          "alarms"
        ],
        "operationId": "commentAlarmsCreate",
        "summary": "commentAlarmsCreate",
        "description": "",
        "deprecated": false,
        "parameters": [
          {
            "name": "alarms",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/alarm"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Alarms",
            "schema": {
              "$ref": "#/definitions/alarm"
            }
          }
        }
      }
    },
    "/groupAlarms": {
      "post": {
        "tags": [
          "alarms"
        ],
        "operationId": "groupAlarmsCreate",
        "summary": "groupAlarmsCreate",
        "description": "",
        "deprecated": false,
        "parameters": [
          {
            "name": "alarms",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/alarm"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Alarms",
            "schema": {
              "$ref": "#/definitions/alarm"
            }
          }
        }
      }
    },
    "/ungroupAlarms": {
      "post": {
        "tags": [
          "alarms"
        ],
        "operationId": "ungroupAlarmsCreate",
        "summary": "ungroupAlarmsCreate",
        "description": "",
        "deprecated": false,
        "parameters": [
          {
            "name": "alarms",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/alarm"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Alarms",
            "schema": {
              "$ref": "#/definitions/alarm"
            }
          }
        }
      }
    },
    "/listener/alarmCreateNotification": {
      "post": {
        "tags": [
          "notification"
        ],
        "operationId": "alarmCreateNotification",
        "summary": "alarmCreateNotification",
        "description": "",
        "deprecated": false,
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "alarm",
            "schema": {
              "$ref": "#/definitions/alarmCreateNotification"
            }
          }
        }
      }
    },
    "/listener/alarmClearedNotification": {
      "post": {
        "tags": [
          "notification"
        ],
        "operationId": "alarmClearedNotification",
        "summary": "alarmClearedNotification",
        "description": "",
        "deprecated": false,
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "alarm",
            "schema": {
              "$ref": "#/definitions/alarmClearedNotification"
            }
          }
        }
      }
    },
    "/listener/alarmChangeNotification": {
      "post": {
        "tags": [
          "notification"
        ],
        "operationId": "alarmChangeNotification",
        "summary": "alarmChangeNotification",
        "description": "",
        "deprecated": false,
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "alarm",
            "schema": {
              "$ref": "#/definitions/alarmChangeNotification"
            }
          }
        }
      }
    },
    "/listener/alarmAckStateNotification": {
      "post": {
        "tags": [
          "notification"
        ],
        "operationId": "alarmAckStateNotification",
        "summary": "alarmAckStateNotification",
        "description": "",
        "deprecated": false,
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "alarm",
            "schema": {
              "$ref": "#/definitions/alarmAckStateNotification"
            }
          }
        }
      }
    },
    "/hub": {
      "post": {
        "tags": [
          "hub"
        ],
        "operationId": "hubCreate",
        "summary": "hubCreate",
        "description": "",
        "deprecated": false,
        "parameters": [
          {
            "name": "hub",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Hub"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Hub",
            "schema": {
              "$ref": "#/definitions/Hub"
            }
          }
        }
      },
      "get": {
        "tags": [
          "hub"
        ],
        "operationId": "hubFind",
        "summary": "hubFind",
        "description": "",
        "deprecated": false,
        "responses": {
          "200": {
            "description": "List of Hub",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Hub"
              }
            }
          }
        }
      }
    },
    "/hub/{hubId}": {
      "delete": {
        "tags": [
          "hub"
        ],
        "operationId": "hubDelete",
        "summary": "hubDelete",
        "description": "",
        "deprecated": false,
        "parameters": [
          {
            "name": "hubId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          }
        }
      },
      "get": {
        "tags": [
          "hub"
        ],
        "operationId": "hubGet",
        "summary": "hubGet",
        "description": "",
        "deprecated": false,
        "parameters": [
          {
            "name": "hubId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Hub",
            "schema": {
              "$ref": "#/definitions/Hub"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "alarmCreateNotification": {
      "type": "object",
      "description": "Notification after alarm is created",
      "properties": {
        "eventType": {
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "date-time"
        },
        "eventId": {
          "type": "integer",
          "format": "int64"
        },
        "event": {
          "$ref": "#/definitions/alarm"
        }
      }
    },
    "alarmClearedNotification": {
      "type": "object",
      "description": "Notification after alarm is cleared",
      "properties": {
        "eventType": {
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "date-time"
        },
        "eventId": {
          "type": "integer",
          "format": "int64"
        },
        "event": {
          "$ref": "#/definitions/alarm"
        }
      }
    },
    "alarmChangeNotification": {
      "type": "object",
      "description": "Notification after alarm is changed",
      "properties": {
        "eventType": {
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "date-time"
        },
        "eventId": {
          "type": "integer",
          "format": "int64"
        },
        "event": {
          "$ref": "#/definitions/alarm"
        }
      }
    },
    "alarmAckStateNotification": {
      "type": "object",
      "description": "Notification after alarm ack state is changed",
      "properties": {
        "eventType": {
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "date-time"
        },
        "eventId": {
          "type": "integer",
          "format": "int64"
        },
        "event": {
          "$ref": "#/definitions/alarm"
        }
      }
    },
    "alarm": {
      "type": "object",
      "description": "A alarm base entity containing alarm rules.This entity  is  mandatoryThis entity  is  extendableThis entity   does not generate Object Creation notifications (NA)This entity   generates Object Deletion notificationsThis entity   does not generate Object Discovery notifications (NA)This entity supports the Common Get Operation.This entity supports the Common Get Multiple Operation.This entity supports the Common Create Operation.This entity supports the Common Delete Operation.",
      "properties": {
        "id": {
          "description": "Identifier of the alarm, determined by the alarm owning system",
          "type": "integer",
          "format": "int64"
        },
        "href": {
          "type": "string",
          "description": "A reference to the alarm."
        },
        "@type": {
          "type": "string",
          "description": "The type for this alarm."
        },
        "@baseType": {
          "type": "string",
          "description": "The base type of this alarm."
        },
        "@schemaLocation": {
          "type": "string",
          "description": "A reference to the schema describing this alarm."
        },
        "externalAlarmId": {
          "description": "An identifier of the alarm in the source system",
          "type": "string"
        },
        "alarmType": {
          "type": "string",
          "description": "Categorize the alarm."
        },
        "perceivedSeverity": {
          "description": "Lists the possible severities that can be allocated to an Alarm. The values are consistent with ITU-T Recommendation X.733. Once an alarm has been cleared, its perceived severity is set to Cleared and can no longer be set.",
          "type": "string"
        },
        "alarmedObjectType": {
          "description": "The type (class) of the object associated with the event. ",
          "type": "string"
        },
        "alarmedObject": {
          "$ref": "#/definitions/AlarmedObject"
        },
        "sourceSystemId": {
          "type": "string"
        },
        "alarmDetails": {
          "description": "Contains further information on the alarm",
          "type": "string"
        },
        "state": {
          "description": "Defines the alarm state during its life cycle RAISED, UPDATED or CLEARED",
          "type": "string"
        },
        "alarmRaisedTime": {
          "description": "Indicates the time (as a date + time) at which the alarm occurred at its source.",
          "type": "string",
          "format": "date-time"
        },
        "alarmChangedTime": {
          "description": "Indicates the last date and time when the alarm is changed on the alarm-owning system. Any change to the alarm whether coming from the alarmed resource, or triggered by a change from the client is changing this time.",
          "type": "string",
          "format": "date-time"
        },
        "alarmClearedTime": {
          "description": "Indicates the time (as a date + time) at which the alarm is cleared at the source. ",
          "type": "string",
          "format": "date-time"
        },
        "proposedRepairedActions": {
          "description": "Indicates proposed repair actions, if known to the system emitting the alarm.",
          "type": "string"
        },
        "alarmReportingTime": {
          "description": "Indicates the time (as a date + time) at which the alarm was reported by the owning OSS. It might be different from the alarmRaisedTime. For instance, if the alarm list is maintained by an EMS, the alarmRaisedtime would be the time the alarm\n  was detected by the NE, while the alarmReportingTime would be the time this alarm was stored in the alarm list of the EMS.",
          "type": "string",
          "format": "date-time"
        },
        "ackState": {
          "description": "Provides the Acknowledgement State of the alarm ACKNOWLEDGED, UNACKNOWLEDGED",
          "type": "string"
        },
        "ackUserId": {
          "description": "Provides the id of the user who has last changed the ack state of the alarm, i.e. acknowledged or unacknowledged the alarm.",
          "type": "string"
        },
        "ackSystemId": {
          "description": "Provides the name of the system that last changed the ackState of an alarm, i.e. acknowledged or unacknowledged the alarm.",
          "type": "string"
        },
        "clearUserId": {
          "description": "Provides the id of the user who invoked the alarmCleared operation",
          "type": "string"
        },
        "clearSystemId": {
          "description": "Provides the id of the system where the user who invoked the alarmCleared operation is located. ",
          "type": "string"
        },
        "plannedOutageIndicator": {
          "description": "Indicates that the Managed Object (related to this alarm) is in planned outage (in planned maintenance, or out-of-service). ",
          "type": "string"
        },
        "alarmEscelation": {
          "description": "Indicates if this alarm has been escalated or not. ",
          "type": "string"
        },
        "serviceAffecting": {
          "description": "Indicates whether the alarm affects service or not. ",
          "type": "string"
        },
        "affectedService": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AffectedService"
          }
        },
        "isRootCause": {
          "description": "Indicates whether the alarm is a root cause alarm.. ",
          "type": "string"
        },
        "correlatedAlarm": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CorrelatedAlarm"
          }
        },
        "parentAlarm": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ParentAlarm"
          }
        },
        "crossedThresholdInformation": {
          "$ref": "#/definitions/CrossedThresholdInformation"
        },
        "comments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Comments"
          }
        }
      }
    },
    "Comments": {
      "type": "object",
      "description": "Indicates the comments entered on the alarm.",
      "properties": {
        "userId": {
          "description": "Indicates the user commenting the alarm.",
          "type": "string"
        },
        "time": {
          "description": "Indicates the time commenting the alarm",
          "type": "string",
          "format": "date-time"
        },
        "systemId": {
          "description": "Indicates the system identifier on which the client set the comment.",
          "type": "string"
        },
        "comment": {
          "description": "Indicates the text of the comment.",
          "type": "string"
        }
      }
    },
    "CrossedThresholdInformation": {
      "type": "object",
      "description": "Identifies the details of the threshold that has been crossed.",
      "properties": {
        "thresholdId": {
          "description": "Indicates the threshold id that caused the alarm.",
          "type": "string"
        },
        "thresholdRef": {
          "type": "string"
        },
        "indicatorName": {
          "description": "Indicates the name of indicator which crossed the threshold.",
          "type": "string"
        },
        "observedValue": {
          "description": "Indicates the value of the indicator which crossed the threshold.",
          "type": "string"
        },
        "indicatorUnit": {
          "description": "Indicates the unit of the measurement of the indicator corresponding to the threshold that has been crossed.",
          "type": "string"
        },
        "granularity": {
          "description": "Indicates the granularity at which the indicator is evaluated for threshold crossing",
          "type": "string"
        },
        "direction": {
          "description": "Indicates the threshold crossing direction: up or down.",
          "type": "string"
        },
        "thresholdCrossingDescription": {
          "description": "Indicates further information on the threshold crossing alarm.",
          "type": "string"
        }
      }
    },
    "ParentAlarm": {
      "type": "object",
      "description": "Indicates the alarms attached to this alarm as parent alarms from a correlation point of view. ",
      "properties": {
        "href": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      }
    },
    "CorrelatedAlarm": {
      "type": "object",
      "description": "Indicates the alarms attached to this alarm as correlated alarms from a correlation point of view. An alarm can be correlated to one or more underlying alarms. There might be multiple levels of alarm correlation and an underlying alarm in one relation can be itself a parent alarm for other underlying alarms.",
      "properties": {
        "href": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      }
    },
    "AffectedService": {
      "type": "object",
      "description": "",
      "properties": {
        "href": {
          "type": "string",
          "description": "Provides the identifier of the service affected by the alarm"
        },
        "id": {
          "type": "string"
        }
      }
    },
    "AlarmedObject": {
      "type": "object",
      "description": "",
      "properties": {
        "href": {
          "type": "string",
          "description": "A reference to the alarm"
        },
        "id": {
          "type": "string",
          "description": "The identifier of the object associated with the event"
        }
      }
    },
    "Hub": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "callback": {
          "type": "string"
        },
        "query": {
          "type": "string"
        }
      }
    }
  }
}