
{
  "swagger": "2.0",
  "info": {
    "description": "",
    "version": "2.0",
    "title": "API SlaManagement"
  },
  "host": "env-0693795.jelastic.servint.net",
  "basePath":	"/DSLAManagement/api/slaManagement/v2",
  "schemes": [
      "http"
  ],
  "consumes": [
      "application/json"
  ],
  "produces": [
      "application/json"
  ],  
  "paths": {    
    "/sla": {        
    "post": {
      "tags": [
         "sla"
      ],            
      "operationId": "slaCreate",
      "summary": "slaCreate",
      "description": "",       
      "deprecated": false,
      "parameters": [
      
                          
        
                      
        {
         "name": "sla",
          "in": "body",
          "required": true,
          "schema": {
            "$ref": "#/definitions/Sla"
          }
        }          
      ],
      "responses": {
        "201": {
          "description": "Sla",
          "schema": {
            "$ref": "#/definitions/Sla"
          }
        }
      }
    }
	,
    "get": {
      "tags": [
         "sla"
      ],          
      "operationId": "slaFind",
      "summary": "slaFind",
      "description": "",       
      "deprecated": false,
        
      "parameters": [    

                                  
        
        {
          "name": "fields",
          "in": "query",
          "required": false,            
          "description": "",
          
          "type": "string"                      
        }    
  

      ],
         
      "responses": {
        "200": {
          "description": "List of Sla",
          "schema": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/Sla"
            }
          } 
        }          
      }
    }
	
    },    
    "/sla/{slaId}": {
    "delete": {
      "tags": [
         "sla"
      ],    
      "operationId": "slaDelete",
      "summary": "slaDelete",
      "description": "",
      "deprecated": false,
        
      "parameters": [
      
                                  
            
        {
          "name": "slaId",
          "in": "path",
          "required": true,            
          "type": "string"
        }
  
        
      ],
         
      "responses": {
        "204": {
          "description": "Success"
          }  
      }   
    }
	,
    "get": {
      "tags": [
         "sla"
      ],    
      "operationId": "slaGet",
      "summary": "slaGet",
      "description": "",
      "deprecated": false,
            
      "parameters": [
      
                                  
            
        {
          "name": "slaId",
          "in": "path",
          "required": true,            
          "type": "string"
        }
  ,
        {
          "name": "fields",
          "in": "query",
          "required": false,            
          "description": "",
          
          "type": "string"                      
        }    
        

      ],
         
      "responses": {
        "200": {
          "description": "Sla",
          "schema": {
            "$ref": "#/definitions/Sla"
            }
          }
      }        
    }     
	,
    "patch": {
      "tags": [
         "sla"
      ],            
      "operationId": "slaPatch",
      "summary": "slaPatch",
      "description": "",      
      "deprecated": false, 
      "parameters": [
      
                                  
            
        {
          "name": "slaId",
          "in": "path",
          "required": true,            
          "type": "string"
        }
  ,
               
        {
         "name": "sla",
         "in": "body",
         "required": true,
         "schema": {
           "$ref": "#/definitions/Sla"
         }
        }                               
      ], 
      "responses": {
        "200": {
          "description": "Success Sla",
          "schema": {
            "$ref": "#/definitions/Sla"
            }
          }
      }             
    }
	,
    "put": {
      "tags": [
         "sla"
      ],            
      "operationId": "slaUpdate",
      "summary": "slaUpdate",
      "description": "",      
      "deprecated": false, 
      "parameters": [
      
                                  
            
        {
          "name": "slaId",
          "in": "path",
          "required": true,            
          "type": "string"
        }
  ,
               
        {
         "name": "sla",
         "in": "body",
         "required": true,
         "schema": {
           "$ref": "#/definitions/Sla"
         }
        }                               
      ], 
      "responses": {
        "201": {
          "description": "Success Sla",
          "schema": {
            "$ref": "#/definitions/Sla"
            }
          }
      }             
    }
	
    },    
    "/slaViolation": {        
    "post": {
      "tags": [
         "slaViolation"
      ],            
      "operationId": "slaViolationCreate",
      "summary": "slaViolationCreate",
      "description": "",       
      "deprecated": false,
      "parameters": [
      
                          
        
                      
        {
         "name": "slaViolation",
          "in": "body",
          "required": true,
          "schema": {
            "$ref": "#/definitions/SlaViolation"
          }
        }          
      ],
      "responses": {
        "201": {
          "description": "SlaViolation",
          "schema": {
            "$ref": "#/definitions/SlaViolation"
          }
        }
      }
    }
	,
    "get": {
      "tags": [
         "slaViolation"
      ],          
      "operationId": "slaViolationFind",
      "summary": "slaViolationFind",
      "description": "",       
      "deprecated": false,
        
      "parameters": [    

                                  
        
        {
          "name": "fields",
          "in": "query",
          "required": false,            
          "description": "",
          
          "type": "string"                      
        }    
  

      ],
         
      "responses": {
        "200": {
          "description": "List of SlaViolation",
          "schema": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/SlaViolation"
            }
          } 
        }          
      }
    }
	
    },    
    "/slaViolation/{slaViolationId}": {
    "delete": {
      "tags": [
         "slaViolation"
      ],    
      "operationId": "slaViolationDelete",
      "summary": "slaViolationDelete",
      "description": "",
      "deprecated": false,
        
      "parameters": [
      
                                  
            
        {
          "name": "slaViolationId",
          "in": "path",
          "required": true,            
          "type": "string"
        }
  
        
      ],
         
      "responses": {
        "204": {
          "description": "Success"
          }  
      }   
    }
	,
    "get": {
      "tags": [
         "slaViolation"
      ],    
      "operationId": "slaViolationGet",
      "summary": "slaViolationGet",
      "description": "",
      "deprecated": false,
            
      "parameters": [
      
                                  
            
        {
          "name": "slaViolationId",
          "in": "path",
          "required": true,            
          "type": "string"
        }
  ,
        {
          "name": "fields",
          "in": "query",
          "required": false,            
          "description": "",
          
          "type": "string"                      
        }    
        

      ],
         
      "responses": {
        "200": {
          "description": "SlaViolation",
          "schema": {
            "$ref": "#/definitions/SlaViolation"
            }
          }
      }        
    }     
	,
    "patch": {
      "tags": [
         "slaViolation"
      ],            
      "operationId": "slaViolationPatch",
      "summary": "slaViolationPatch",
      "description": "",      
      "deprecated": false, 
      "parameters": [
      
                                  
            
        {
          "name": "slaViolationId",
          "in": "path",
          "required": true,            
          "type": "string"
        }
  ,
               
        {
         "name": "slaViolation",
         "in": "body",
         "required": true,
         "schema": {
           "$ref": "#/definitions/SlaViolation"
         }
        }                               
      ], 
      "responses": {
        "200": {
          "description": "Success SlaViolation",
          "schema": {
            "$ref": "#/definitions/SlaViolation"
            }
          }
      }             
    }
	,
    "put": {
      "tags": [
         "slaViolation"
      ],            
      "operationId": "slaViolationUpdate",
      "summary": "slaViolationUpdate",
      "description": "",      
      "deprecated": false, 
      "parameters": [
      
                                  
            
        {
          "name": "slaViolationId",
          "in": "path",
          "required": true,            
          "type": "string"
        }
  ,
               
        {
         "name": "slaViolation",
         "in": "body",
         "required": true,
         "schema": {
           "$ref": "#/definitions/SlaViolation"
         }
        }                               
      ], 
      "responses": {
        "201": {
          "description": "Success SlaViolation",
          "schema": {
            "$ref": "#/definitions/SlaViolation"
            }
          }
      }             
    }
	
    },    
    "/hub": {        
    "post": {
      "tags": [
         "hub"
      ],            
      "operationId": "hubCreate",
      "summary": "hubCreate",
      "description": "",       
      "deprecated": false,
      "parameters": [
      
                          
        
                      
        {
         "name": "hub",
          "in": "body",
          "required": true,
          "schema": {
            "$ref": "#/definitions/Hub"
          }
        }          
      ],
      "responses": {
        "201": {
          "description": "Hub",
          "schema": {
            "$ref": "#/definitions/Hub"
          }
        }
      }
    }
	,
    "get": {
      "tags": [
         "hub"
      ],          
      "operationId": "hubFind",
      "summary": "hubFind",
      "description": "",       
      "deprecated": false,
         
      "responses": {
        "200": {
          "description": "List of Hub",
          "schema": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/Hub"
            }
          } 
        }          
      }
    }
	
    },    
    "/hub/{hubId}": {
    "delete": {
      "tags": [
         "hub"
      ],    
      "operationId": "hubDelete",
      "summary": "hubDelete",
      "description": "",
      "deprecated": false,
        
      "parameters": [
      
                                  
            
        {
          "name": "hubId",
          "in": "path",
          "required": true,            
          "type": "string"
        }
  
        
      ],
         
      "responses": {
        "204": {
          "description": "Success"
          }  
      }   
    }
	,
    "get": {
      "tags": [
         "hub"
      ],    
      "operationId": "hubGet",
      "summary": "hubGet",
      "description": "",
      "deprecated": false,
            
      "parameters": [
      
                                  
            
        {
          "name": "hubId",
          "in": "path",
          "required": true,            
          "type": "string"
        }
        

      ],
         
      "responses": {
        "200": {
          "description": "Hub",
          "schema": {
            "$ref": "#/definitions/Hub"
            }
          }
      }        
    }     
	
    }
  },
"definitions": {
  

    "Sla": {
      
      "type": "object",
      "properties": {      
      
        "id": {
          
          "type": "integer",
          "format": "int64"
        }
        ,
        "href": {
          
          "type": "string"
        }
        ,
        "name": {
          
          "type": "string"
        }
        ,
        "description": {
          
          "type": "string"
        }
        ,
        "version": {
          
          "type": "string"
        }
        ,
        "validFor": {
          
                "$ref": "#/definitions/ValidFor"
  
        }
        ,
        "relatedParty": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/RelatedParty"
  
              }
            
        }
        ,
        "rule": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/Rule"
  
              }
            
        }
        ,
        "template": {
          
                "$ref": "#/definitions/Template"
  
        }
        
      }
    }
                
  ,

    "RelatedParty": {
      
      "type": "object",
      "properties": {      
      
        "href": {
          
          "type": "string"
        }
        ,
        "role": {
          
          "type": "string"
        }
        ,
        "name": {
          
          "type": "string"
        }
        ,
        "validFor": {
          
                "$ref": "#/definitions/ValidFor"
  
        }
        
      }
    }
                
  ,

    "Rule": {
      
      "type": "object",
      "properties": {      
      
        "id": {
          
          "type": "string"
        }
        ,
        "metric": {
          
          "type": "string"
        }
        ,
        "unit": {
          
          "type": "string"
        }
        ,
        "referenceValue": {
          
          "type": "string"
        }
        ,
        "operator": {
          
          "type": "string"
        }
        ,
        "tolerance": {
          
          "type": "string"
        }
        ,
        "consequence": {
          
          "type": "string"
        }
        
      }
    }
                
  ,

    "Template": {
      
      "type": "object",
      "properties": {      
      
        "href": {
          
          "type": "string"
        }
        ,
        "name": {
          
          "type": "string"
        }
        ,
        "description": {
          
          "type": "string"
        }
        
      }
    }
                
  ,

    "ValidFor": {
      
      "type": "object",
      "properties": {      
      
        "startDateTime": {
          
          "type": "string",
          "format": "date-time"
        }
        ,
        "endDateTime": {
          
          "type": "string",
          "format": "date-time"
        }
        
      }
    }
                
  ,

    "SlaViolation": {
      
      "type": "object",
      "properties": {      
      
        "id": {
          
          "type": "integer",
          "format": "int64"
        }
        ,
        "href": {
          
          "type": "string"
        }
        ,
        "date": {
          
          "type": "string",
          "format": "date-time"
        }
        ,
        "sla": {
          
                "$ref": "#/definitions/SlaRef"
  
        }
        ,
        "violation": {
          
                "$ref": "#/definitions/Violation"
  
        }
        ,
        "relatedParty": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/RelatedParty"
  
              }
            
        }
        
      }
    }
                
  ,

    "Violation": {
      
      "type": "object",
      "properties": {      
      
        "unit": {
          
          "type": "string"
        }
        ,
        "referenceValue": {
          
          "type": "string"
        }
        ,
        "operator": {
          
          "type": "string"
        }
        ,
        "actualValue": {
          
          "type": "string"
        }
        ,
        "tolerance": {
          
          "type": "number",
          "format": "float"
        }
        ,
        "violationAverage": {
          
          "type": "number",
          "format": "float"
        }
        ,
        "comment": {
          
          "type": "string"
        }
        ,
        "consequence": {
          
          "type": "string"
        }
        ,
        "attachment": {
          
                "$ref": "#/definitions/Attachment"
  
        }
        ,
        "rule": {
          
                "$ref": "#/definitions/RuleRef"
  
        }
        
      }
    }
                
  ,

    "SlaRef": {
      
      "type": "object",
      "properties": {      
      
        "href": {
          
          "type": "string"
        }
        ,
        "description": {
          
          "type": "string"
        }
        
      }
    }
                
  ,

    "Attachment": {
      
      "type": "object",
      "properties": {      
      
        "href": {
          
          "type": "string"
        }
        ,
        "description": {
          
          "type": "string"
        }
        
      }
    }
                
  ,

    "RuleRef": {
      
      "type": "object",
      "properties": {      
      
        "href": {
          
          "type": "string"
        }
        ,
        "description": {
          
          "type": "string"
        }
        
      }
    }
                
  ,

    "Hub": {
      
      "type": "object",
      "properties": {      
      
        "id": {
          
          "type": "string"
        }
        ,
        "callback": {
          
          "type": "string"
        }
        ,
        "query": {
          
          "type": "string"
        }
        
      }
    }
                
  
  }
}
	