{
    "swagger": "2.0", 
    "info": {
        "title": "Resource Catalog Management", 
        "description": "This is Swagger UI environment generated for the TMF Resource Catalog Management specification", 
        "version": "3.1"
    }, 
    "host": "biologeek.orange-labs.fr", 
    "basePath": "/tmf-api/resourceCatalogManagement", 
    "schemes": [
        "https"
    ], 
    "consumes": [
        "application/json"
    ], 
    "produces": [
        "application/json"
    ], 
    "paths": {
        "/resourceCatalog": {
            "get": {
                "operationId": "listResourceCatalog", 
                "summary": "List or find 'ResourceCatalog' objects", 
                "tags": [
                    "resourceCatalog"
                ], 
                "parameters": [
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "fields", 
                        "description": "Comma separated properties to display in response"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "name", 
                        "description": "For filtering: Name of the catalog"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "@type", 
                        "description": "For filtering: Indicates the (class) type of catalog. For resource catalogs, this will be 'ResourceCatalog'."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "@schemaLocation", 
                        "description": "For filtering: This field provides a link to the schema describing this REST resource"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "@baseType", 
                        "description": "For filtering: Indicates<b> </b>the base (class) type of this REST resource"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "version", 
                        "description": "For filtering: Catalog version"
                    }, 
                    {
                        "name": "validFor.startDateTime", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: An instant of time, starting at the TimePeriod"
                    }, 
                    {
                        "name": "validFor.endDateTime", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: An instant of time, ending at the TimePeriod."
                    }, 
                    {
                        "name": "lastUpdate", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: Date and time of the last update"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "lifecycleStatus", 
                        "description": "For filtering: Used to indicate the current lifecycle status"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "relatedParty.role", 
                        "description": "For filtering: Role of the related party."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "relatedParty.name", 
                        "description": "For filtering: Name of the related party"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "category.version", 
                        "description": "For filtering: Category version"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "category.name", 
                        "description": "For filtering: Name of the category"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "category.@type", 
                        "description": "For filtering: the class type of the category"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ResourceCatalog"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/resourceCatalog/{id}": {
            "get": {
                "operationId": "retrieveResourceCatalog", 
                "summary": "Retrieves a 'ResourceCatalog' by Id", 
                "tags": [
                    "resourceCatalog"
                ], 
                "parameters": [
                    {
                        "required": true, 
                        "type": "string", 
                        "name": "id", 
                        "in": "path", 
                        "description": "Identifier of the Resource Catalog"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ResourceCatalog"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/resourceCategory": {
            "get": {
                "operationId": "listResourceCategory", 
                "summary": "List or find 'ResourceCategory' objects", 
                "tags": [
                    "resourceCategory"
                ], 
                "parameters": [
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "fields", 
                        "description": "Comma separated properties to display in response"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "name", 
                        "description": "For filtering: Name of the category"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "@type", 
                        "description": "For filtering: The (class) type of this category"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "@schemalLocation", 
                        "description": "For filtering: This field provides a link to the schema describing this REST resource"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "@baseType", 
                        "description": "For filtering: Immediate base class type of this category"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "version", 
                        "description": "For filtering: Category version"
                    }, 
                    {
                        "name": "validFor.startDateTime", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: An instant of time, starting at the TimePeriod"
                    }, 
                    {
                        "name": "validFor.endDateTime", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: An instant of time, ending at the TimePeriod."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "lifecycleStatus", 
                        "description": "For filtering: Used to indicate the current lifecycle status"
                    }, 
                    {
                        "name": "lastUpdate", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: Date and time of the last update"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "parentId", 
                        "description": "For filtering: Unique identifier of the parent category"
                    }, 
                    {
                        "type": "boolean", 
                        "required": false, 
                        "in": "query", 
                        "name": "isRoot", 
                        "description": "For filtering: If true, this Boolean indicates that the category is a root of categories"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "category.version", 
                        "description": "For filtering: Category version"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "category.name", 
                        "description": "For filtering: Name of the category"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "category.@type", 
                        "description": "For filtering: the class type of the category"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceCandidate.version", 
                        "description": "For filtering: ResourceCandidate version"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceCandidate.name", 
                        "description": "For filtering: Name given to the ResourceCandidate"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceCandidate.@type", 
                        "description": "For filtering: The (class) type of the ResourceCandidate"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "relatedParty.role", 
                        "description": "For filtering: Role of the related party."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "relatedParty.name", 
                        "description": "For filtering: Name of the related party"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ResourceCategory"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/resourceCategory/{id}": {
            "get": {
                "operationId": "retrieveResourceCategory", 
                "summary": "Retrieves a 'ResourceCategory' by Id", 
                "tags": [
                    "resourceCategory"
                ], 
                "parameters": [
                    {
                        "required": true, 
                        "type": "string", 
                        "name": "id", 
                        "in": "path", 
                        "description": "Identifier of the Resource Category"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ResourceCategory"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/resourceCandidate": {
            "get": {
                "operationId": "listResourceCandidate", 
                "summary": "List or find 'ResourceCandidate' objects", 
                "tags": [
                    "resourceCandidate"
                ], 
                "parameters": [
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "fields", 
                        "description": "Comma separated properties to display in response"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "name", 
                        "description": "For filtering: Name given to this REST resource"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "@type", 
                        "description": "For filtering: Class type of this REST resource"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "@schemaLocation", 
                        "description": "For filtering: This field provides a link to the schema describing this REST resource"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "@baseType", 
                        "description": "For filtering: The (immediate) base class type of this REST resource"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "version", 
                        "description": "For filtering: the version of resource candidate"
                    }, 
                    {
                        "name": "validFor.startDateTime", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: An instant of time, starting at the TimePeriod"
                    }, 
                    {
                        "name": "validFor.endDateTime", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: An instant of time, ending at the TimePeriod."
                    }, 
                    {
                        "name": "lastUpdate", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: Date and time of the last update of this REST resource"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "lifecycleStatus", 
                        "description": "For filtering: Used to indicate the current lifecycle status of the resource candidate."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "category.version", 
                        "description": "For filtering: Category version"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "category.name", 
                        "description": "For filtering: Name of the category"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "category.@type", 
                        "description": "For filtering: the class type of the category"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecification.version", 
                        "description": "For filtering: ResourceSpecification version"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecification.name", 
                        "description": "For filtering: Name given to the ResourceSpecification"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecification.@type", 
                        "description": "For filtering: The (class) type of the ResourceSpecification"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ResourceCandidate"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/resourceCandidate/{id}": {
            "get": {
                "operationId": "retrieveResourceCandidate", 
                "summary": "Retrieves a 'ResourceCandidate' by Id", 
                "tags": [
                    "resourceCandidate"
                ], 
                "parameters": [
                    {
                        "required": true, 
                        "type": "string", 
                        "name": "id", 
                        "in": "path", 
                        "description": "Identifier of the Resource Candidate"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ResourceCandidate"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/resourceSpecification": {
            "get": {
                "operationId": "listResourceSpecification", 
                "summary": "List or find 'ResourceSpecification' objects", 
                "tags": [
                    "resourceSpecification"
                ], 
                "parameters": [
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "fields", 
                        "description": "Comma separated properties to display in response"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "name", 
                        "description": "For filtering: Name given to this REST resource"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "@type", 
                        "description": "For filtering: Class type of this REST resource"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "@schemaLocation", 
                        "description": "For filtering: This field provides a link to the schema describing this REST resource"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "@baseType", 
                        "description": "For filtering: The (immediate) base class type of this REST resource"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "version", 
                        "description": "For filtering: Resource Specification version"
                    }, 
                    {
                        "name": "validFor.startDateTime", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: An instant of time, starting at the TimePeriod"
                    }, 
                    {
                        "name": "validFor.endDateTime", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: An instant of time, ending at the TimePeriod."
                    }, 
                    {
                        "name": "lastUpdate", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: Date and time of the last update of this REST resource"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "lifecycleStatus", 
                        "description": "For filtering: Used to indicate the current lifecycle status of the resource specification"
                    }, 
                    {
                        "type": "boolean", 
                        "required": false, 
                        "in": "query", 
                        "name": "isBundle", 
                        "description": "For filtering: A flag indicates that if this resource specification is a bundled specification (true) or single (false)."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "category", 
                        "description": "For filtering: Category of the target resource like NetworkConnectivity, PhysicalLinks, Generic, L2Network and so on."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "targetResourceSchema.@type", 
                        "description": "For filtering: Class type of the target resource"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "targetResourceSchema.@schemaLocation", 
                        "description": "For filtering: This field provides a link to the schema describing the target resource"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "feature.version", 
                        "description": "For filtering: feature version"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "feature.name", 
                        "description": "For filtering: Unique name given to the feature. it is Required if the feature is not introduced as a separate REST resource"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "feature.@type", 
                        "description": "For filtering: The optional (class) type of the feature"
                    }, 
                    {
                        "type": "boolean", 
                        "required": false, 
                        "in": "query", 
                        "name": "feature.isBundle", 
                        "description": "For filtering: A flag indicating if the feature is bundle (true) or not (false)."
                    }, 
                    {
                        "type": "boolean", 
                        "required": false, 
                        "in": "query", 
                        "name": "feature.isEnabled", 
                        "description": "For filtering: A flag indicating if the feature is enabled (true) or not (false)."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "attachment.name", 
                        "description": "For filtering: name given to the attachment"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "attachment.@type", 
                        "description": "For filtering: Attachment class  type"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "attachment.uri", 
                        "description": "For filtering: Uniform Resource Identifier (URI) of the attachment"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "attachment.mimeType", 
                        "description": "For filtering: Attachment mime type such as extension file for video, picture and document"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "relatedParty.role", 
                        "description": "For filtering: Role of the related party."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "relatedParty.name", 
                        "description": "For filtering: Name of the related party"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecCharacteristic.name", 
                        "description": "For filtering: A word, term, or phrase by which this characteristic specification is known and distinguished from other characteristic specifications."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecCharacteristic.valueType", 
                        "description": "For filtering: A kind of value that the characteristic can take on, such as numeric, text and so forth"
                    }, 
                    {
                        "type": "boolean", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecCharacteristic.configurable", 
                        "description": "For filtering: If true, the Boolean indicates that the ResourceSpecCharacteristic is configurable"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecCharacteristic.@type", 
                        "description": "For filtering: (Class) type of the ResourceSpecCharacteristic"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecCharacteristic.@schemaLocation", 
                        "description": "For filtering: A link to the schema describing this characteristic specification"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecCharacteristic.@valueSchemaLocation", 
                        "description": "For filtering: This (optional) field provides a link to the schema describing the value type"
                    }, 
                    {
                        "type": "integer", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecCharacteristic.minCardinality", 
                        "description": "For filtering: The minimum number of instances a CharacteristicValue can take on. For example, zero to five phone numbers in a group calling plan, where zero is the value for the minCardinality."
                    }, 
                    {
                        "type": "integer", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecCharacteristic.maxCardinality", 
                        "description": "For filtering: The maximum number of instances a CharacteristicValue can take on. For example, zero to five phone numbers in a group calling plan, where five is the value for the maxCardinality."
                    }, 
                    {
                        "type": "boolean", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecCharacteristic.isUnique", 
                        "description": "For filtering: An indicator that specifies if a value is unique for the specification. Possible values are; \"unique while value is in effect\" and \"unique whether value is in effect or not\""
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecCharacteristic.regex", 
                        "description": "For filtering: A rule or principle represented in regular expression used to derive the value of a characteristic value."
                    }, 
                    {
                        "type": "boolean", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecCharacteristic.extensible", 
                        "description": "For filtering: An indicator that specifies that the values for the characteristic can be extended by adding new values when instantiating a characteristic for a resource."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecRelationship.type", 
                        "description": "For filtering: Type of relationship such as migration, substitution, dependency, exclusivity"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecRelationship.role", 
                        "description": "For filtering: The association role for this resource specification"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecRelationship.name", 
                        "description": "For filtering: The name given to the target resource specification instance"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ResourceSpecification"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/resourceSpecification/{id}": {
            "get": {
                "operationId": "retrieveResourceSpecification", 
                "summary": "Retrieves a 'ResourceSpecification' by Id", 
                "tags": [
                    "resourceSpecification"
                ], 
                "parameters": [
                    {
                        "required": true, 
                        "type": "string", 
                        "name": "id", 
                        "in": "path", 
                        "description": "Identifier of the Resource Specification"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ResourceSpecification"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/logicalResourceSpec": {
            "get": {
                "operationId": "listLogicalResourceSpec", 
                "summary": "List or find 'LogicalResourceSpec' objects", 
                "tags": [
                    "logicalResourceSpec"
                ], 
                "parameters": [
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "fields", 
                        "description": "Comma separated properties to display in response"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "name", 
                        "description": "For filtering: Name given to this REST resource"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "@type", 
                        "description": "For filtering: Class type of this REST resource"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "@schemaLocation", 
                        "description": "For filtering: This field provides a link to the schema describing this REST resource"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "@baseType", 
                        "description": "For filtering: The (immediate) base class type of this REST resource"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "version", 
                        "description": "For filtering: Resource Specification version"
                    }, 
                    {
                        "name": "validFor.startDateTime", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: An instant of time, starting at the TimePeriod"
                    }, 
                    {
                        "name": "validFor.endDateTime", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: An instant of time, ending at the TimePeriod."
                    }, 
                    {
                        "name": "lastUpdate", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: Date and time of the last update of this REST resource"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "lifecycleStatus", 
                        "description": "For filtering: Used to indicate the current lifecycle status of the resource specification"
                    }, 
                    {
                        "type": "boolean", 
                        "required": false, 
                        "in": "query", 
                        "name": "isBundle", 
                        "description": "For filtering: A flag indicates that if this resource specification is a bundled specification (true) or single (false)."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "category", 
                        "description": "For filtering: Category of the target resource like NetworkConnectivity, PhysicalLinks, Generic, L2Network and so on."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "targetResourceSchema.@type", 
                        "description": "For filtering: Class type of the target resource"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "targetResourceSchema.@schemaLocation", 
                        "description": "For filtering: This field provides a link to the schema describing the target resource"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "feature.version", 
                        "description": "For filtering: feature version"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "feature.name", 
                        "description": "For filtering: Unique name given to the feature. it is Required if the feature is not introduced as a separate REST resource"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "feature.@type", 
                        "description": "For filtering: The optional (class) type of the feature"
                    }, 
                    {
                        "type": "boolean", 
                        "required": false, 
                        "in": "query", 
                        "name": "feature.isBundle", 
                        "description": "For filtering: A flag indicating if the feature is bundle (true) or not (false)."
                    }, 
                    {
                        "type": "boolean", 
                        "required": false, 
                        "in": "query", 
                        "name": "feature.isEnabled", 
                        "description": "For filtering: A flag indicating if the feature is enabled (true) or not (false)."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "attachment.name", 
                        "description": "For filtering: name given to the attachment"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "attachment.@type", 
                        "description": "For filtering: Attachment class  type"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "attachment.uri", 
                        "description": "For filtering: Uniform Resource Identifier (URI) of the attachment"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "attachment.mimeType", 
                        "description": "For filtering: Attachment mime type such as extension file for video, picture and document"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "relatedParty.role", 
                        "description": "For filtering: Role of the related party."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "relatedParty.name", 
                        "description": "For filtering: Name of the related party"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecCharacteristic.name", 
                        "description": "For filtering: A word, term, or phrase by which this characteristic specification is known and distinguished from other characteristic specifications."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecCharacteristic.valueType", 
                        "description": "For filtering: A kind of value that the characteristic can take on, such as numeric, text and so forth"
                    }, 
                    {
                        "type": "boolean", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecCharacteristic.configurable", 
                        "description": "For filtering: If true, the Boolean indicates that the ResourceSpecCharacteristic is configurable"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecCharacteristic.@type", 
                        "description": "For filtering: (Class) type of the ResourceSpecCharacteristic"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecCharacteristic.@schemaLocation", 
                        "description": "For filtering: A link to the schema describing this characteristic specification"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecCharacteristic.@valueSchemaLocation", 
                        "description": "For filtering: This (optional) field provides a link to the schema describing the value type"
                    }, 
                    {
                        "type": "integer", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecCharacteristic.minCardinality", 
                        "description": "For filtering: The minimum number of instances a CharacteristicValue can take on. For example, zero to five phone numbers in a group calling plan, where zero is the value for the minCardinality."
                    }, 
                    {
                        "type": "integer", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecCharacteristic.maxCardinality", 
                        "description": "For filtering: The maximum number of instances a CharacteristicValue can take on. For example, zero to five phone numbers in a group calling plan, where five is the value for the maxCardinality."
                    }, 
                    {
                        "type": "boolean", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecCharacteristic.isUnique", 
                        "description": "For filtering: An indicator that specifies if a value is unique for the specification. Possible values are; \"unique while value is in effect\" and \"unique whether value is in effect or not\""
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecCharacteristic.regex", 
                        "description": "For filtering: A rule or principle represented in regular expression used to derive the value of a characteristic value."
                    }, 
                    {
                        "type": "boolean", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecCharacteristic.extensible", 
                        "description": "For filtering: An indicator that specifies that the values for the characteristic can be extended by adding new values when instantiating a characteristic for a resource."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecRelationship.type", 
                        "description": "For filtering: Type of relationship such as migration, substitution, dependency, exclusivity"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecRelationship.role", 
                        "description": "For filtering: The association role for this resource specification"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecRelationship.name", 
                        "description": "For filtering: The name given to the target resource specification instance"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/LogicalResourceSpec"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/logicalResourceSpec/{id}": {
            "get": {
                "operationId": "retrieveLogicalResourceSpec", 
                "summary": "Retrieves a 'LogicalResourceSpec' by Id", 
                "tags": [
                    "logicalResourceSpec"
                ], 
                "parameters": [
                    {
                        "required": true, 
                        "type": "string", 
                        "name": "id", 
                        "in": "path", 
                        "description": "Identifier of the Logical Resource Spec"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/LogicalResourceSpec"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/physicalResourceSpec": {
            "get": {
                "operationId": "listPhysicalResourceSpec", 
                "summary": "List or find 'PhysicalResourceSpec' objects", 
                "tags": [
                    "physicalResourceSpec"
                ], 
                "parameters": [
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "fields", 
                        "description": "Comma separated properties to display in response"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "name", 
                        "description": "For filtering: Name given to this REST resource"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "@type", 
                        "description": "For filtering: Class type of this REST resource"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "@schemaLocation", 
                        "description": "For filtering: This field provides a link to the schema describing this REST resource"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "@baseType", 
                        "description": "For filtering: The (immediate) base class type of this REST resource"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "version", 
                        "description": "For filtering: Resource Specification version"
                    }, 
                    {
                        "name": "validFor.startDateTime", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: An instant of time, starting at the TimePeriod"
                    }, 
                    {
                        "name": "validFor.endDateTime", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: An instant of time, ending at the TimePeriod."
                    }, 
                    {
                        "name": "lastUpdate", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: Date and time of the last update of this REST resource"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "lifecycleStatus", 
                        "description": "For filtering: Used to indicate the current lifecycle status of the resource specification"
                    }, 
                    {
                        "type": "boolean", 
                        "required": false, 
                        "in": "query", 
                        "name": "isBundle", 
                        "description": "For filtering: A flag indicates that if this resource specification is a bundled specification (true) or single (false)."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "category", 
                        "description": "For filtering: Category of the target resource like NetworkConnectivity, PhysicalLinks, Generic, L2Network and so on."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "model", 
                        "description": "For filtering: This is a string that represents a manufacturer-allocated number used to identify the general type and/or category of the hardware item. This, in combination with the Part and the Vendor, identify different types of hardware items. The SerialNumber can then be used to differentiate between different instances of the same type of hardware item. This is an optional attribute."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "part", 
                        "description": "For filtering: This is a string that defines a manufacturer-allocated part number assigned by the organization that manufactures the hardware item. This, in combination with the Model and the Vendor, identify different types of hardware items. The SerialNumber can then be used to differentiate between different instances of the same type of hardware item. This is a REQUIRED attribute."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "sku", 
                        "description": "For filtering: This is a string that defines the manufacturer-allocated Stock Keeping Unit (SKU) number of the hardware item. This is an optional attribute."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "vendor", 
                        "description": "For filtering: This is a string that defines the name of the manufacturer. This, in combination with the Model and the Part, identify different types of hardware items. The SerialNumber can then be used to differentiate between different instances of the same type of hardware item. This is a REQUIRED attribute for a physical resource."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "place.name", 
                        "description": "For filtering: A user-friendly name for the place, such as \"Paris Store\", \"London Store\", \"Main Home\""
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "place.role", 
                        "description": "For filtering: Role of the place (for instance: 'home delivery', 'shop retrieval')"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "targetResourceSchema.@type", 
                        "description": "For filtering: Class type of the target resource"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "targetResourceSchema.@schemaLocation", 
                        "description": "For filtering: This field provides a link to the schema describing the target resource"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "feature.version", 
                        "description": "For filtering: feature version"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "feature.name", 
                        "description": "For filtering: Unique name given to the feature. it is Required if the feature is not introduced as a separate REST resource"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "feature.@type", 
                        "description": "For filtering: The optional (class) type of the feature"
                    }, 
                    {
                        "type": "boolean", 
                        "required": false, 
                        "in": "query", 
                        "name": "feature.isBundle", 
                        "description": "For filtering: A flag indicating if the feature is bundle (true) or not (false)."
                    }, 
                    {
                        "type": "boolean", 
                        "required": false, 
                        "in": "query", 
                        "name": "feature.isEnabled", 
                        "description": "For filtering: A flag indicating if the feature is enabled (true) or not (false)."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "attachment.name", 
                        "description": "For filtering: name given to the attachment"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "attachment.@type", 
                        "description": "For filtering: Attachment class  type"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "attachment.uri", 
                        "description": "For filtering: Uniform Resource Identifier (URI) of the attachment"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "attachment.mimeType", 
                        "description": "For filtering: Attachment mime type such as extension file for video, picture and document"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "relatedParty.role", 
                        "description": "For filtering: Role of the related party."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "relatedParty.name", 
                        "description": "For filtering: Name of the related party"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecCharacteristic.name", 
                        "description": "For filtering: A word, term, or phrase by which this characteristic specification is known and distinguished from other characteristic specifications."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecCharacteristic.valueType", 
                        "description": "For filtering: A kind of value that the characteristic can take on, such as numeric, text and so forth"
                    }, 
                    {
                        "type": "boolean", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecCharacteristic.configurable", 
                        "description": "For filtering: If true, the Boolean indicates that the ResourceSpecCharacteristic is configurable"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecCharacteristic.@type", 
                        "description": "For filtering: (Class) type of the ResourceSpecCharacteristic"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecCharacteristic.@schemaLocation", 
                        "description": "For filtering: A link to the schema describing this characteristic specification"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecCharacteristic.@valueSchemaLocation", 
                        "description": "For filtering: This (optional) field provides a link to the schema describing the value type"
                    }, 
                    {
                        "type": "integer", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecCharacteristic.minCardinality", 
                        "description": "For filtering: The minimum number of instances a CharacteristicValue can take on. For example, zero to five phone numbers in a group calling plan, where zero is the value for the minCardinality."
                    }, 
                    {
                        "type": "integer", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecCharacteristic.maxCardinality", 
                        "description": "For filtering: The maximum number of instances a CharacteristicValue can take on. For example, zero to five phone numbers in a group calling plan, where five is the value for the maxCardinality."
                    }, 
                    {
                        "type": "boolean", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecCharacteristic.isUnique", 
                        "description": "For filtering: An indicator that specifies if a value is unique for the specification. Possible values are; \"unique while value is in effect\" and \"unique whether value is in effect or not\""
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecCharacteristic.regex", 
                        "description": "For filtering: A rule or principle represented in regular expression used to derive the value of a characteristic value."
                    }, 
                    {
                        "type": "boolean", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecCharacteristic.extensible", 
                        "description": "For filtering: An indicator that specifies that the values for the characteristic can be extended by adding new values when instantiating a characteristic for a resource."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecRelationship.type", 
                        "description": "For filtering: Type of relationship such as migration, substitution, dependency, exclusivity"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecRelationship.role", 
                        "description": "For filtering: The association role for this resource specification"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecRelationship.name", 
                        "description": "For filtering: The name given to the target resource specification instance"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/PhysicalResourceSpec"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/physicalResourceSpec/{id}": {
            "get": {
                "operationId": "retrievePhysicalResourceSpec", 
                "summary": "Retrieves a 'PhysicalResourceSpec' by Id", 
                "tags": [
                    "physicalResourceSpec"
                ], 
                "parameters": [
                    {
                        "required": true, 
                        "type": "string", 
                        "name": "id", 
                        "in": "path", 
                        "description": "Identifier of the Physical Resource Spec"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/PhysicalResourceSpec"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/importJob": {
            "get": {
                "operationId": "listImportJob", 
                "summary": "List or find 'ImportJob' objects", 
                "tags": [
                    "importJob"
                ], 
                "parameters": [
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "fields", 
                        "description": "Comma separated properties to display in response"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "contentType", 
                        "description": "For filtering: Indicates the format of the imported data"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "path", 
                        "description": "For filtering: URL of the root resource where the content of the file specified by the import job must be applied"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "status", 
                        "description": "For filtering: Status of the import job (not started, running, succeeded, failed)"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "url", 
                        "description": "For filtering: URL of the file containing the data to be imported"
                    }, 
                    {
                        "name": "completionDate", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: Date at which the job was completed"
                    }, 
                    {
                        "name": "creationDate", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: Date at which the job was created"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "errorLog", 
                        "description": "For filtering: Reason for failure if status is failed"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ImportJob"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }, 
            "post": {
                "operationId": "createImportJob", 
                "summary": "Creates a 'ImportJob'", 
                "tags": [
                    "importJob"
                ], 
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/ImportJob_Create"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "name": "importJob", 
                        "description": "The Import Job to be created"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Created", 
                        "schema": {
                            "$ref": "#/definitions/ImportJob"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/importJob/{id}": {
            "get": {
                "operationId": "retrieveImportJob", 
                "summary": "Retrieves a 'ImportJob' by Id", 
                "tags": [
                    "importJob"
                ], 
                "parameters": [
                    {
                        "required": true, 
                        "type": "string", 
                        "name": "id", 
                        "in": "path", 
                        "description": "Identifier of the Import Job"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ImportJob"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/exportJob": {
            "get": {
                "operationId": "listExportJob", 
                "summary": "List or find 'ExportJob' objects", 
                "tags": [
                    "exportJob"
                ], 
                "parameters": [
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "fields", 
                        "description": "Comma separated properties to display in response"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "query", 
                        "description": "For filtering: Used to scope the exported data"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "path", 
                        "description": "For filtering: URL of the root resource acting as the source for streaming content to the file specified by the export job"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "contentType", 
                        "description": "For filtering: The format of the exported data"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "status", 
                        "description": "For filtering: Status of the export job (not started, running, succeeded, failed)"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "url", 
                        "description": "For filtering: URL of the file containing the data to be exported"
                    }, 
                    {
                        "name": "completionDate", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: Data at which the job was completed"
                    }, 
                    {
                        "name": "creationDate", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: Date at which the job was created"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "errorLog", 
                        "description": "For filtering: Reason for failure"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ExportJob"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }, 
            "post": {
                "operationId": "createExportJob", 
                "summary": "Creates a 'ExportJob'", 
                "tags": [
                    "exportJob"
                ], 
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/ExportJob_Create"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "name": "exportJob", 
                        "description": "The Export Job to be created"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Created", 
                        "schema": {
                            "$ref": "#/definitions/ExportJob"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/exportJob/{id}": {
            "get": {
                "operationId": "retrieveExportJob", 
                "summary": "Retrieves a 'ExportJob' by Id", 
                "tags": [
                    "exportJob"
                ], 
                "parameters": [
                    {
                        "required": true, 
                        "type": "string", 
                        "name": "id", 
                        "in": "path", 
                        "description": "Identifier of the Export Job"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ExportJob"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/hub": {
            "post": {
                "operationId": "registerListener", 
                "summary": "Register a listener", 
                "description": "Sets the communication endpoint address the service instance must use to deliver information about its health state, execution state, failures and metrics.", 
                "tags": [
                    "events subscription"
                ], 
                "parameters": [
                    {
                        "name": "data", 
                        "schema": {
                            "$ref": "#/definitions/EventSubscriptionInput"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "description": "Data containing the callback endpoint to deliver the information"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Subscribed", 
                        "schema": {
                            "$ref": "#/definitions/EventSubscription"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/hub/{id}": {
            "delete": {
                "operationId": "unregisterListener", 
                "summary": "Unregister a listener", 
                "description": "Resets the communication endpoint address the service instance must use to deliver information about its health state, execution state, failures and metrics.", 
                "tags": [
                    "events subscription"
                ], 
                "parameters": [
                    {
                        "name": "id", 
                        "type": "string", 
                        "required": true, 
                        "in": "path", 
                        "description": "The id of the registered listener"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Unsubscribed"
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }
    }, 
    "definitions": {
        "ResourceCatalog": {
            "type": "object", 
            "description": "The root entity for resource catalog management.\nA resource catalog is a group of resource specifications made available through resource candidates that an organization provides to the consumers (internal consumers like its employees or B2B customers or B2C customers).", 
            "properties": {
                "id": {
                    "type": "string", 
                    "description": "Unique identifier of the Catalog"
                }, 
                "href": {
                    "type": "string", 
                    "description": "Unique reference of the catalog"
                }, 
                "name": {
                    "type": "string", 
                    "description": "Name of the catalog"
                }, 
                "description": {
                    "type": "string", 
                    "description": "Description of this catalog"
                }, 
                "@type": {
                    "type": "string", 
                    "description": "Indicates the (class) type of catalog. For resource catalogs, this will be 'ResourceCatalog'."
                }, 
                "@schemaLocation": {
                    "type": "string", 
                    "description": "This field provides a link to the schema describing this REST resource"
                }, 
                "@baseType": {
                    "type": "string", 
                    "description": "Indicates<b> </b>the base (class) type of this REST resource"
                }, 
                "version": {
                    "type": "string", 
                    "description": "Catalog version"
                }, 
                "validFor": {
                    "$ref": "#/definitions/TimePeriod", 
                    "description": "The period for which the catalog is valid"
                }, 
                "lastUpdate": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "Date and time of the last update"
                }, 
                "lifecycleStatus": {
                    "type": "string", 
[...]
