
{
  "swagger": "2.0",
  "info": {
    "description": "",
    "version": "2.0",
    "title": "API UsageManagement"
  },
  "host": "env-0693795.jelastic.servint.net",
  "basePath":	"/DSUsageManagement/api/usageManagement/v2",
  "schemes": [
      "http"
  ],
  "consumes": [
      "application/json"
  ],
  "produces": [
      "application/json"
  ],  
  "paths": {    
    "/usage": {        
    "post": {
      "tags": [
         "usage"
      ],            
      "operationId": "usageCreate",
      "summary": "usageCreate",
      "description": "",       
      "deprecated": false,
      "parameters": [
      
                          
        
                      
        {
         "name": "usage",
          "in": "body",
          "required": true,
          "schema": {
            "$ref": "#/definitions/Usage"
          }
        }          
      ],
      "responses": {
        "201": {
          "description": "Usage",
          "schema": {
            "$ref": "#/definitions/Usage"
          }
        }
      }
    }
	
    },    
    "/usage/{usageId}": {
    "delete": {
      "tags": [
         "usage"
      ],    
      "operationId": "usageDelete",
      "summary": "usageDelete",
      "description": "",
      "deprecated": false,
        
      "parameters": [
      
                                  
            
        {
          "name": "usageId",
          "in": "path",
          "required": true,            
          "type": "string"
        }
  
        
      ],
         
      "responses": {
        "204": {
          "description": "Success"
          }  
      }   
    }
	,
    "get": {
      "tags": [
         "usage"
      ],    
      "operationId": "usageGet",
      "summary": "usageGet",
      "description": "",
      "deprecated": false,
            
      "parameters": [
      
                                  
            
        {
          "name": "usageId",
          "in": "path",
          "required": true,            
          "type": "string"
        }
  ,
        {
          "name": "fields",
          "in": "query",
          "required": false,            
          "description": "",
          
          "type": "string"                      
        }    
        

      ],
         
      "responses": {
        "200": {
          "description": "Usage",
          "schema": {
            "$ref": "#/definitions/Usage"
            }
          }
      }        
    }     
	,
    "put": {
      "tags": [
         "usage"
      ],            
      "operationId": "usageUpdate",
      "summary": "usageUpdate",
      "description": "",      
      "deprecated": false, 
      "parameters": [
      
                                  
            
        {
          "name": "usageId",
          "in": "path",
          "required": true,            
          "type": "string"
        }
  ,
               
        {
         "name": "usage",
         "in": "body",
         "required": true,
         "schema": {
           "$ref": "#/definitions/Usage"
         }
        }                               
      ], 
      "responses": {
        "201": {
          "description": "Success Usage",
          "schema": {
            "$ref": "#/definitions/Usage"
            }
          }
      }             
    }
	
    },    
    "/usageSpecification": {        
    "post": {
      "tags": [
         "usageSpecification"
      ],            
      "operationId": "usageSpecificationCreate",
      "summary": "usageSpecificationCreate",
      "description": "",       
      "deprecated": false,
      "parameters": [
      
                          
        
                      
        {
         "name": "usageSpecification",
          "in": "body",
          "required": true,
          "schema": {
            "$ref": "#/definitions/UsageSpecification"
          }
        }          
      ],
      "responses": {
        "201": {
          "description": "UsageSpecification",
          "schema": {
            "$ref": "#/definitions/UsageSpecification"
          }
        }
      }
    }
	
    },    
    "/usageSpecification/{usageSpecificationId}": {
    "delete": {
      "tags": [
         "usageSpecification"
      ],    
      "operationId": "usageSpecificationDelete",
      "summary": "usageSpecificationDelete",
      "description": "",
      "deprecated": false,
        
      "parameters": [
      
                                  
            
        {
          "name": "usageSpecificationId",
          "in": "path",
          "required": true,            
          "type": "string"
        }
  
        
      ],
         
      "responses": {
        "204": {
          "description": "Success"
          }  
      }   
    }
	,
    "get": {
      "tags": [
         "usageSpecification"
      ],    
      "operationId": "usageSpecificationGet",
      "summary": "usageSpecificationGet",
      "description": "",
      "deprecated": false,
            
      "parameters": [
      
                                  
            
        {
          "name": "usageSpecificationId",
          "in": "path",
          "required": true,            
          "type": "string"
        }
  ,
        {
          "name": "fields",
          "in": "query",
          "required": false,            
          "description": "",
          
          "type": "string"                      
        }    
        

      ],
         
      "responses": {
        "200": {
          "description": "UsageSpecification",
          "schema": {
            "$ref": "#/definitions/UsageSpecification"
            }
          }
      }        
    }     
	
    },    
    "/hub": {        
    "post": {
      "tags": [
         "hub"
      ],            
      "operationId": "hubCreate",
      "summary": "hubCreate",
      "description": "",       
      "deprecated": false,
      "parameters": [
      
                          
        
                      
        {
         "name": "hub",
          "in": "body",
          "required": true,
          "schema": {
            "$ref": "#/definitions/Hub"
          }
        }          
      ],
      "responses": {
        "201": {
          "description": "Hub",
          "schema": {
            "$ref": "#/definitions/Hub"
          }
        }
      }
    }
	,
    "get": {
      "tags": [
         "hub"
      ],          
      "operationId": "hubFind",
      "summary": "hubFind",
      "description": "",       
      "deprecated": false,
         
      "responses": {
        "200": {
          "description": "List of Hub",
          "schema": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/Hub"
            }
          } 
        }          
      }
    }
	
    },    
    "/hub/{hubId}": {
    "delete": {
      "tags": [
         "hub"
      ],    
      "operationId": "hubDelete",
      "summary": "hubDelete",
      "description": "",
      "deprecated": false,
        
      "parameters": [
      
                                  
            
        {
          "name": "hubId",
          "in": "path",
          "required": true,            
          "type": "string"
        }
  
        
      ],
         
      "responses": {
        "204": {
          "description": "Success"
          }  
      }   
    }
	,
    "get": {
      "tags": [
         "hub"
      ],    
      "operationId": "hubGet",
      "summary": "hubGet",
      "description": "",
      "deprecated": false,
            
      "parameters": [
      
                                  
            
        {
          "name": "hubId",
          "in": "path",
          "required": true,            
          "type": "string"
        }
        

      ],
         
      "responses": {
        "200": {
          "description": "Hub",
          "schema": {
            "$ref": "#/definitions/Hub"
            }
          }
      }        
    }     
	
    }
  },
"definitions": {
  

    "Usage": {
      
      "type": "object",
      "properties": {      
      
        "id": {
          
          "type": "integer",
          "format": "int64"
        }
        ,
        "href": {
          
          "type": "string"
        }
        ,
        "date": {
          
          "type": "string",
          "format": "date-time"
        }
        ,
        "type": {
          
          "type": "string"
        }
        ,
        "description": {
          
          "type": "string"
        }
        ,
        "status": {
          
          "type": "string",    
          "enum": [   
          
            "Received",
            "Rejected",
            "Recycled",
            "Guided",
            "Rated",
            "Rerate",
            "Billed"
          ]
  
        }
        ,
        "usageSpecification": {
          
                "$ref": "#/definitions/UsageSpecification"
  
        }
        ,
        "usageCharacteristic": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/UsageCharacteristic"
  
              }
            
        }
        ,
        "relatedParty": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/Reference"
  
              }
            
        }
        ,
        "ratedProductUsage": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/RatedProductUsage"
  
              }
            
        }
        
      }
    }
                
  ,

    "UsageSpecification": {
      
      "type": "object",
      "properties": {      
      
        "id": {
          
          "type": "integer",
          "format": "int64"
        }
        ,
        "href": {
          
          "type": "string"
        }
        ,
        "name": {
          
          "type": "string"
        }
        ,
        "description": {
          
          "type": "string"
        }
        ,
        "validFor": {
          
                "$ref": "#/definitions/ValidFor"
  
        }
        ,
        "usageSpecCharacteristic": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/UsageSpecCharacteristic"
  
              }
            
        }
        
      }
    }
                
  ,

    "RatedProductUsage": {
      
      "type": "object",
      "properties": {      
      
        "ratingDate": {
          
          "type": "string",
          "format": "date-time"
        }
        ,
        "usageRatingTag": {
          
          "type": "string"
        }
        ,
        "isBilled": {
          
          "type": "boolean"
        }
        ,
        "ratingAmountType": {
          
          "type": "string"
        }
        ,
        "taxIncludedRatingAmount": {
          
          "type": "number",
          "format": "float"
        }
        ,
        "taxExcludedRatingAmount": {
          
          "type": "number",
          "format": "float"
        }
        ,
        "taxRate": {
          
          "type": "number",
          "format": "float"
        }
        ,
        "isTaxExempt": {
          
          "type": "boolean"
        }
        ,
        "offerTariffType": {
          
          "type": "string"
        }
        ,
        "bucketValueConvertedInAmount": {
          
          "type": "number",
          "format": "float"
        }
        ,
        "currencyCode": {
          
          "type": "string"
        }
        ,
        "productRef": {
          
          "type": "string"
        }
        
      }
    }
                
  ,

    "Reference": {
      
      "type": "object",
      "properties": {      
      
        "id": {
          
          "type": "string"
        }
        ,
        "href": {
          
          "type": "string"
        }
        ,
        "role": {
          
          "type": "string"
        }
        
      }
    }
                
  ,

    "UsageCharacteristic": {
      
      "type": "object",
      "properties": {      
      
        "name": {
          
          "type": "string"
        }
        ,
        "value": {
          
          "type": "string"
        }
        
      }
    }
                
  ,

    "UsageSpecCharacteristic": {
      
      "type": "object",
      "properties": {      
      
        "name": {
          
          "type": "string"
        }
        ,
        "description": {
          
          "type": "string"
        }
        ,
        "configurable": {
          
          "type": "boolean"
        }
        ,
        "usageSpecCharacteristicValue": {
          
              "type": "array",
              "items": {
                  
                "$ref": "#/definitions/UsageSpecCharacteristicValue"
  
              }
            
        }
        
      }
    }
                
  ,

    "UsageSpecCharacteristicValue": {
      
      "type": "object",
      "properties": {      
      
        "valueType": {
          
          "type": "string"
        }
        ,
        "default": {
          
          "type": "boolean"
        }
        ,
        "value": {
          
          "type": "string"
        }
        ,
        "valueFrom": {
          
          "type": "string"
        }
        ,
        "valueTo": {
          
          "type": "string"
        }
        
      }
    }
                
  ,

    "ValidFor": {
      
      "type": "object",
      "properties": {      
      
        "startDateTime": {
          
          "type": "string",
          "format": "date-time"
        }
        ,
        "endDateTime": {
          
          "type": "string",
          "format": "date-time"
        }
        
      }
    }
                
  ,

    "Hub": {
      
      "type": "object",
      "properties": {      
      
        "id": {
          
          "type": "string"
        }
        ,
        "callback": {
          
          "type": "string"
        }
        ,
        "query": {
          
          "type": "string"
        }
        
      }
    }
                
  
  }
}
	